.wrapper
  %article
    %h1 How to analyze banking sector shares
    = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 What is a bank?
      %p
        A bank is essentially a financial institution that acts as an intermediary between those who need
        money and those who have an excess of it. Banks accept deposits from companies and the general
        public and make loans to companies and individuals who need money. Banks offer interest on the
        deposits made with it and charge interest on the loans lent out. The rate of interest offered on
        deposits is less than the interest charged on loans lent out. The difference between these interests is
        the main source of income for a bank.
      %p
        Apart from depositors’ money, a bank has access to other sources of funds like borrowing from the
        RBI (Reserve Bank of India), from corporate bodies and from foreign sources. (The Reserve Bank
        of India (RBI) is a government body that oversees the banking system in India and is in charge of
        regulating the affairs of the banks.)
      %p
        Banking is probably the most important sector in any country. A country cannot grow without a
        healthy and robust banking sector. Loans (credit) are the lifeblood of any economy. Companies need
        loans to take up new projects, to bridge short term liquidity gaps and for working capital. People
        need loans to buy houses, cars, educate their children and a myriad of other things. Some of the best
        paid executives in the world are bankers.
    %section
      %h1 The banking sector in India
      %p
        The banking sector in India is well regulated by the RBI and is considered to be fairly conservative
        compared to its global peers. India has 2 categories of banks – Public sector banks and Private sector
        banks. It is possible to invest in the shares of both private sector and public sector banks as most of
        the major banks’ shares trade on the BSE and NSE.
      %p
        Public sector banks (e.g. SBI, Andhra Bank) are owned at least partially by the Government of India.
        They tend to be conservative and have higher needs for documentation and collateral for making
        loans. Some people have the opinion that they are more slow and bureaucratic in their style of
        functioning and are more difficult for individuals to do business with.
      %p
        Private banks are purely privately owned. They tend to be more aggressive and give out loans a little
        more easily than public sector banks. Some people feel that private sector banks are more focussed
        on sales than public sector banks and tend to close deals faster.
    %section
      %h1 Key factors to analyze in a bank
      %p
        As always, the key factors to consider while evaluating any company are growth potential,
        profitability and quality of management. The following factors tend to influence the growth and
        profitability of banks. The operations and share prices of all banks are influenced by these factors.
      %ol
        %li
          %b Interest Rates 
          ( In general, the lower the interest rates, the better for the bank’s share price)
          %P
            %b Definition: 
            The bank rate is the rate at which RBI lends funds to commercial banks.
          %p
            %b Source: 
            RBI website
          %p
            %b Importance: 
            When the RBI increases the Bank Rate, the rate at which banks borrow funds increases.
            An increase in bank rate is usually accompanied by a simultaneous increase in deposit rates
            (to encourage customers to deposit more cash as deposits are a cheaper source of funds than
            borrowing) and lending rates (The increase cost of borrowing is passed onto debtors of the bank).
          %p
            One should be careful when the prevailing bank rates are high because an increase in bank rate
            beyond a certain point can have negative effects like:
          %ol.lower_alpha
            %li
              %b Higher NPAs: 
              When a customer defaults on a loan (interest is outstanding for more than
              90 days), the bank writes off the loans from its books and the loan is termed as a 
              %u Non-Performing Asset (NPA). 
              An increase in the bank rate leads to an increase in interest borne
              by the borrower which in turn can lead to an increase in loan defaults.
            %li
              %b Credit Crunch: 
              At high interest rates, banks might find it tough to borrow which can lead to a
              credit crunch (reduction in availability of loans) and in turn hurt general lending operations
              of the bank.
            %li
              %b Decrease in credit uptake: 
              The increased rates discourage borrowers from taking fresh loans,
              thus leading to a decrease in credit uptake. The inability of a bank to deploy loans in turn
              effect its profitability as interest on loans is a major source of income for a bank.
        %li
          %b Net Interest Margin 
          (The higher the Net Interest Margin of a bank, the better for its share price)
          %p
            %b Definition:
            %u Net interest margin 
            is the percentage difference between income generated from loans
            made by the bank and the interest paid on loans taken by the bank. It is expressed as a percentage
            of what the financial institution earns on loans and other assets in a time period minus the interest
            paid on borrowed funds divided by the average amount of the assets on which it earned income in
            that time period (the average earning assets).
          %p
            %b Source: 
            Footnotes of company financials and conference calls.
          %p
            %b Importance: 
            Net interest margin (NIM) is an indicator of the ability of a bank to generate returns.
            Higher the NIM, the more profit a bank can earn from a given pool of funds. There is no benchmark
            number which is considered as an ideal level to maintain. While assessing NIM, an investor should
            do a relative comparison of NIMs of different banks to get an idea of how good or bad a given bank
            is performing.
        %li
          %b Provisions and Non-Performing Assets (NPA) 
          (The lower NPAs for a bank, the better for its share price)
          %p
            %b Definition: 
            When a bank does not expect a customer to repay the loan, it sets aside a certain sum of
            money for the expected loss. This is known as a provision.
          %p
            When a customer defaults on a loan (interest is outstanding or more than 90 days), the bank writes
            it off from its books and the loan is termed as a
            %u Non-Performing Asset (NPA).
            There are 2 forms of NPAs:-
          %p
            %b Gross NPA: 
            The amount outstanding against the borrowers account (with the outstanding interest)
          %p
            %b Net NPA: 
            Gross NPA - Provisions made on the loan – Recoveries made on the loan – other adjustments
          %p
            %b Source: 
            Profit and Loss statement
          %p
            %b
              Importance: 
            Provisions and NPAs are a reflection of the healthiness of a bank’s loan portfolio
            book. Higher ratio reflects rising bad quality of loans. Generally private banks have higher ratio of
            provisions and NPAs as compared to public banks because
          %ol.lower_alpha
            %li
              Private banks are known be more aggressive than public banks while dispersing loans
            %li
              Private banks charge a higher rate of interest as compared to public banks. Thus, the
              chances of interest/ loan defaults are higher.
          %p
            Hence it would be a good idea to avoid comparing public banks versus private banks. Also amongst
            the two NPAs- Gross NPA vs Net NPA, give more weightage to Gross NPAs.
        %li
          %b
            Capital Adequacy Ratio (CAR) ) 
          (The higher the CAR of a bank, the better for the its shareprice)
          %p
            %b
              Definition: 
            Capital adequacy ratios are a measure of the amount of a bank's capital expressed as
            a percentage of its risky loans. It is a measure of how well capitalized a bank is, i.e. how easily it
            can withstand losses. Applying minimum capital adequacy ratios serves to protect depositors and
            improve the stability and efficiency of the financial system. The RBI specifies the minimum capital
            adequacy ratios that all banks have to maintain. As investors, we have to expect more than just the
            minimum.
          %p
            There are 2 types of CAR:
          %p
            Tier-I Capital Ratio: The level at which a bank can absorb losses without being required to cease trading.
          %p
            Tier-II Capital Ratio: The level at which a bank can absorb losses in the event of a winding-up. It
            provides a lesser degree of protection to depositors, e.g. subordinated debt.
          %p
            %b
              Source: 
            Profit and Loss statement
          %p
            %b
              Importance: 
            The higher the CAR, the safer are the depositors’ funds. Considering that banks have
            been expanding their operations very aggressively, it is important to keep an eye out for whether
            they are adequately capitalized. A bank which maintains its CAR a few percentage points above the
            prescribed level is considered safe.
        %li
          %b
            CASA Ratio
          (The higher the CASA ratio of a bank, the better for its share price)
          %p
            %b
              Definition: 
            This is the ratio of current account and savings account deposits to the total deposit base of the bank.
          %p
            %b
              Source:
              Footnotes of company financials and conference calls.
          %p
            %b
              Importance:
            The bank pays out much lower interest rates on savings accounts and current accounts
            than other types of deposits such as fixed deposits. Raising money this way is also cheaper than
            loans from other sources like RBI, money market or other banks. Hence for a given sum of money,
            higher the ratio more profitable is the bank.
        %li
          %b
            Number of branches
          (The more branches a bank has, the bigger and better it is)
          %p
            The greater the number of branches, the better connected the bank is to its customers. This gives it a:
            %ol.lower_alpha
              %li
                Better ability to generate funds via deposits.
              %li
                Better ability to disperse loans.
          %p
            Now that you know the important factors to look for in banks, go ahead and look at some banks
            #{link_to 'stocks','http://investopresto.com/stocks/14030001.0'} to put your newfound knowledge to work!
    %section
      %h1 Performance of Banking Sector
      %table
        %tr
          %th.center_align{:colspan => 8}Bank Index vs Interest Rates
        %tr
          %th.center_align{:colspan => 8} Yearly Returns of Banking Stocks
        %tr.center_align
          %td{:rowspan => 2} Date
          %td{:colspan => 3}Public Banks
          %td
          %td{:colspan => 3}Private Banks
        %tr.center_align
          %td Sbi
          %td Andhra Bank
          %td PNB
          %td
          %td Sbi
          %td Andhra Bank
          %td PNB
        %tr.center_align
          %td 31-Mar-09
          %td -34.26%
          %td -39.49%
          %td -17.48%
          %td
          %td -42.50%
          %td -56.08%
          %td -25.48%
        %tr.center_align
          %td 31-Mar-10
          %td 94.75%
          %td 139.38%
          %td 146.14%
          %td
          %td 181.54%
          %td 186.21%
          %td 99.55%
        %tr.center_align
          %td 31-Mar-11
          %td 33.06%
          %td 39.23%
          %td 19.74%
          %td
          %td 20.17%
          %td 17.19%
          %td 21.51%
        %tr.center_align
          %td 31-Mar-12
          %td -24.19%
          %td -21.91%
          %td -23.72%
          %td
          %td -18.35%
          %td -20.25%
          %td -78.00%
      .center_align
        %small
          * The above returns are adjusted for stock bonus and stock splits
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.technical analysis'), page_path('investment_education/technical-analysis-shares')
      .article_next
        Next:
        =link_to t('investment_education.sectors : IT'), page_path('investment_education/it-sector')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li
          An asset class is a group of investments which have similar characteristics, exhibit
          similar behavior and are subject to the same regulations.
        %li
          Equities, Fixed Income and Cash equivalents are the main asset classes and they
          varying levels of risk and return.
        %li
          The process of asset allocation consists of distributing available capital across
          various asset classes according to the individual’s needs, risk tolerance and time
          horizon.
    .articles
      %h1 Articles
      %ul
        %li=link_to "Try our Asset Allocator.", "http://www.investopresto.com/prebeta/membershipPages/PlanningTools.aspx", html_options = {:target => "_blank"}
        %li=link_to "Finding the Right Asset Allocation", "http://www.schwabmoneywise.com/basics/investing/asset-allocation.php", html_options = {:target => "_blank"}
        %li=link_to "Common Asset allocation strategies", "http://www.abcsofinvesting.net/asset-allocation-strategies/", html_options = {:target => "_blank"}
        %li=link_to "Asset allocation strategies", "http://www.investopedia.com/articles/04/031704.asp", html_options = {:target => "_blank"}
        %li=link_to "Asset Allocation -Wikipedia", "http://en.wikipedia.org/wiki/Asset_allocation", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "Examining Asset Allocation and Assumptions", "http://www.youtube.com/watch?v=o-p1q3sGscc", html_options = {:target => "_blank"}
        %li=link_to "Asset Allocation Pyramid", "http://www.youtube.com/watch?v=uKz4mc1gYeQ&feature=related", html_options = {:target => "_blank"}
