.wrapper
  %article
    %h1 Exchange Traded Funds:
    %section
      = render :partial => 'layouts/facebook_recommend'
    %p
      ETFs are mutual funds whose shares trade on stock exchanges just like the stocks of any company. Investors can buy shares of ETFs just as they buy shares of any company; i.e. through stock brokers. ETFs are passively-managed as managers try to track the performance of a chosen benchmark index.
      The chosen benchmark could be any major index such as the Dow Jones Industrial Average or the S & P 500. An index is a measure that could represent the performance of a particular section of the stock market over time. Changes in the index level show the performance of the sector it represents. For example, the Dow Jones Industrial Average represents the economic activity of the industrial sector in the United States.
    %section
      %h1 Unique Features:
      =image_tag  "investment_education/UniqueFeatures.png"
      %p
        Just as in the case of other,
        mutual funds
        shares of ETFs represent the underlying basket of stocks that the fund tracks. ETFs
        tend to trade at prices very close to their Net Asset Values (NAVs). The Net Asset Value
        of a fund is the total market value of all the assets owned by the fund minus the total market
        value of all the liabilities of the fund, divided by the total number of shares issued by the fund.
      %p
        This is facilitated by a unique mechanism involving arbitrage. Certain large players and institutional
        investors designated as “authorized participants” are allowed to create and redeem shares of these ETFs by
        exchanging shares of the ETF with a basket of the shares that the ETF tracks.
      %p
        For example, if ABC ETF tracks the Dow Jones Industrial Average and has an NAV of Rs.9.31 but trades on the NYSE at
        Rs.9.41, an authorized participant could simply buy the equivalent number of shares of the components of the Dow Jones
        Industrial Average and give this basket to the mutual fund that manages ABC ETF, which would then issue shares of ABC ETF
        to XYZ Corp. XYZ would immediately sell these ETF shares in the open market for Rs.9.41 and make a profit of Rs.0.1 per share. If XYZ sells 1
        million shares, it would earn Rs.100,000. This would bring down the price of ABC ETF in the open market. The inverse transaction would occur if
        the ETF were to trade below its NAV. Thus, arbitrage ensures that ETFs trade at prices that are very close to their NAVs.
    %section
      %h1 How are ETFs created?
      %p A sponsor will initiate this process by deciding upon an investment objective. The sponsor will then choose an underlying index to track, and decide how to track it.
    %section
      %h1 Methods of Replication:
      =image_tag  "investment_education/MethodsOfReplication.png"
      %ol
        %li Full Replication: The ETF manager will replicate the underlying index by holding the same securities in the exact same proportion as the underlying index. If however, the underlying index tracks a large number of highly illiquid stocks, it will be difficult and costly for the Manager to track the index accurately. Illiquid stocks are simply stocks that are not actively traded. Thus, it will be difficult and thus, more expensive, for anyone to buy or sell the stock.
        %li Representative Sampling: Unlike in full replication, where the ETF manager will buy all the stocks in exact same proportion as the underlying index, the representative sampling method requires that the Manager try to replicate the index’s characteristics such that the portfolio will exhibit similar performance. Possible characteristics for consideration include market capitalization or growth or value style bias.
        %li Synthetic Replication: The ETF manager will replicate underlying index performance using more sophisticated methods such as derivatives which will include futures and swaps. As ETFs are usually tight on cash, managers will try to find tracking methods that reduce transaction costs, etc. Managers have claimed that so far this method is most cost-efficient and minimizes errors in tracking.
    %section
      %h1 Advantages:
      =image_tag  "investment_education/Disadvantages.png"
      %ol
        %li ETFs do not involve entry or exit load. Entry and exit loads are expenses incurred by the fund managers in the administration of a mutual fund. These expenses are ultimately passed on to the holders of the shares of the fund. Thus, ETFs are efficient means of getting exposure to the underlying basket of securities.
        %li Most ETFs track a given index. Thus, they provide good diversification benefits.
        %li Cost-Efficiency: Since they usually trade at prices very close to their NAVs, ETFs are cost-efficient. Investors however, have to pay brokerage charges to buy/sell shares of ETFs. Though it is possible that illiquid ETFs may trade at discounts/premiums to their NAV, it is very rare because of the above mentioned mechanism (arbitrage).
        %li ETFs are passively-managed, investors do not have to pay exorbitant fees to the ETF managers. In most cases, they only have to pay a fee known as the expense ratio, which is usually significantly lower than the management fees, sales charges and other costs paid to most mutual funds and hedge funds.
        %li Transparency: ETFs are extremely transparent in terms of performance. For example if the underlying index were to increase by 2%, the NAV of the ETF would also increase by 2%. The ETF will calculate the estimated NAV of its portfolio and publish this value on its website. This estimated value is known as the indicative NAV, or iNAV. The iNAV will be constantly updated throughout market opening hours so that investors are able to easily determine if the price traded on the stock exchange is above or below the ETF’s estimated value.
        %li Flexible: ETFs are tradable on the exchange and investors can buy and sell them easily in response to changes in market conditions.
    %section
      %h1 Disadvantages:
      %ol
        %li Tracking error: Tracking errors occur if the performance of the ETF deviates from the performance of the underlying benchmark that it represents. This error may be negative or positive. In most cases, the error is as small as about 0.5% but this may widen to about 1% in volatile markets.
        %li Passive management: An ETF is supposed to represent its underlying benchmark. Thus, the ETF manager will invest in stocks that are part of the underlying index, even if they are underperforming.
      =image_tag "investment_education/RiskProfile1.png", :height => "150px", :width => "200px"
      %p Some investors are in a better position to take risks or are more willing to take risks than others. The distinction between the two is important since a willingness to take risk does not necessarily mean an ability to do so. Risk profiles are influenced primarily by age, financial situations and intrinsic natures. For example, young investors with decades of working life left are generally in a better position to make risky investments than older investors who are scheduled to retire in a short while. A young, unmarried IT professional is in a better position to make a risky investment than a single mother who has to provide for her daughter's education and upkeep.
      %p Willingness to take on risk is as important as the ability to take on risk. (Remember that in general, the higher the risk you take, the higher the return you may expect). Some people are more willing to take on risk than others. This willingness to take risk is influenced by the nature of the individual as well as the prior experiences of the individual. It is important to take on only the risk that you are comfortable taking on.
      %p Therefore, figure out what level of risk you are comfortable with. Understand your own risk profile before making investments. This is very important as it will prevent a mismatch between your ability to take on risk and your desire to do so.
    %section
      %h1 Portfolios and Portfolio Management:
      %p A portfolio is a mix of assets held by an individual or an institution. Typically, these assets consist of securities such as stocks, bonds, deposits, bills etc. These individuals/institutions hold these assets, expecting that they will appreciate in value (resulting in a capital gain) and/or provide income throughout their life (e.g. in the form of dividends, coupon payments etc). The portfolio-holder will decide upon an appropriate mix of assets based on his/her investment needs and risk-profile.
      %p Portfolio Management entails the management of the composition of the portfolio such that it meets the needs of the individual/institution holding it. This typically involves the following steps:
      %ol
        %li Assessing the needs of the investor
        %li Understanding the unique constraints that apply to the investor
        %li Asset Allocation (deciding how much is invested in each asset class)
        %li Security Selection (deciding which securities to invest in)
        %li Portfolio Monitoring
        %li Adjusting the portfolio to meet changing needs/ market conditions.
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.mutual_funds'), main_app.page_path('investment_education/mutual_funds')
      .article_next
        Next:
        =link_to t('investment_education.commodities'), main_app.page_path('investment_education/commodities')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li An ETF is an investment fund which is traded on the stock exchange.
        %li An ETF tracks the performance of an index and has low transaction costs.
        %li ETFs can be created by full replication, representative sampling or synthetic replication.
    .articles
      %h1 Articles
      %ul
        %li=link_to "ETFs Vs Mutual Funds", "http://www.tradersedgeindia.com/investment_education/exchange_traded_funds.htm", html_options = {:target => "_blank"}
        %li=link_to "The ABC of Exchange Traded Funds", "http://www.moneycontrol.com/news/mf-experts/the-abcexchange-traded-funds_268792.html", html_options = {:target => "_blank"}
        %li=link_to "Exchange-Traded Funds --Tutorial", "http://www.investopedia.com/university/exchange-traded-fund/", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "Exchange Traded Funds", "http://www.youtube.com/watch?v=SFdsY9Rdh6w&feature=player_embedded", html_options = {:target => "_blank"}
