.wrapper
  %article
    %h1 Foreign Exchange
    = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 What does foreign exchange mean?
      =image_tag  "investment_education/ForeignExchange1.png"
      %p The foreign exchange(FX) market is a global financial market where currencies are traded over-the-counter. The term “over-the-counter” simply refers to a type of trading that occurs directly between the buyer and seller directly, rather than through an intermediary institution such as a stock exchange or  a futures exchange.
      %p The foreign exchange market is the largest, most liquid financial market in the world, trading 24 hours daily (except weekends) with a total transaction value of $ 3.2 trillion according to a 2007 survey.
      %p This number is incredible, especially since this is more than 5 times the volume of imports and exports around the world! So where did this number come from? In fact, a large percentage of foreign currency trading is carried out by financial institutions such as Goldman Sachs and JP Morgan.
    %section
      %h1 Types of Foreign Currency Trading:
      =image_tag  "investment_education/ForeignExchange2.png"
      %p The foreign currency trading can take the form of several types of transactions such as spot currency trading, currency forward trading, currency futures trading and currency swap trading.
      %p Spot trading refers to the direct exchange of one currency for another. For example, 1 million US Dollars could be exchanged for 1.2 million Euro in a spot trade.
      %p Current market prices are determined by the forces of demand and supply in the market, which is in turn influenced by fundamental factors, as well as economic and political factors. The equilibrium point at which the market demand meets the market supply is the point which determines the current price and quantity demanded by the market. Spot transactions are usually completed within two days because that is the length of time required for a bank to transfer money. Futures and forward markets allows for the trading of legally-binding contracts whose values are linked to certain underlying assets. Futures and forwards allow traders the right and obligation to transact a pre-determined asset at a pre-determined price at a pre-determined time. Forward prices and futures prices are determined by factors such as interest rates, as well as the prices of the underlying assets.
      %p Swaps are over-the-counter transactions that are widely traded among financial institutions. Buyers will swap their loans that are denominated in a currency that they find undesirable, for similar-sized loans denominated in a currency that they desire. Financial institutions make use of such swap agreements to hedge their currency risk.
      %p For further information on futures and forwards, refer to the articles on #{link_to 'Futures', page_path('investment_education/futures1')} and #{link_to 'Forwards', page_path('investment_education/forwards')}
    %section
      %h1 Terminology:
      =image_tag  "investment_education/ForeignExchange3.png"
      %p See Foreign Exchange-Advanced
    %section
      %h1 Unique features:
      %ol
        %li Zero sum game: Foreign Exchange trading is a zero sum game. Suppose you were to buy 1 Euro$ for 1.2 US dollars today. If the exchange rate (USD/EUR) were to rise to $1.3, that would imply that the dollar has strengthened with respect to the Euro. That would however, also imply that the Euro has weakened with respect to the dollar. Therefore, if one currency appreciates with respect to the other, the latter has to weaken with respect to the former. If you were to hold equal amounts of all of the world’s currencies, your portfolio will not change in value ever!
        %li OTC market: Foreign Exchange transactions occur over the counter (OTC). That means that these transactions occur directly between counterparties and not over an exchange. Counterparties contact one another and trade directly with each other. Dealers (market-makers) are usually large banks that have an inventory of different currencies. They buy and sell currencies and trade with individual corporations, governments and each other.
        %li Trading: If individual investors wanted to trade foreign exchange, they would have to deal with brokers/market makers. Most individual investors trade FX online, with brokers such as FXCTM and Deutsche Bank.
        %li Volatility: The absolute volatility in the FX market is quite low. Thus, for meaningful returns, investors trade using large notional amounts or on margin. Margin trading involves the use of leverage to amplify gains/losses. This involves trading using borrowed money. Another alternative is to use derivatives such as FX options.
    %section
      %h1 Factors affecting FX rates:
      %ol
        %li Interest rates
        %li Growth
        %li Trade balances
        %li Economic activity
    %section
      %h1 Advantages:
      %ol
        %li Low-costs: FX markets are extraordinarily liquid. Hence, bid-ask spreads are very small. Most brokers do not charge commissions on FX trades.
        %li Diversification: Investing in FX provides #{link_to 'diversification', page_path('investment_education/diversification')} to portfolios heavily concentrated on equity/fixed income securities.
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.real_estate_investment'), page_path('investment_education/real_estate_investment')
      .article_next
        Next:
        =link_to t('foreign_exchange2'), page_path('investment_education/foreign_exchange2')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li Foreign Exchange (FX) market is a global financial market where currencies are traded directly between the buyer and seller.
        %li Spot currency trading, currency forward trading, currency futures trading and currency swap trading are some of the types of transactions.
        %li This market is the most liquid market and bid-ask spreads are low.
        %li Individual investors have to deal with brokers/market makers to transact in the Forex market.
    .articles
      %h1 Articles
      %ul
        %li=link_to "Foreign exchange market", "http://en.wikipedia.org/wiki/Foreign_exchange_market", html_options = {:target => "_blank"}
        %li=link_to "Forex Tutorial: Introduction to Currency Trading", "http://www.investopedia.com/university/forexmarket/", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "Guide to Forex Investing for Beginners", "http://www.youtube.com/watch?v=wAs7kin9xRs&feature=related", html_options = {:target => "_blank"}
