.wrapper
  %article
    %h1 Fundamental Analysis II
    = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 Top-down analysis:
      =image_tag  "investment_education/FundamentalAnalysis-Advanced2.png"
      %p
        Fundamental Analysis involves assessing companies based on fundamental factors such
        as financial health, industry outlook, competitive advantage, trends in the respective
        industries and economy as well as the quality of management.
      %p In this article, we will refer to the fundamental analysis of company stocks only.
      %p
        Fundamental analysis requires an in-depth knowledge about industry in which the
        company is operating. Every company’s earnings will be affected its business model,
        competitive advantage and how the management operates the company. Of course, the
        bottom-line will also be affected by the growth direction of the industry it is
        competing in.
      %p
        Industry developments will in turn be affected by the changes in the wider economy
        as a whole. Most fundamental analysts take a top-down approach when analyzing stocks.
        What is the top-down approach? In short, it is an analysis flow based the following:
        Economy --> Industry --> Company. That is, the overall economy is analyzed first. Macroeconomic
        factors are given importance in this phase of analysis. Questions that are addressed
        in this phase are – “ What is the general direction that the economy is expected
        to move in?” , “What will the GDP growth rate be like?”, “ What will interest rates
        look like, a year down the line?” etc.
    %section
      %h1 Maintaining perspective:
      =image_tag  "investment_education/FundamentalAnalysis-Advanced3.png"
      %p
        Of course, it is not possible to research every single macroeconomic factor. Firstly,
        this is obviously time-consuming. Secondly, if the factors that you have researched
        on have no relevance to the company, there is no need for that piece of information.
        For example, you decide to analyze the stock of Tiger Airways. It is important for
        you to focus your research on the Asian economy since Tiger Airways operates here.
      %p
        All publicly-listed companies are required by the law to ensure the timely disclosure
        of all material information, as well as regular financial reporting.
      %p
        Go to the company’s website and download a copy of the most recent annual report.
        Ensure that you have adequate understanding about the company and its businesses
        before proceeding on to your research.
    %section
      %h1 The Economy:
      =image_tag  "investment_education/FundamentalAnalysis-Advanced4.png"
      %p
        As mentioned earlier, the top-down analysis requires the analysis of macroeconomic
        fundamentals as the first step. Economic growth will spur jobs growth. With assurances
        in future income, consumers will be convinced of the better future prospects and
        this will be reflected in increased domestic spending. The resultant effect is the
        increase in net sales for firms that provide goods and services. With the prospect
        of higher net sales, firms will also step up investment spending and increase hiring.
        Consumer spending is the main catalyst driving economic growth in the US. This is
        the reason why it is one of the most watched indicators around the world.
      %p
        Of course, there are many other economic indicators that you can use in your analysis,
        such as interest rates, unemployment rates and inflation.
      %p
        Interest rates are a good indicator of economic growth itself. The interest rate
        is the cost of borrowing, for both consumers and firms.
      %p
        When the central bank raises interest rates, it is announcing its belief that the
        economy is growing rapidly and will continue doing so in the near future. This is
        a tightening of monetary policy. The purpose of raising interest rates is to curb
        inflation. As you can see, interest rates and inflation are concepts that are closely
        linked.
      %p
        Inflation is the increase in the general price level of an economy. The appropriate
        indicators to measure the price levels of a country are the Consumer Price Index
        (CPI) and the Producer Price Index (PPI). The change in the general price level
        indicates the inflation rate. How does inflation affect economic growth? For example,
        in the case of demand-pull inflation, the economy is consuming faster than it produces,
        and this puts an upward pressure on prices. If prices were to increase too rapidly,
        consumers may pull back on spending and firms will cut investment spending. A recession
        may occur as a result.
      =image_tag  "investment_education/FundamentalAnalysis-Advanced11.png"
      %p
        Consumers and firms may be stuck with lower income in a recession, having to pay
        off debts on assets that they paid too high a price for.
      %p
        When banks lower interest rates, it is trying to increase spending by lowering the
        cost of borrowing for consumers and firms.
      %p
        The unemployment rate is the percentage of the labor market that is currently unemployed.
        Since wages will end up as household income, a high unemployment rate may point
        to a prospective dip in consumer spending.
      %p
        One of the purposes of economic analysis is to identify the areas of rapid growth
        in the global economic landscape. Suppose the company that you are analyzing has
        operations in these areas, it can directly benefit from the rapid growth. Therefore,
        it is important for you to have some understanding about you chosen company before
        you begin your top-down analysis. Growth style investors like to select company
        stocks that are based in emerging markets and young economies. Of course, economic
        analysis will also help investors to avoid investing in companies that are operating
        in poor market conditions.
    %section
      %h1 Industry:
      =image_tag  "investment_education/FundamentalAnalysis-Advanced6.png"
      %p
        The second part of the top-down fundamental analysis involves industry analysis.
        After analyzing the macroeconomic variables, we will have a better understanding
        of how changes in the economy will affect developments in the industry.
      %p
        When we analyze an industry, we are concerned about the industry outlook. Factors
        for consideration include future growth, new opportunities and government policies
        that will affect future developments.
      %p
        The industry outlook will be influenced by the wider economy, government policies
        and customer demand. There are some industries that are correlated with the economy
        in terms of growth and examples of such industries include the construction sector,
        consumer cyclical sector, financial sector and the technology sector.
      %p
        The demand for goods and services from these industries is dependent on private
        spending which is in turn, dependent on the prospective jobs growth and increase
        in future income.
      =image_tag  "investment_education/FundamentalAnalysis-Advanced7.png"
      %p
        Companies from these industries are sometimes known as cyclical stocks, which refer
        to companies whose performances are tied to the overall economy.
      %p
        The opposite of cyclical stocks are defensive stocks such as utilities, pharmaceuticals
        and staple goods. These companies are considered stable in that their earnings will
        not be greatly affected by poor market conditions, since the demand for their goods
        and services is generally inelastic.
      %p
        Government policy may also affect the future development in the industry. A new
        tax for example, may reduce the future earnings attributable to shareholders.
      %p
        Government subsidies, on the contrary, spur industry growth. A more direct form
        of government intervention is government spending and an example of an industry
        that will directly benefit this intervention is infrastructure.
      %p
        The second part of industry analysis is to identify industry specific-characteristics
        such as the customer base, existing competition, value chain and regulation. You
        may use the Porter’s 5 Forces to help you in this part of the analysis. This is
        explained in detail in Fundamental Analysis.
    %section
      %h1 Company:
      =image_tag  "investment_education/FundamentalAnalysis-Advanced8.png"
      %p
        Despite growth in an industry, it is obvious that not every company in the same
        industry will perform well. Fundamental analysis and valuation can help you pick
        out the best stocks to invest in, amongst all the stocks in the same industry. Company
        analysis involves analyzing the company’s products and operations, position in the
        industry value chain, market share, financial position, management, strategies moving
        forward, etc.
      %p
        The use of the Porter’s 5 Forces in industry analysis will help you understand the
        company’s position in the industry. Some of the factors to consider include its
        market share, its position in the industry value chain and the existing competition.
        By having a sizeable market share, the company is in position to capture most of
        the revenues in the industry during an industry boom. Such a company will also be
        in position to dictate the pricings of its own goods and services as well as negotiate
        for lower costs with its suppliers. Thus, it is important to take note of its position
        in the industry value-chain.
      %p
        Another important factor to consider is the company’s business model. How does the
        company make money? What products and services does it provide? Does the company
        practice product differentiation or cost leadership? With an understanding of the
        company’s business model, you will be able to identify its revenue derivers and
        cost drivers.
      %p
        Revenue drivers are the main sources of growth for the company and cost drivers
        are activities that cause the company to incur costs.
      %p
        In the case of a freight forward company, an example of a revenue driver is cargo
        shipping and its main cost drivers are fuel costs.
      =image_tag  "investment_education/FundamentalAnalysis-Advanced9.png"
      %p
        When you have identified the revenue drivers and cost drivers, you should tie in
        this with the industry analysis, in order to get a better picture of how industry
        developments affect the future top-line and bottom-line growth of the company.
      %p
        The management will sometimes announce its strategies for the business moving forward.
        For example, they may indicate their intention to use retained earnings or cash
        proceeds from a public offering or rights issue to make capital investments in the
        business’ core assets or acquire a competitor’s operations. These are important
        indications of the management’s efforts to further expand the business, which may
        translate to higher earnings in the future.
      %p
        Sometimes, the management may re-organise business operations so as to reduce costs
        or obtain synergistic benefits. They may also try to secure sole distributorships
        for certain products so as to monopolize a particular market.
      %p
        Management guidance is important because it provides a glimpse into how the business
        will grow its earnings over the next few years.
      %p
        In particular, if these strategies are in line with the developments in the industry,
        the business will be well-positioned to capitalize on the future economic growth.
    %section
      %h1 Valuation Models:
      =image_tag  "investment_education/FundamentalAnalysis-Advanced13.png"
      %p
        There are three models that equity analysts in the industry typically use to value
        company stocks. They are the Discounted Cash Flow Model (DCF), the Dividend Discount
        Model (DDM) and the Price Multiple Model.
      %p
        The Dividend Discount Model assumes that the company has a predictable dividend
        policy which is more often than not, adhered to strictly. Also, this model only
        works for companies that pay out dividends. Firms that are in their mature stages
        of growth and defensive stocks are likely to give out large dividends.
      %p
        This model will obviously not work for small-cap and medium-cap companies or companies
        in their early stages of growth. Of course the Dividend Discount Model has its merits
        in that a company valuation using the DDM can be more easily justified than a valuation
        using the other valuation models, since dividends are direct cash flows to shareholders
        and these are forecasted on the basis of the company’s dividend policies.
      %p
        The Dividend Discount Model assumes three stages of growth, the high growth stage,
        the declining growth stage and the infinitely stable growth stage. A firm will begin
        with the high growth stage and the declining growth stage which lasts for a definite
        number of years before it finally enters the stable growth stage, which lasts till
        infinity. Possible candidates for the DDM include highly regulated stocks such as
        the utilities companies, large financial companies and real estate investment trusts
        (REITs).
      =image_tag  "investment_education/FundamentalAnalysis-Advanced14.png"
      %p
        The Discounted Cash Flow model, unlike the Dividend Discount Model, can be applied
        to almost all firms regardless of their dividend policies or their stages of growth.
        DCF model assumes that the firm’s free cash flow is dependent on the firm’s net
        income. The free cash flow can be obtained from the net income after accounting
        for the yearly depreciation charges, changes in net working capital and capital
        expenditures.
      %p
        It is possible to forecast the free cash flows the firm will receive for a specific
        period into the future. Find the present value of these free cash flows by discounting
        them to present value using an appropriate rate of return. Sum up these present
        values to obtain the total market value of the firm. We can also assume the Gordon
        Growth Model in a Discounted Cash Flow valuation where in the first few years; the
        firm is growing at an extraordinary rate. This will be followed by a period where
        the firm is growing at a slow steady rate, into perpetuity. For information on discounting
        uneven cash flows to present value, refer to the article on Time Value of Money.
      %p
        Price Multiple models attempt to value stocks based on their earnings/cash flows
        etc. For example, the Price-Earnings (P/E) multiple is the ratio of the price of
        a company’s share to its earnings per share. Companies with similar characteristics
        should have similar P/E multiples. Therefore, if you know the P/E multiples of a
        set of similar companies the same industry, it should be possible to value a company
        after adjusting for any differences. Similar price multiple models are Price/Cashflow
        models, Price/Sales models and Price/Book Value models.
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.fundamental_analysis1'), page_path('investment_education/fundamental_analysis1')
      .article_next
        Next:
        =link_to t('investment_education.technical_analysis'), page_path('investment_education/technical_analysis')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li Fundamental Analysis helps in determining the actual value of a company.
        %li Analysis involves financial health, industry outlook, competitive advantage, trends in the respective industries and economy as well as the quality of management.
        %li One of the frameworks is Porter’s 5 five forces analysis.
    .articles
      %h1 Articles
      %ul
        %li=link_to "Dividend Discount Model (DDM)", "http://thismatter.com/money/stocks/valuation/dividend-discount-model.htm", html_options = {:target => "_blank"}
        %li=link_to "Evaluating Stocks using Dividend Discount Model", "http://mylifedump.com/2008/01/04/evaluating-stocks-using-dividend-discount-model/", html_options = {:target => "_blank"}
        %li=link_to "Discounted cash flow -Wikipedia", "http://en.wikipedia.org/wiki/Discounted_cash_flow", html_options = {:target => "_blank"}
        %li=link_to "P/E Ratio:Tutorial", "http://www.investopedia.com/university/peratio/", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "Introduction to the Dividend Discount Model (DDM)", "http://www.youtube.com/watch?v=ruQry3TWvQc", html_options = {:target => "_blank"}
        %li=link_to "Stock Valuation using Dividend Discount Model", "http://www.youtube.com/watch?v=JLYtreQdVoU", html_options = {:target => "_blank"}
        %li=link_to "Discounted cash flow Introduction", "http://www.youtube.com/watch?v=XUi9tGwtT1U&feature=related", html_options = {:target => "_blank"}
        %li=link_to "Discounted Cash Flow: Tutorial", "http://www.youtube.com/watch?v=X73WplHHw4g&feature=related", html_options = {:target => "_blank"}
        %li=link_to "Introduction to the Price-to-Earnings Ratio", "http://www.youtube.com/watch?v=cppxO67e6eo", html_options = {:target => "_blank"}
