.wrapper
  %article
    %h1 Fundamental Analysis of shares
    %section
      = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 What is fundamental analysis of shares (stocks)?
      %p
        Fundamental Analysis involves analyzing and valuing the shares (stocks) (stocks) of companies based on fundamental factors that affect the profitability and growth prospects of the company such as financial health, quality of management, industry outlook, and competitive advantage.
      %p
        Apart from factors like business model, competitive advantage and how the management operates the company, analyzing a company requires an in-depth knowledge about industry in which the company is operating. Industry developments will in turn be affected by the changes in the wider economy as a whole. Most fundamental analysts take a top-down approach when analyzing shares (stocks).
    %section
      %h1 What is the top-down approach in analyzing shares (stocks)?
      %p
        The top-down approach of fundamental analysis involves analyzing shares (stocks) (stocks) of companies by analyzing the economy, the industry and the company in the following order:
      %ol
        %li Economy
        %li Industry
        %li Company
      %ul
        %p Fundamental analysis can be broken down into 3 broad steps:
        %li Analyzing the overall economy.
        %li Analyzing the industry in which the company operates.
        %li Analyzing the company.
    %section
      %h1 Analyzing the Economy
      %p The first step involves analyzing the overall economy. Macroeconomic factors are given importance in this phase of analysis. One of the purposes of economic analysis is to identify the areas of rapid. Suppose the company that you are analyzing has operations in these areas, it can directly benefit from the rapid growth. Therefore, it is important for you to have some understanding about you chosen company before you begin your top-down analysis. Economic analysis will also help investors avoid investing in companies that are operating in poor market conditions.
      %ol
        %li
          %p
            %b
              Economic Growth (measured by GDP growth):
            Economic growth will spur job growth. As an economy grows, consumers tend to increase their spending. The resultant effect is the increase in net sales for firms that provide goods and services. With the prospect of higher net sales, firms will also step up investment spending and increase hiring which results in increased income in hand of consumers which in turn translates into increased spending.
        %li
          %p
            %b
              Interest Rates and Inflation
            Interest rates are a good indicator of economic growth. The interest rate is the cost of borrowing, for both consumers and firms. When the central bank raises interest rate, it is announcing its belief that the economy is growing rapidly and will continue doing so in the near future. This is tightening of monetary policy. The purpose of raising interest rates is to curb inflation.
          %p
            As you can see, interest rates and inflation are concepts that are closely linked. Inflation is the increase in the general price level of an economy. How does inflation affect economic growth? One of the instances when inflation occurs is when the economy is consuming faster than it produces. This puts an upward pressure on
            prices. If prices were to increase too rapidly, consumers may pull back on spending and firms will cut investment spending. A recession may occur as a result.
          %p
            Similarly when central bank lowers interest rate, it is trying to increase spending by lowering the cost of borrowing for consumers and firms.
        %li
          %p
            %b
              Unemployment
            Unemployment rate is the percentage of the labor market that is currently unemployed. Since wages will end up as household income, a high unemployment rate may point to a dip in consumer spending.
    %section
      %h1 Analyzing the Industry
      %p The second part of the top-down fundamental analysis involves industry analysis. After analyzing the macroeconomic variables, we have a better understanding of how changes in the economy will affect developments in the industry. When we analyze an industry, we are concerned about the industry outlook. Factors for consideration include future growth, new opportunities and government policies that will affect future developments.
    %section
      %h1 Cyclical shares (stocks)
      %p The industry outlook will be influenced by the wider economy, government policies and customer demand. There are some industries that are correlated with the economy in terms of growth e.g. construction, manufacturing and banking. The demand for goods and services from these industries is dependent on private spending which is in turn, dependent on the prospective jobs growth and increase in future income. Companies from these industries are sometimes known as cyclical companies, which refer to companies whose performances are tied to the overall economy. E.g. automobile shares (stocks) such as Tata Motors, Maruti Suzuki etc.
    %section
      %h1 Defensive shares (stocks)
      %p
        The opposite of cyclical shares (stocks) are defensive shares (stocks). Companies in sectors such as utilities, pharmaceuticals and fast moving consumer goods (FMCG) are considered defensives. These companies are considered stable in that their earnings will not be greatly affected by poor market conditions, since the demand
        for their goods and services is generally stable. E.g. Hindustan Unilever, Jubilant Foodworks etc.
    %section
      %h1 Government Policy
      %p Government policy may also affect the future of an industry. A new tax for example, may reduce future earnings. Example: In 2012-2013 budget, the government proposed doubling the excise duty on gold imports from 1.5% to 3%. Such a move would hurt the jewelry business significantly.
      %p Government subsidies, on the contrary, spur industry growth. A more direct form of government intervention is government spending and an example of an industry that will directly benefit this intervention is infrastructure. For example, if the government decides to increase the pace of building low cost housing for the poor, construction companies benefit since they get new orders, cement companies benefit since the demand for cement goes up.
    %section
      %h1 Industry characteristics
      %p Industry analysis should identify industry specific-characteristics such as the customer base, existing competition, value chain and regulation. Experts make use of various models to assess strength of a company’s business model. Such frameworks may include the Porter’s Five Forces, the SWOT (Strengths-Weaknesses-Opportunities-Threats) analysis model, and the PEST (Political-Economical-Social-Technological) model.
    %section
      %h1 Analyzing the Company
      %p Despite growth in an industry not every company in the same industry will perform well. Fundamental analysis and valuation can help you pick out the best shares (stocks) to invest in, amongst all the shares (stocks) in the same industry. Company analysis involves analyzing the company’s products and operations, position in the industry value chain, market shares (stocks), financial position, management, strategies moving forward, etc.
      %p ome of the factors to consider include market shares (stocks), position in the value chain and cost/revenue drivers. By having a sizeable market shares (stocks), the company is in position to capture most of the revenues in the industry during an industry boom. Such a company will also be in position to dictate the pricing of its own goods and services as well as negotiate for lower costs with its suppliers.
    %section
      %h1 Company’s business model
      %p Another important factor to consider is the company’s business model. How does the company make money? What products and services does it provide? With an understanding of the company’s business model, you will be able to identify its revenue drivers and cost drivers.
    %section
      %h1 Management Guidance
      %p The management will sometimes announce its strategies for the business moving forward. For example, they may indicate their intention to use retained earnings or cash proceeds from a public offering or rights issue to make capital investments in the business’ core assets or acquire a competitor’s operations. These are important indications of the management’s efforts to further expand the business, which may translate to higher earnings in the future. Sometimes, the management may re-organize business operations so as to reduce costs or obtain synergistic benefits. They may also try to secure sole distributorships for certain products so as to monopolize a particular market. Management guidance is important because it provides a glimpse into how the business will grow its earnings over the next few years. In particular, if these strategies are in line with the developments in the industry, the business will be well-positioned to capitalize on the future economic growth.
    %section
      %h1 Analyzing the company’s Income Statement
      %p To obtain some idea of the company’s past performance, you should retrieve its financial records over the past 5 years. Some of the more important financial figures that you should consider include revenues, profit margins, as well as the some core ratios.  These figures can be found in the company’s Income Statements. Compare the trends in these figures across years. How do the company’s revenues compare with the industry trends year-on-year? If there is a drop in profit margins, could this be the result of a sudden increase in costs? Can you identify which of company’s cost drivers that caused this sudden increase? Revenue growth rates and earnings growth rates will enable to you obtain some information about the company’s ability to generate revenue yet keep its costs in check.
    %section
      %h1 Analyzing the company’s Balance Sheet
      %p There are two main types of assets: current assets and non-current assets. Current Assets are assets which provide cash flow within the next 1 year.
      %p The three most important types of current assets are the cash, inventories and accounts receivables. Investors like companies that hold a lot of cash since cash provides some form of protection during poor market conditions. It is also cheaper to use cash on hand for investments as compared to using bank loans or raising money from a rights issue or public offering. Inventories are the finished goods that are unsold. If inventories are piling up while net sales are decreasing, it may indicate that the company is exposed to poor market conditions, or that the demand for its products is deteriorating.
      %p It is important to check the level of receivables. If the level of receivables year-on-year is increasing, it may indicate that the company’s customers are not paying up on time. This may eventually end up as bad debt expenses if the customers default on their payments. In any case, the quicker the company gets its cash, the sooner it is able to capitalize on short-term opportunities.
      %p The second part of the balance sheet is the liabilities. Generally, if the amount of debt is falling, it means that the company has been able to pay off its creditors. Secondly, the company should not have more liabilities than assets because if the assets are not able to generate enough cash flows, the company may go bankrupt.
    %section
      %h1 Key Ratios
      %ul
        %li Price to Earnings (P/E ratio)
        %li Price to Book Value (P/BV ratio)
        %li Net Profit margin (NPM)
        %li Debt/Equity Ratio
        %li Return on Equity (ROE)
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.share_market'), main_app.page_path('investment_education/share-market')
      .article_next
        Next:
        =link_to t('investment_education.technical_analysis'), main_app.page_path('investment_education/technical-analysis-shares')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li Fundamental Analysis helps in determining the actual value of a company.
        %li Analysis involves financial health, industry outlook, competitive advantage, trends in the respective industries and economy as well as the quality of management.
        %li One of the frameworks is Porter’s 5 five forces analysis.
    .articles
      %h1 Articles
      %ul
        %li=link_to "Fundamental analysis -Wikipedia", "http://en.wikipedia.org/wiki/Fundamental_analysis", html_options = {:target => "_blank"}
        %li=link_to "Fundamental Analysis: Tutorial", "http://www.investopedia.com/university/fundamentalanalysis/", html_options = {:target => "_blank"}
        %li=link_to "Tools of Fundamental Analysis", "http://stocks.about.com/od/evaluatingstocks/a/Fundanatools1.htm", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "Fundamental Analysis: Part 1", "http://www.youtube.com/watch?v=ufFkaZgkV0Q", html_options = {:target => "_blank"}
        %li=link_to "Fundamental Analysis: Part 2", "http://www.youtube.com/watch?v=TBuM2N2pM6c&feature=related", html_options = {:target => "_blank"}
        %li=link_to "Fundamental Analysis: Part 3", "http://www.youtube.com/watch?v=k-JbbJKHiUY&feature=related", html_options = {:target => "_blank"}
        %li=link_to "Fundamental Analysis: Part 4", "http://www.youtube.com/watch?v=gU0cpdSYU1Q&feature=related", html_options = {:target => "_blank"}
        %li=link_to "Warren Buffett Interview on How to Read Stocks", "http://www.youtube.com/watch?v=Lc791is6X0o&feature=related", html_options = {:target => "_blank"}
