.wrapper
  %article
    %h1 Fundamental Analysis
    = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 What is fundamental analysis?
      =image_tag  "investment_education/FundamentalAnalysis.png"
      %p Fundamental Analysis involves assessing companies based on fundamental factors such as financial health, industry outlook, competitive advantage, trends in the respective industries and economy as well as the quality of management.
      %p Experts make use of various models of qualitative Analysis, to assess a security’s intrinsic value. Such frameworks may include the Porter’s Five Forces, the SWOT (Strengths-Weaknesses-Opportunities-Threats) analysis model, and the PEST (Political-Economical-Social-Technological) model.
      %p Equities analysts make use of fundamental analysis to assess the intrinsic value of company stocks. They quantify this value using financial valuation methods such as the Dividend Discount Model, Sum-of-the-Parts Model or Discounted Cashflow Models. Further details on this will be covered in the section on Fundamentals of Valuation.
    %section
      %h1 Fundamental Analysis of a company’s stock: Porter’s 5 Forces:
      %p Of course there are many frameworks which analysts use to make subjective assessments of the strength of a company’s business model. A popular framework used by analysts is the Porter’s 5 Forces model. This model is used to assess the impact of a company’s competitiveness and industry attractiveness on its profitability and sustainability.
      %p The five forces in this context are:
      %ol
        %li Buyer power
        %li Supplier power
        %li Threat of substitutes
        %li Barriers to Entry
        %li Rivalry
    %section
      %h1 Buyer Power:
      =image_tag  "investment_education/FundamentalAnalysis2.png"
      %p Buyer power is the relative power that the customer has over the producing firm. When the buyer power is strong, it is usually the case that there are many sellers and few buyers. The buyer is usually able to dictate the price, since he can always look to the other sellers in the market if he is unsatisfied with a seller’s product or prices.
      %p Buyers can also be powerful in two other situations. Buyers may purchase such a substantial proportion of the market output that the product design and distribution tends to be standardized so that it caters to this small group of buyers.
      %p Buyer power typically depend on factors such as the concentration and number of buyers, the role of the product/services provided, as well as the threat of backward integration.
      %p Investors would like industries and companies where the buyer power of end-customers is low. The ideal situation is that of a monopoly. In this case, there is only one firm selling that particular type of product. Hence, it can dictate the price at will and charge a hefty premium for its products. Monopolies are generally very profitable unless they are heavily regulated.
    %section
      %h1 Supplier Power:
      =image_tag  "investment_education/FundamentalAnalysis4.png"
      %p A supplier has significant power if it is able to charge high prices for its services.
      %p For example, Microsoft Corporation has large supplier power as a provider of PC software. Hence, it is able to set its own prices for its products.
      %p Generally, the supplier power depends on factors such as the concentration and number of suppliers, the role of product/service provided and the threat of forward integration.
      %p Investors would dislike companies/industries where supplier power is high. Companies in such industries would be at the mercy of its suppliers and be forced to pay high prices for their products/services. This is not good for their profitability.
    %section
      %h1 Barriers to Entry
      =image_tag  "investment_education/FundamentalAnalysis5.png"
      %p Barriers to entry are political, economic or technological barriers that prevent or reduce potential competition from competing in the same industry. The free market theory states that if an industry should operate such that there is free entry and exit and all firms in the industry will only be able to earn normal profits. However, this is not true in practice.
      %p For example, a utilities company is faced with high barriers to entry and exit, due to high start-up costs such as the need to buy plant and machinery as well as economies of scale since high sales is needed to keep operations running. Potential rival firms will need to carefully consider their potential earnings before entering this industry due to the substantial investments involved.
      %p Generally, the threat of new entrants will depend on the factors such as economies of scale, the need for an initial capital outlay or high start-up costs, the presence of regulatory barriers, legal barriers (e.g. patents) and technological barriers.
      %p Investors like companies operating in industries where the barriers to entry are high since these barriers prevent new players from threatening the existing companies and eating into their profit margins.
      =image_tag  "investment_education/FundamentalAnalysis6.png"
    %section
      %h1 Threat of Substitutes:
      %p Substitutes are products that are closely related to the product under consideration (e.g. Milk and soya milk). The demand for the product under consideration goes down when the price of the substitute product goes down.
      %p Generally, such a threat will become greater when the price of substitutes falls such that consumers choose to buy these substitutes instead of the company’s product. An important point to note is that these substitutes are not rivals or directly-competing products in the same industry.
      %p For example, a chemicals company may find that the prices of disposable food containers which they produce may be constrained by the prices of similar food packaging such as plastic food containers, paper wraps or plastic bags. This is because of the high threat of substitution. Food retailers can easily source for other types of food packaging if chemical companies raise prices of disposable food containers.
      %p The company is thus, pressurized to keep their costs low and if they find that this business no long profitable, they may leave the industry altogether. They may thus, switch to producing products for other types of industries instead (such as the consumer electronics industry since electrical appliances tend to be packaged in Styrofoam frames).
      %p Generally, the threat of substitutes depends on the quality and prices of substitutes, buyers’ ability and willingness to substitute and the costs of switching to substitutes.
      %p Investors prefer industries where the threat of substitutes is low. Investing in such industries is usually considered less risky than investing in industries which face stiff pressure from potential substitutes.
      =image_tag  "investment_education/FundamentalAnalysis7.png", :height => "150px"
    %section
      %h1 Rivalry:
      %p Rivalry refers to the degree of competition between firms in an industry. This depends on industry growth, number of players, profit margins, switching costs etc.  The higher the rivalry between firms, the more intense the competition and the riskier the investment.
      %p Intense competition (rivalry) tends to drive down profit margins and leads to decreased profitability in the long run. Hence, investors prefer companies in industries with low rivalry between firms
    %section
      %h1 Applying Porter’s 5 Forces to Changes in Economic and Industry Trends:
      =image_tag  "investment_education/FundamentalAnalysis8.png"
      %p Based on the Porter’s 5 Forces, we should   be able to make some sense a company’s business environment. Investors should ask themselves how the future trends in the industry and the economy will impact the company’s earnings. Take for instance, if an industry is dying out, will a strong business model matter if there is no consumer demand? This is an important question to ask particularly if we are analyzing technology companies, since technological advances may easily cause a host of products to go obsolete. It may even cause an industry to become redundant!
      %p Similarly, during an economic recession, we should ask ourselves how far a company’s earnings will be affected by the lack of demand for its products despite strong business fundamentals. This is a good question to ask if you are analyzing automotive stocks such as General Motors and Toyota, since consumers tend to pull back on big-ticket spending during a recessions.
      %p As seen from the above, it is also important for us to be aware of changes in the economy and industry in the years ahead. Economists will predict future trends in the economy by looking at indicators such as unemployment rates, inflation rates, interest rates, consumer confidence and spending.
      %p In the next article, we will cover other important aspects of fundamental analysis such as the financial health of companies , financial statement analysis  and valuation models.
    %section
      %h1 Quantitative Analysis:
      =image_tag  "investment_education/FundamentalAnalysis-Advanced10.png"
      %p One section in fundamental analysis is dedicated to the analysis of the company’s financial health.
      %ol
        %li
          Income Statements:
          To obtain some idea of the company’s past performance, you should retrieve its financial
          records over the past 5 years. Some of the more important financial figures that
          you should consider include revenues, profit margins, as well as the various ratios
          that are mentioned in the article - Fundamental Analysis I. These figures can be found in the company’s Income Statements.
        %p
          Compare the trends in these figures with the qualitative analysis that you have
          done earlier. How do the company’s revenues compare with the industry trends year-on-year?
        %p
          If there is a drop in profit margins, could this be the result of a sudden increase
          in costs? Can you identify which of company’s cost drivers that caused this sudden
          increase?
        %p
          Revenue growth rates and earnings growth rates will enable to you obtain some information
          about the company’s ability to generate revenue yet keep its costs in check.
        %li
          Balance Sheets:
          There are two main types of assets and they are current assets and the non-current
          assets. The three most important types of current assets are the cash, inventories
          and accounts receivables. Investors like companies that hold a lot of cash since
          cash provides some form of protection during poor market conditions. It is also
          cheaper to use cash on hand for investments as compared to using bank loans or raising
          money from a rights issue or public offering.
      =image_tag  "investment_education/FundamentalAnalysis-Advanced11.png"
      %p
        Inventories are the finished goods that are unsold.
      %p
        If inventories are piling up while net sales are decreasing, it may indicate that
        the company is exposed to poor market conditions, or that the demand for its products
        is deteriorating.
      %p
        It is important to check the level of receivables. If the level of receivables year-on-year
        is increasing, it may indicate that the company’s customers are not paying up on
        time. This may eventually end up as bad debt expenses if the customers default on
        their payments. In any case, the quicker the company gets its cash, the sooner it
        is able to capitalize on short-term opportunities.
      %p
        The second part of the balance sheet is the liabilities. Generally, if the amount
        of debt is falling, it means that the company has been able to pay off its creditors.
      %p
        Secondly, the company should not have more liabilities than assets because if the
        assets are not able to generate enough cash flows, the company may go bankrupt.
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.reduce Your Taxes'), page_path('investment_education/reduce_taxes')
      .article_next
        Next:
        =link_to t('investment_education.fundamental_analysis2'), page_path('investment_education/fundamental_analysis2')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li Fundamental Analysis helps in determining the actual value of a company.
        %li Analysis involves financial health, industry outlook, competitive advantage, trends in the respective industries and economy as well as the quality of management.
        %li One of the frameworks is Porter’s 5 five forces analysis.
    .articles
      %h1 Articles
      %ul
        %li=link_to "Fundamental analysis -Wikipedia", "http://en.wikipedia.org/wiki/Fundamental_analysis", html_options = {:target => "_blank"}
        %li=link_to "Fundamental Analysis: Tutorial", "http://www.investopedia.com/university/fundamentalanalysis/", html_options = {:target => "_blank"}
        %li=link_to "Tools of Fundamental Analysis", "http://stocks.about.com/od/evaluatingstocks/a/Fundanatools1.htm", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "Fundamental Analysis: Part 1", "http://www.youtube.com/watch?v=ufFkaZgkV0Q", html_options = {:target => "_blank"}
        %li=link_to "Fundamental Analysis: Part 2", "http://www.youtube.com/watch?v=TBuM2N2pM6c&feature=related", html_options = {:target => "_blank"}
        %li=link_to "Fundamental Analysis: Part 3", "http://www.youtube.com/watch?v=k-JbbJKHiUY&feature=related", html_options = {:target => "_blank"}
        %li=link_to "Fundamental Analysis: Part 4", "http://www.youtube.com/watch?v=gU0cpdSYU1Q&feature=related", html_options = {:target => "_blank"}
        %li=link_to "Warren Buffett Interview on How to Read Stocks", "http://www.youtube.com/watch?v=Lc791is6X0o&feature=related", html_options = {:target => "_blank"}
