.wrapper
  %article
    %h1 Futures II
    = render :partial => 'layouts/facebook_recommend'
    %section
      =image_tag  "investment_education/Futures-Advanced1.png", :height => "200", :weight => "250px"
      %p In a futures contract, the buyer usually does not take delivery of the physical asset, rather, the contract is cash-settled.
      %p Example: Assume that Victor Romanoff buys a Rs.70 three-month futures position on a barrel of oil. The seller, Gregory Brown has a short position on the contract. He therefore  promises to deliver the barrel of oil to the buyer after three months.
      %p Now assume that at the end of three months, the barrel of oil is valued at Rs.80. In a futures contract, the buyer does not actually collect the barrel of oil but obtains his payment in terms of cash. This means that he collects the difference between the price at which he entered into the contract and the prevailing market price i.e. Rs.80-Rs.70 = Rs.10 in cash from the seller. The buyer has thus, made a profit of Rs.80 - Rs.70 = Rs.10. The seller pays the buyer Rs.80, incurring a loss of Rs.10.
      %p Of course, futures positions can also be closed by delivering the underlying asset (as in a forward contract) using something called the delivery option.
      %p In futures trading, there will always be a “winning” and a “losing” position. Both the buyer and the seller will always take opposite positions. In the example above, the buyer is the “winner” and the seller, the “loser”.
      =image_tag  "investment_education/Futures-Advanced2.png"
      %h1 Customization:
      %p Futures contracts are typically traded on a futures exchange. Futures contracts are usually and their specifications such as the expiry date and lot-size set by the exchange. In Singapore, the typical lot-  size is 100, meaning that the futures contract will represent 100 spot assets. Buyers must thus, buy in multiples of 100 futures. (For example, it is not possible to buy 101 futures.) It is advisable for investors to be aware of contract sizes before they begin trading futures. A forward contract, on the other hand, is negotiable in terms of contract size.
      %h1 Daily marking-to-market of contract value:
      %p Futures contracts are electronic contracts that are traded on a futures exchange, which has a proper clearing house that updates their values daily. Forward contracts are not marked-to-market daily.
      %h1 Collateral:
      %p The futures exchange will ensure that futures traders do not default on their payments. The prices of futures are constantly changing throughout market opening hours so if the exchange finds that a trader exceeds a certain loss limit on his position, he will be required to deposit more money to into his account.
      =image_tag  "investment_education/Futures-Advanced3.png"
      %p For more detailed explanation on these differences, refer to the article on Forwards.
    %section
      %h1 What determines futures prices?
      %h1 Carrying costs:
      %p Take for example; you want to invest in oil so you decide to buy 1000 barrels of oil. However, once the physicals have been delivered to you, you will need to find a place to store all these barrels! In buying a futures contract, you can save on the costs of storage.
      %h1 Interest Rates:
      %p Buying a single futures contract entitles the investor to take delivery of the specific amount of spot assets as stated on the contract. Assume that a futures contract entitles the buyer to take delivery of 100 spot assets at the end of the holding period. Therefore, instead of having to pay for the 100 spot assets, the buyer will only need to pay for a single futures contract.
      =image_tag  "investment_education/Futures-Advanced4.png"
      %p The money freed up can be used to earn interest from other investments, for example, a risk-free deposit.
      %p In this sense, investing in futures is more advantageous than buying spot assets.
      %p
        Dividend yield:
        By holding a futures contract instead of the actual spot assets, an investor will not be able to collect dividends from the spot assets during the holding period of the contract. This effect only applies to futures that are tied to underlying assets that pay out dividends, such as stocks.
      %p
        Convenience benefits:
        Assume that you run a shipping firm. In an industry such as shipping, timeliness is extremely important to clients, and you will not want to make your customers wait. Thus, it will be good to have some oil on hand in case of emergencies. In this sense, holding futures does not provide such convenience benefits.
      %p
        Traders and investors:
        in the market will price in the carrying costs, opportunity, convenience benefits and dividend yield effects along with on their perceptions of real economic conditions.
        The futures price will be determined by movements in spot prices, carrying costs, interests rates, convenience benefits and dividend yields as shown by the following equation:
      %p Futures Price = Spot Price x (1 + carrying cost + interest rate – monetary value of convenience benefits - dividend yield)
      %p Note that the dual effects of carrying costs and interest rates will tend to cause futures to be more expensive than their underlying spot assets while convenience benefits and dividend yields will have the opposite effect.
    %section
      %h1 Trading Positions:
      %p There are two trading positions an investor can take in futures trading. The diagram below shows the payoff curve for the buyer of a futures contract and the seller.
      =image_tag  "investment_education/Futures-Advanced6.png"
      =image_tag  "investment_education/Futures-Advanced7.png"
      %h1 The Long and Short
      %p Most investors trade futures to hedge their risks or speculate on the possibility of price movements. Assume that a barrel of oil costs Rs.70 today.
      %p A ship-owner, Raj needs to buy oil as fuel for his ship. He has a natural short position on oil. He is better off if the barrel of oil falls in price. However, if he thinks that the barrel of oil will become more expensive in three months, he will buy a futures contract to hedge this risk. Thus, he buys a three-month futures contract at Rs.70 per barrel of oil to hedge against the risk of increasing oil prices.
      %p Ravi, an oil company executive, sells Raj the futures contract. He has a natural long position on the barrel of oil since his company produces oil. Ravi promises to deliver the barrel of oil at the end of three months. He is said to be short on the futures contract.
      %p As we have seen, the buyer and seller of futures contracts will take opposite positions in the contracts.
    %section
      %h1 Hedging using Futures:
      =image_tag  "investment_education/Futures-Advanced9.png"
      %p Assume that the price of the barrel of oil increases to Rs.80 in three months. Raj would have made a profit of Rs.10 by investing in a futures contract because instead of purchasing oil from the market for Rs.80, he can receive the same thing for only Rs.70 as stated on the futures contract. Thus, Raj is better off now that the barrel of oil has increased in price.
      %p The case is opposite for Ravi. He has made a loss by selling Raj the futures contract. At the end of three months, instead of selling his oil in the market for Rs.80, he has to deliver it to his buyer who will pay him only Rs.70. He has made a loss of Rs.10. By investing in futures, Ravi is worse off now that the barrel of oil has decreased in price.
      %p An interesting point to note here is that in hedging risks, oil producers will sell futures contracts while oil-consuming companies such as shipping companies will buy futures contracts.
      %p When any futures contract is being traded, there will always be a buyer and seller. Unless the futures price at the end of the holding period is equal to the price when both parties first entered into the contract, there will always be a winner and a loser since the buyer and seller will always have opposite positions.
      %p Futures prices change every day as the spot prices, interest rates and dividend yields change. The futures price will converge to equal the spot price as maturity date approaches.
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.futures1'), page_path('investment_education/futures1')
      .article_next
        Next:
        =link_to t('investment_education.options1'), page_path('investment_education/options1')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li Futures contracts are usually cash settled, the physical asset is not delivered.
        %li Futures are marked to market and are the size of the contract is not customizable like #{link_to 'forwards', page_path('investment_education/forwards')}.
        %li Futures prices depend on carrying costs, interest rates, convenience benefits and dividend yields.
        %li Futures can be used to hedge risks by taking long and short positions.
    .articles
      %h1 Articles
      %ul
        %li=link_to "Futures Fundamentals", "http://www.investopedia.com/university/futures/", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "Futures Trading Made Simple", "http://www.youtube.com/watch?v=H8lDuaGmt2c", html_options = {:target => "_blank"}
