.wrapper
  %article
    %h1 Jargon Demystified
    = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 Active management:
      %p An investment management strategy in which the portfolio managers seek to outperform a chosen benchmark or a chosen average.
      %h1 Analysts:
      %p
        Individuals who are considered experts in specific
        industries or fields of finance. They make use of extensive quantitative and theoretical
        models while making forecasts.
      %h1 Annual General Meeting:
      %p
        An annual meeting in
        which the board of directors and the top management meet with the shareholders of
        a company to discuss the company’s yearly performance, as well as strategies moving
        forward, especially in matters that require shareholder approvals. It is often abbreviated as AGM.
      %h1 Arbitrage:
      %p
        The process of exploiting an instance of mispricing
        of assets to make a riskless profit. E.g. By buying the asset from an institution
        or market that issues it at a lower price and selling the same asset in a market
        that accepts it at a higher price.
      %h1 Bankruptcy:
      %p
        When an individual, corporation or organisation
        is legally declared to be unable to meet their financial obligations to creditors.
        The assets of the entity are usually auctioned off and the proceeds paid to creditors
        in order of seniority.
      %h1 Broker:
      %p A broker is an individual or corporation that trades securities on behalf of another corporation or institution.
      %h1 Collateral:
      %p
        Collateral refers to some assets that have
        been pledged by the borrower to the lender. In the event that the borrower is unable
        to repay the loan, the lender can seize and force-sell the assets to recover the
        loan. Collateralised loans are also known as secured loans.
      %h1 Debt holders:
      %p Buyers of debt instruments.
      %h1 Default:
      %p
        The failure of an individual or organization to
        meet a legal payment obligation to a creditor, as stipulated in a debt contract.
        Cross-default provisions usually ensure that if bond-issuer defaults on one obligation,
        it is considered to be in default of all its obligations.
      %h1 Denomination:
      %p The currency in which the security is issued. For example, all US Treasury bonds are denominated in US Dollars.
      %h1 Derivatives:
      %p
        An investment security or asset which
        derives its value from an underlying asset. It is usually used for speculation or
        hedging. Example, options to buy or sell a particular quantity of a particular stock
        (A Call option). In this case, the option derives it value from the underlying stock.
      %h1 Dividend Smoothing Effect:
      %p
        A practice where corporations tend to pay out to shareholders, the same amount of dividends
        per share for a number of years. If they choose to increase the dividends per share,
        they will pay this increased amount for the subsequent years.
      %h1 Economies of Scale:
      %p
        Cost-efficiencies resulting from a firm being able to produce products on a large scale. The total fixed costs
        (such as the cost of plant equipment) are spread over an increased number of units
        such that the cost per unit is decreased.
      %h1 Emerging markets:
      %p
        New economies that are undergoing
        rapid growth and development, such as China, India and Brazil. Economies are usually
        classified as either developed or emerging economies.
      %h1 Equity:
      %p  Stocks.
      %h1 Expense Ratio:
      %p
        The ratio between the administrative
        cost of managing a fund and the total assets under management. Costs may include
        transaction costs, managerial costs, etc. This term is commonly associated with
        exchange-traded funds.
      %h1 Growth stocks:
      %p
        Stocks of companies whose earnings
        are expected to grow rapidly. These companies usually trade at large P/E multiples
        and investors usually expect their earnings to increase by amounts in excess of 15% per year.
      %h1 Investor confidence:
      %p
        The general sentiments
        of the market. Rising investor confidence will mean that the market expects the
        economic activity to be on the uptrend.
      %h1 Issuer:
      %p
        A company, financial institution, or organisation
        that issues a security in exchange for cash from buyers of the security.
      %h1 Large-cap:
      %p
        Companies with extremely large market capitalisation.
        In the U.S. large-caps are companies with market capitalisations that exceed US$
        5 billion.
      %h1 Market Capitalisation:
      %p
        Total value of the
        company in terms of shareholder value. Current market capitalisation = Current share
        price X total number of shares outstanding.
      %h1 Marking-to-market:
      %p
        Valuing an asset based on its current market value.
      %h1 Mid-cap:
      %p
        Companies with medium-sized market capitalisation.
        In the U.S. mid-caps are companies with market capitalisations between US$ 1billion
        and US$ 5 billion.
      %h1 Net tangible assets:
      %p
        Value of all assets, without
        taking into account the value of intangible assets (e.g. goodwill and trademark
        values) minus the value of all liabilities (e.g. loans).
      %h1 Par Value:
      %p
        In the context of debt instruments, par value
        is the principal amount payable (by the debt issuer to debt holder) on the date
        of maturity. Another term that is commonly used is “face value”.
      %h1 Passive management:
      %p
        A management strategy in
        which the managers tend to make minimal managerial decisions and adjustments, so
        as to minimize managerial costs.
      %h1 Pit:
      %p
        A floor of the stock exchange/commodity exchange where
        traders exchange buy and sell orders to floor brokers to execute trades.
      %h1 Principal amount:
      %p
        The principal amount refers to
        the sum of money that is borrowed and must be repaid by the borrower, to the lender.
        Note that this does not necessarily equal to the actual price paid by the lender.
      %h1 Prospectus:
      %p
        A legal document which issuers of investments
        products and projects present to prospective investors. The document contains descriptions
        of the offered investments, issuer information, covenants as well as other matters
        that must be disclosed, in accordance with the law.
      %h1 Security:
      %p
        Fungible financial assets or derivatives that
        trade in capital markets. E.g. stocks,bonds.
      %h1 Small-cap:
      %p
        Companies with small market capitalisation.
        In the U.S. small-caps are companies with market capitalisations between US$ 300
        million to less than US$1 billion.
      %h1 Spin-offs:
      %p
        Occurs in the context where a parent or holding company sells off a subsidiary such that the subsidiary will exist as a whole new
        entity. This new entity is a spin-off.
      %h1 Trade Execution:
      %p
        To execute a trade is to officially place trade orders which could include buy orders, sell orders, limit-orders or stop-loss orders.
      %h1 Valuation:
      %p
        The idea of determining the economic value
        of a particular asset or security. Analysts often attempt to value securities in
        order to ascertain whether they are underpriced, overpriced or correctly priced.
      %h1 Value stocks:
      %p
        Stocks of companies that are usually
        in their late or steady stages of growth, paying out large dividends and trading
        at low P/E multiples. Their earnings are expected to increase slowly year-on-year.
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.options2'), page_path('investment_education/options2')
      #disqus_thread
