.wrapper
  %article
    %h1 Insurance Products
    = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 What is insurance?
      %p
        Insurance is a form of risk management that allows an insured entity (individual/corporation)
        to protect itself and transfer away its risks to the insurer.
    %section
      %h1 Indemnify Yourself: Transfer Away Your Risks:
      =image_tag "investment_education/InsuranceProducts1.png"
      %p How can an individual “transfer away his risk”? How can an insurance product protect an individual?
      %p Note that an individual is faced with a risk of a possible loss.
      %p
        Examples of losses include the loss of life, the loss of limbs during an accident,
        the loss of a job, the loss of assets such as a car or a house. It may also include
        financial losses incurred caused by large medical bills.
      %p
        An individual can buy an insurance policy allowing him to receive some form of compensation
        from the insurance company when he encounters losses like those mentioned earlier.
        The act of a guarantee by the insurance company is known as an indemnification.
        By buying insurance, an individual has indemnified himself against a particular
        loss. When an individual encounters a loss, he may go to the insurer to claim his
        compensation as stated in his insurance policy contract. This is known as insurance
        claiming.
    %section
      %h1 The Insured and the Insurer:
      =image_tag "investment_education/InsuranceProducts2.png"
      %p
        The insured is an individual, or an organization that buys an insurance policy and
        is entitled to the compensation benefits of the policy, subject to the terms and
        conditions specified in the contract.
      %p An insurer is a company that sells insurance policies to individuals or organizations who want to be insured.
    %section
      %h1 Insurance Premiums:
      =image_tag "investment_education/InsuranceProducts3.png"
      %p
        Of course, in exchange for such an indemnification by the insurer, the insured will
        have to pay the insurer a sum of money known as the insurance premium. Usually,
        if your insurer quotes you a lower insurance premium, it is likely that the insurance
        coverage you are getting is lower than a person is paying a higher premium.
      %p
        Insurance premiums may also be affected by the likelihood or probability of loss.
        For example, a 25-year-old man will need to pay a higher insurance premium for his
        car than a 40-year-old man. This is because statistics have shown that younger drivers
        tend to be more reckless and accident-prone than older drivers.
      %p
        The more an insurer feels that you are prone to the loss, the higher the premium
        they will demand from you, because the risk you are transferring to them is higher.
      %p
        There have been cases of insurers refusing to insure individuals because of his
        poor track record.
    %section
      %h1 Life Insurance:
      %p
        Life insurance provides some compensation to the family (or any other nominated
        beneficiary) in the event of the insured’s death. The insurer will pay out this
        compensation in the form of a lump sum or an annuity. Annuity is simply a periodic
        fixed payment for a certain number of years. A life insurance contract may also
        include additional provisions such as catering for death and funeral expenses.
      %p
        There are two broad categories of life insurance policies i.e. protection policies
        and investment policies. An example of a protection policy is term life insurance.
        Examples of investment policies include the whole life insurance, universal life
        insurance and variable life insurance because of their additional savings or investment
        components on top of the basic protection benefits.
      %p
      %h1 Term Life Insurance
      %p
        Term life insurance is the simplest and cheapest form of insurance, typically for
        people under the age of 50. It usually covers only a short term period between 1
        to 10 years and can be renewed at the end of the term.
      =image_tag "investment_education/InsuranceProducts4.png"
      %p
        Term life insurance is a protection policy in that it only provides protection or
        coverage for the insured event. It does not allow for cash accumulation. So long
        as the insured event or loss occurs for the insured when the term insurance is in
        force, the insured will receive compensation. If the insured event does not occur
        before the term period is over, the insured will receive nothing.
      %p
        The insured will not receive any money at the end of the term so term insurance
        policies can be considered a pure expense for the sole purpose of protection. For
        this reason, term insurance is much cheaper than investment policies like whole
        life insurance. However, the premiums to be paid for this insurance gradually get
        more expensive as a person’s age increases because of the increasing likelihood
        of death.
      %h1 Whole Life
      %p
        Whole life insurance provides the insured with permanent protection as well as a
        savings component. This means that as long as the individual keeps paying the premium,
        the insured will be able to receive coverage throughout his life. Whole life insurance
        also provides some form of investment or cash savings which can be accumulated over
        the years (as long as the premiums are consistently paid), and subsequently be borrowed
        against or redeemed by the insured. This is in contrast to the term insurance which
        has no savings component and only provides protection during the stipulated term
        period in which the insurance contract is in force.
      =image_tag "investment_education/InsuranceProducts5.png"
      %p
        The premiums charged to younger individuals will usually be lower than those for
        older individuals, because younger individuals have lower probabilities of death.
      %p
        As such, it is advisable for individuals to start buying whole life insurance policies
        when they are young, so that they can lock-in lower premium rates.
      %h1 Universal Life
      %p
        Universal life insurance is similar to the whole life insurance except that there
        is an additional benefit of a potentially higher cash value in the savings component
        as well as added flexibility in terms of premium payments.
      %p
        The policy works such that the premium payments made by the insured are credited
        into his account together with an interest payment from the insurer. However, there
        are also some charges and fees (such as administrative charges) which the insurer
        will deduct from the cash value in the account periodically. The amount of interest
        paid will be determined by the insurer and this is usually pegged to a benchmark
        rate such as the SIBOR (Singapore Inter-bank Offered Rate).
      =image_tag "investment_education/InsuranceProducts6.png"
      %p
        Universal life insurance may provide potentially higher returns because of the flexibility
        of premium payments. Depending on how the interest is credited into the account,
        there is potentially a higher internal rate of return on the cash value received,
        since the amount of interests paid moves with the prevailing interest rates in the
        financial markets.
      %p
        The insured may choose to increase premium payments in an environment of higher
        interest rates because he will receive higher interest in his cash account. In the
        same vein, universal life insurance will not work as well in a recession or a low
        interest rate environment. Thus, individuals must be mindful of such external factors
        before signing up for such a policy. In a low interest rates environment, individuals
        could have chosen to invest their cash in fixed-interest deposit accounts in a bank
        rather than pay premiums for an insurance policy that higher interest.
      %p
        Another disadvantage of such a policy is the high administrative fees that an insurer
        may charge to the insured’s cash account. Such rates may amount to as much as 5%
        to 7% of premium payments. These fees can potentially wipe out the gains received
        from the interest. The guaranteed cash value return is typically at least 4%, which
        is also an extremely low rate.
      %h1 Variable Life
      %p
        The variable life insurance can be considered a type of investment product. The
        insured will invest a portion of his premium into a combination of stocks,bonds,
        money market funds and other investment instruments. The size of death benefits
        and cash value received will depend on the performance of these investments. The
        returns from these investments will accrue to an insured’s account and potentially
        decrease the size of subsequent premiums that he has to pay.
      =image_tag "investment_education/InsuranceProducts7.png"
      %p
        There is no guarantee on the cash value received at maturity. If the investments
        perform badly, even the principal sum paid by the policyholder may be at risk.
      %p
        However, there is typically a floor on the size of death benefits received. This
        type of insurance will also entail higher administrative fees than most other insurance
        policies because of this investment option.
      %p
      %h1 Risks
      %ol
        %li
          One risk of investing in insurance policies is the possibility of bankruptcy
          of the insurer. Most insurers are large multi-national entities and are highly regulated.
          However, it is not uncommon to see insurers going bankrupt especially after large
          calamities.
        %li
          Variable life insurance policies entail market risk i.e. the risk that the underlying
          basket of investments don’t perform well, leading to poor or even negative returns
      %h1 Advantages
      %ol
        %li
          Insurance policies provide some protection from the negative financial implications
          resulting from illness and death of the insured.
        %li
          Most insurance policies entail relatively low risk as insurance companies are
          highly regulated.
      %h1 Disadvantages
      %ol
        %li Insurance returns are usually low in comparison to those of stocks or real estate.
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.commodities'), page_path('investment_education/commodities')
      .article_next
        Next:
        =link_to t('investment_education.real_estate_investments'), page_path('investment_education/real_estate_investment')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li
          Insurance is a form of risk management that allows an insured entity (individual/corporation)
          to protect itself and transfer away its risks to the insurer.
        %li
          The insured has to pay a premium in order to get compensated in case of a loss.
        %li Premium amounts vary depending on the insured’s profile.
        %li
          There are two broad categories of life insurance policies i.e. protection policies
          and investment policies
    .articles
      %h1 Articles
      %ul
        %li
          =link_to "Life Insurance -Wikipedia", "http://en.wikipedia.org/wiki/Life_insurance", html_options = {:target => "_blank"}
        %li
          =link_to "Life Insurance Basics", "http://www.lifeinsuranceindepth.com/basics.html", html_options = {:target => "_blank"}
        %li
          =link_to "Life Insurance as Investment", "http://www.investopedia.com/university/20_investments/9.asp", html_options = {:target => "_blank"}
        %li
          =link_to "Life Insurance -An Intresting Investment Option", "http://www.banknetindia.com/banking/90118.htm", html_options = {:target => "_blank"}
        %li
          =link_to "Types Of Insurance", "http://www.icicilombard.com/app/ilom-en/Learning.aspx", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li
          =link_to "Life Insurance for Beginners", "http://www.youtube.com/watch?v=3PkPGH8uiT4", html_options = {:target => "_blank"}
        %li
          =link_to "How Does Insurance Work?", "http://www.youtube.com/watch?v=nXfGeMNnBsM", html_options = {:target => "_blank"}
        %li
          =link_to "Health Insurance for Beginners", "http://www.youtube.com/watch?v=wi5a7kjDzh4&feature=related", html_options = {:target => "_blank"}
        %li
          =link_to "Life Insurance As An Investment", "http://www.youtube.com/watch?v=mq9iGI1sdFc", html_options = {:target => "_blank"}
        %li
          =link_to "Life Insurance is Safer than Stocks", "http://www.youtube.com/watch?v=2m-AOimDmf8", html_options = {:target => "_blank"}
