.wrapper
  %article
    %h1 Investing in Fixed Deposits
    %section
      = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 What is a Fixed deposit?
      %p A Fixed Deposit (also known as Term Deposit) colloquially referred to as “FD” is a form of investment in which an investor deposits his money with a bank for a fixed period of time at a predetermined interest rate. After the term of the deposit ends, the investor gets the principal amount along with any outstanding interest.  Fixed deposits are also known as term deposits.
    %section
      %h1 What is the term of fixed deposits?
      %p Fixed deposit terms range from 1 week to 10 years. However, terms of 1 year, 2 years and 5 years are the most popular.
    %section
      %h1 When is interest paid?
      %p Investors have two options to receive interest:
      %p
        %b
          Regular basis:
        Investors can opt to receive interest on a regular basis. They further have an option to receive interest either on a quarterly basis or a monthly basis. The rate of interest offered on a monthly basis is less than that offered on a quarterly basis. In India however, interest is usually paid on a quarterly basis.
      %p
        %b
          Cumulative basis:
        Under cumulative basis, interest is calculated on a quarterly basis and interest earned is redeposited. The interest redeopsited earns interest too, thus fetching an investor higher returns than what he would stand to earn had he opted for interest to be received on a regular basis. To get an idea of difference in interest earned, we have a small illustration below. The amount deposited is Rs 1,00,000 for 2 years (8 quarters) at 10% interest p.a..
      %table
        %tbody
          %tr
            %th
              Period
            %th
              Regular Interest
            %th
              Cumulative Interest
            %th
              Difference
          %tr
            %td
              Q1
            %td
              2,500.00
            %td
              2,500.00
            %td
              0.00
          %tr
            %td
              Q2
            %td
              2,500.00
            %td
              2,562.50
            %td
              62.50
          %tr
            %td Q3
            %td 2,500.00
            %td 2,626.56
            %td 126.56
          %tr
            %td Q4
            %td 2,500.00
            %td 2,692.23
            %td 192.23
          %tr
            %td Q5
            %td 2,500.00
            %td 2,759.53
            %td 259.53
          %tr
            %td Q6
            %td 2,500.00
            %td 2,828.52
            %td 328.52
          %tr
            %td Q7
            %td 2,500.00
            %td 2,899.23
            %td 399.23
          %tr
            %td Q8
            %td 2,500.00
            %td 2,971.71
            %td 471.71
          %tr
            %td Total
            %td 20,000.00
            %td 21,840.29
            %td 1,840.29
      %p Longer the tenure of the fixed deposit, the greater is the difference between interest earned on a cumulative basis and a regular basis. In the above illustration you would notice, the amount under the column “Difference” increases with each passing quarter. This is advantage of compounding (interest earned on interest).
    %section
      %h1 How risky are fixed deposits?
      %p Fixed deposits are extremely safe in general. Each fixed deposit investment in a bank is insured up to Rs. 1,00,000. This essentially means that even if the bank goes bankrupt, you are still certain to receive your entire amount upto Rs 1,00,000.  However, our editors think that it is better for small investors to invest in fixed deposits at nationalized banks such as SBI, Andhra Bank, Bank of India etc or high grade private banks such as ICICI Bank, HDFC Bank etc. Some co-operative banks have gone bust in the past and it is probably better for small investors to avoid this risk.
    %section
      %h1 What is the interest rate on fixed deposits?
      %p Returns on fixed deposit are typically less than those from bonds and shares. This is because fixed deposits are immune to market volatility, economic turmoil and offer assured returns. Interest rates offered on fixed deposits vary over time and are largely influenced by the actions of the RBI.  Over the last 10 years, returns of fixed deposits for a period of 1 year have varied from 4.00% (In 2003-2004) to 8.25% (in 2010-2011).
      %table.center_align
        %caption
          Deposit Rate of Major Banks for Term deposits of more than 1 year maturity
        %tr
          %th.center_align
            Year
          %th.center_align
            Range of Interest Rate on Fixed Deposits
          %th.center_align
            Average Interest Rate
          %th.center_align
            Bank Rate/ Repo Rate/ Reverse Repo
        %tr
          %td
            Mar-02
          %td
            7.5-8.5
          %td
            8
          %td
            6.5
        %tr
          %td
            Mar-03
          %td
            4.3-6.3
          %td
            5.3
          %td
            5
        %tr
          %td
            Mar-04
          %td
            4.0-5.5
          %td
            4.8
          %td
            4.5
        %tr
          %td
            Mar-05
          %td
            5.3-6.3
          %td
            5.8
          %td
            4.75
        %tr
          %td
            Mar-06
          %td
            6.0-7.0
          %td
            6.5
          %td
            5.5
        %tr
          %td
            Mar-07
          %td
            7.5-9.0
          %td
            8.3
          %td
            6
        %tr
          %td
            Mar-08
          %td
            7.5-9.0
          %td
            8.3
          %td
            6
        %tr
          %td
            Mar-09
          %td
            7.8-8.8
          %td
            8.3
          %td
            5
        %tr
          %td
            Mar-10
          %td
            6.0-7.5
          %td
            6.8
          %td
            5
        %tr
          %td
            Mar-11
          %td
            7.8-9.5
          %td
            8.6
          %td
            6.75
        %tr
          %td{:colspan => "5"} Note: (i) Data on deposit term deposits of more than one year maturity in column 2 relate to five major banks. 
        %tr
          %td{:colspan => "5"} (ii) Average interest rate in column 3 refers to the mid-point of interest rates range in column 2.
        %tr
          %td{:colspan => "5"} (iii) In column 4, the policy rate used is the relevant policy rate at the given time. Bank Rate was used for the period prior to 2003 when it was in active use. For the subsequent period, repo/reverse repo rate was used depending on the prevailing liquidity conditions in the system.
        %tr
          %td{:colspan => "5"} Sources : RBI website.
    %section
      %h1 20 year performance of Fixed Deposits
      %p
        If we take a view of a period of 20 years (1992-2011), returns form fixed deposits have exceeded those from the share markets. In 1992, had we invested equal sums of Rs 10,000 in shares and fixed deposits, fixed deposits would be worth Rs 55,740 today while shares (Nifty)  would be worth Rs 45,676.
      .center_align
        %caption
          20 Year's comparison of Share Return vs Fixed Deposit Returns
      =image_tag  "investment_education/20years_stock_fixeddeposit_returns.png"
      %p
        However if we curtail the time period to 10 years (2002-2011), share market overwhelmingly outperforms fixed deposits. In 1992, had we invested an equal sum of Rs 10,000 in shares and fixed deposits, fixed deposits would be worth Rs 17,779 while shares would be worth a whopping Rs 51,856.
      .center_align
        %caption
          10 Year's comparison of Share Returns vs Fixed Deposit Returns
      =image_tag  "investment_education/10years_returns_graph.png"
      %p The above difference is because the share markets in India were stagnant between 1992 and 2002 and returned -11.92%. However after 2002 the share markets took off in a big way and returned 577.3% over the next 10 years.
    %section
      %h1 Tax aspects of Fixed Deposits
      %p The interest earned on fixed deposits is taxed at the same rate at which your regular income is taxed. i.e. If your income falls under 20% bracket (income between Rs 5 lakhs –  Rs 8 lakhs bracket),  interest earned would be taxed at 20%. Moreover if your interest income is more than Rs 1,00,000 the bank is required to deduct 10% as tax deducted at source (TDS).
      %p Fixed deposits deposited for a period of 5 years are eligible for exemption under Sec 80C (upto Rs 1,00,000). However the interest earned on these fixed deposit is subject to tax.
    %section
      %h1 Can I redeem my fixed deposits before maturity?
      %p Yes, you can redeem your fixed deposit at any time you like. However the interest rate you would earn would be the prevailing rate of the shortened period (prevailing at the time you first made your deposit). Example: You invested in a 5 years fixed deposit that fetched you 10.5% in 2010. Two years later because of some reason you are forced to break your fixed deposit. The interest rate you would then get is the rate that a 2 year fixed deposit would stand to earn had it been made in 2010.
      %p
        In addition to the reduced interest you are also liable to be charged a penalty for breaking your investment before maturity. This rate varies from bank to bank and can further be negotiated.
        Note: If you invest in a fixed deposit and claim tax benefit under 80C against it, you cannot break the fixed deposit before it matures.
    %section
      %h1 Editor’s take
      %p If you are investing more than Rs 1 lakh in fixed deposits, try to spread your investment across different banks with no single investment over Rs 1 lakh. By doing this, you are ensuring that in the worst case scenario even if banks go bust your savings are insured. If you are looking to invest in a fixed deposit from the perspective of tax saving under Section 80c, be double sure about it because your investment is locked for a period of 5 years.


    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.Planning_your_Taxes'), main_app.page_path('investment_education/tax-planning')
      .article_next
        Next:
        =link_to t('investment_education.Gold'), main_app.page_path('investment_education/gold-investment')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li Fixed Deposits in public banks are some of the safest investment options available.
        %li Premature withdrawal of Fixed Deposits entail penalties.
        %li The interest rate paid on Fixed Deposits varies with the maturity of the fixed deposit.
    .articles
      %h1 Articles
      %ul
        %li=link_to "Try our Fixed Deposit tool"
    .videos
      %h1 Videos
      %ul
        %li=link_to "Fixed Deposit Investment Advice", "http://www.youtube.com/watch?v=d2RxWNblH8o&feature=related", html_options = {:target => "_blank"}
