.wrapper
  %article
    %h1 How to analyze IT sector shares
    %section
      = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 What is information technology?
      %p
        Information Technology is the use of technology (usually computers) to store, process and analyze information. IT has huge applications in every single industry, from manufacturing to telecommunications; from banking to healthcare. IT is used to improve the productivity of individuals, processes and therefore companies. Extensive use of IT improves the profitability of companies and helps them grow faster that they would otherwise be able to.
    %section
      %h1 Offshoring, outsourcing and BPO
      %p Several companies mainly in Western Europe and USA get companies in countries such as India, Philippines etc to develop, upgrade and maintain the software internally. They do this because it is cheaper to do this than to have it done in those countries. This is the principle behind outsourcing/ offshoring.
      %p Most IT companies also handle “Business Process Outsourcing” (BPO) work too. This relates to low value work that relates to a business process. For example, a credit card company needs to do work such as opening accounts, calling clients to remind them to pay their bills, handling customer support queries etc. This does not generate revenue for the company but still has to be done in order for them to continue to operate. Therefore, they outsource this work to a company in India that does all this via the telephone and the internet. The advantage of doing this is the tremendous cost savings that come up because the companies in India/Philippines etc charge a lot less to do this it would cost the company to hire staff to do this in UK/USA etc.
    %section
      %h1 Investing in Information Technology shares in India
      %p Most IT companies in India are software companies that are involved with software development outsourcing, offshoring and BPO. Some companies such as TCS and Infosys also provide high end management consulting services that includes giving business advise. Companies like TCS and Infosys have grown from scratch to multibillion dollar companies in 20 years.
    %section
      %h1 Analyzing shares of IT companies
      %p As always, the key factors to consider while analyzing any company’s shares are growth, profitability and the strength of management. The following factors affect the growth and profitability of IT companies in particular. Historically, the IT sector has been a very profitable sector with profit margins as high as 30% not being uncommon. It has also been a high growth rate sector with growth rates as high as 25-30% p.a. TCS, Infosys and Wipro are multibillion dollar companies that grew from scratch in India.
    %section
      %h1 Factors that affect the IT sector as a whole
      %ol
        %li
          %b
            Exchange Rate:
          Exchange rate is rate at which one currency is exchanged for another. We are interested in the USD/INR rate and the EUR/INR rate in particular. Since majority of the customers of IT companies in India belong to western countries, the industry earns most of its revenue in foreign currency. It is thus exposed to fluctuation in foreign exchange.
        %b Illustration
        %p Lets us assume hypothetically that TCS wins a contract worth $250 million. Assume that the exchange rate is Rs. 52 for each dollar today. When converted into rupees, the contract is worth Rs. 13,000 million or Rs. 1,300 crores (52 X 250,000,000). In case the exchange rate falls to Rs. 50 for each dollar and the company did not hedge its currency (a common practice undertaken by most of companies to shield themselves from currency fluctuations), the same contract would now be worth Rs. 12500 million or Rs. 1250 crores (50 X 250,000,000), leading to a loss of Rs. 50 crores from earlier projected profits. Similarly if the exchange rate increases to Rs. 54 for each dollar, the same contract would be worth Rs. 1400 crores, leading to a profit of Rs. 50 crores over earlier projected profits.
        %p Hence you see, volatility in exchange rates can have very large effects on the profitability of a company.
        %p
          %b
            Real world situation:
          In 2nd half of 2011, rupee depreciated by 20% from Rs. 45/dollar to Rs. 53/dollar and in next one month (January 2012) it appreciated by 10% and was trading around Rs. 49/dollar.
        %li
          %b
            Global Scenario:
          Crisis in the global scenario like the sub-prime crisis in US and debt problem in Europe can have a short-medium term impact on the IT sector. A slowdown in an economy can lead to projects being scrapped away or delayed. Also in times of crises, customers usually request for a concessions on fees. All these factors lead to a decrease in revenues of the IT companies, thus denting its profitability and share price.
          %p Sometimes, a slowdown in the global economy can also be helpful for the IT sector. In times of a slowdown, many companies cut their budgetary spends and may move more work to lower cost centres which would be beneficial for IT companies. But this effect is usually dwarfed by the spending cuts that lead to loss of revenues.
    %section
      %h1 Factors specific to individual IT companies
      %ol
        %li
          %b
            Work Force:
          The size of the work force of a company is an important factor to consider while evaluating an IT company. The biggest asset of an IT company is its workforce. An increase in workforce indicates that the company is preparing to take on more projects. Similarly a reduction in the workforce indicates that the company does not have too many projects in the pipeline, hence is laying off staff/ allowing them to leave.
        %li
          %b Net Profit Margin:
          Net profit margin is an indicator of the profitability of the company. It is calculated as Net Profit/Sales. In order to attract new customers some companies actually cut down on their price. Though you might witness an increase in profits on a year-on-year basis, such a cut in prices is not sustainable over a long period of time and should be looked down upon negatively. Similarly an increase in net interest margin is a positive signal for its shares.
    %section
      .center_align
        %small Performance of CNX IT Index
      =image_tag  "investment_education/CNX_IT_Index.png"
      %table
        %tr
          %th.center_align{:colspan => 8}Yearly Returns of IT Stocks*
        %tr.center_align
          %td{:rowspan => 2} Date
          %td{:colspan => 3}Large IT Companies
          %td
          %td{:colspan => 3}Mid-Cap IT Companies
        %tr.center_align
          %td Infosys
          %td TCS
          %td Wipro
          %td
          %td Hexaware
          %td Mindtree
          %td HCL Tech
        %tr.center_align
          %td 1st April 2008- 31st March 2009
          %td -6.97%
          %td -35.30%
          %td -39.94%
          %td
          %td -57.92%
          %td -37.76%
          %td -58.57%
        %tr.center_align
          %td 1st April 2009- 31st March 2010
          %td 97.59%
          %td 197.59%
          %td 187.49%
          %td
          %td 160.99%
          %td 182.16%
          %td 251.20%
        %tr.center_align
          %td 1st April 2010- 31st March 2011
          %td 23.91%
          %td 43.99%
          %td 1.89%
          %td
          %td 93.55%
          %td -32.64%
          %td 33.36%
        %tr.center_align
          %td 1st April 2011- 31st March 2012
          %td -11.57%
          %td -0.93%
          %td -8.35%
          %td
          %td 77.21%
          %td 21.97%
          %td 1.11%
      %small
        * The above returns are adjusted for stock bonus and stock splits
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.Banking_Sector'), main_app.page_path('investment_education/banking-sector-shares')
      .article_next
        Next:
        =link_to t('investment_education.articles'), main_app.page_path('investment_education/articles')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li The IT sector has historically been a high growth and profitable.
        %li The IT sector is very sensitive to the Exchange rate between the Rupee and the US Dollar.
    .articles
      %h1 Articles
      %ul
        %li=link_to "IT Sector in India", "http://en.wikipedia.org/wiki/Information_technology_in_India", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "The Infosys story", "http://www.youtube.com/watch?v=vE15mp3zUQc", html_options = {:target => "_blank"}
