.wrapper
  %article
    %h1 Life Insurance policies as investments
    %section
      = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 What is Life insurance?
      %p
        Insurance is a form of risk management in which the ‘insured’ (usually an individual) transfers the risk of loss to the ‘insurer’ for a certain price known as premium. A life insurance policy is   an arrangement in which the ‘insured’ pays a premium to the ‘insurer’ to reduce the risk of financial burden that his/ her family would have to face in case of sudden death of the insured.
      %p
        For example, take the case of Rohit, a software engineer at a multinational company. He has a wife –Sarita, a homemaker and two children aged 7 and 10. If Rohit dies in an accident, his family will suffer financially. They will not have a source of income to support their living expenses. The future of the children is in jeopardy since they will have no one to support their education. If however, Rohit had a life insurance policy worth Rs 2 crore, the story would have been very different. Sarita would have received Rs 2 crore from the life insurance company upon Rohit’s death. This money and the interest earned on it could have been used to support the family and the childrens’ education.
    %section
      %h1 Why are life insurance policies considered investments?
      %p Typically, how life insurance works is that ‘insured’ (person who avails insurance) is eligible for insurance till a certain age, for which the insured pays a certain amount of money (premium) that is predetermined at initiation of the policy. Life insurance is commonly not sold as a policy in itself. It is packaged along with other investment products and sold to the customer.  When a customer pays a premium, a certain portion is allocated to premium for life insurance and the balance is allocated to the investment corpus. In an investment linked life insurance product, in case the person survives beyond the maturity of the life insurance policy, he is eligible to receive a lump sum of money at maturity.
      %p Life insurance is available in a host of forms. Some of them include:
      %ul
        %li
          %b Term Policy:
          This is a pure life insurance product and unlike other products does not have any investment aspects attached to it. There is an age limit till which the insurer can avail insurance. He has the option of paying regular premiums (quarterly, annually) or pay a onetime lump sum. In case the ‘insured’ survives beyond the maturity of the policy, he simply walks off and does not get any money at maturity.
        %li
          %b Whole Life Policy:
          This policy is active for the whole life of the ‘insured’. The sum assured becomes payable to the legal heir only after the death of the assured.
        %li
          %b Endowment Policy:
          This is an investment related policy in which the ‘insurer’ agrees to pay a certain sum to the insured either in case of death or at maturity, whichever is earlier. The premium in this case is considerably higher than that of the corresponding ‘term policy’ and ‘whole life policy’ and is payable either till death or maturity, whichever is earlier.
        %li
          %b Unit Linked Insurance Policy (ULIP):
          ULIPS are a popular form of investment in which a portion of your premium is used towards servicing your life insurance and the balance is used towards investing. An investor in ULIP has the option to choose how much he wants to allocate between equities and fixed income. He further has the option to revise the allocation as per his discretion.
    %section
      %h1 How much do life insurance policies usually return?
      %p Returns from investment related plans have not been very high. Returns on ULIPs vary based on the performance of equity markets and the allocation of funds between fixed income and equity instruments. On a conservative basis, an investor can expect a return of 5.5%-7% p.a. This is less than what an investor can expect from fixed deposits, bonds and other investments avenues.
    %section
      %h1 What is the tax benefit that life insurance offers?
      %p Premiums paid for life insurance are tax deductible  under section 80 C, whereby the amount paid is reduced from taxable income subject to a maximum limit of Rs 1 lakh.
      %p Payment by an insurer on maturity and death claim are exempt from tax for under section 10(10)(d) of the Income Tax Act. The only policies that are not eligible for exemption on payment or  maturity or claim are Single Premium Policies and policies where the sum assured was less than 5 times the premium paid.
    %section
      %table
        %tr
          %th Advantages
          %th Disadvantages
        %tr
          %td Financial safety for family in  case of death
          %td Low returns
        %tr
          %td Tax benefits
          %td
    %section
      %h1 How should I go about choosing a life insurance policy?
      %p Two tricky questions that you face while purchasing life insurance are: “How much should I insure myself for?” and “Between 2 insurance companies that offer the same products, which one should I go for”?
      %p How much should you insure yourself for?
      %ul
        %li
          The main objective of life insurance is to provide your dependants with sufficient cover such that your sudden death does not hurt them financially. In case you are the only earning member of your family, some of the objectives that you would like your insurance cover to meet are:
          %ul
            %li Clear all debts
            %li Cover your childrens’ education
            %li Meet the medical expenditure of your parents who are dependent on you
            %li Leave your family with sufficient corpus to maintain the same standard of living as long as you can provide for
        %p Typically, you should take a cover which is at least 10 times your current yearly salary.
        %p Between 2 insurance companies that offer the same products, which one should I go for?
        %li While opting which company to invest with, one should always have a look at the claim settlement ratio of the company. The claim settlement ratio of a company is the ratio of the number of claims it settles to the total number of claims it receives.
        %li Any number which is above 85% is considered good to pick an insurance policy from. In case both the companies have a good record, go for the company which has a higher claim settlement ratio. Companies such as Life Insurance Corporation (LIC), HDFC Life ,ICICI Pru Life have good claim settlement ratios.
    %section
      %h1 Editor's take
      %p We recommend that you look at insurance purely from the point of view of risk  management and not as an investment option. It is advisable that you buy a ‘term policy’ for the intended sum and invest the remaining money in assets such as fixed deposits which pay you higher returns on an assured basis. Consider the following scenario:
      %p Raj is a 26 year techie drawing a handsome salary. He wants to buy a life insurance policy that provides him with coverage of Rs 1 crore till the age of 60 years. He is considering investing in an investment cum insurance plan where the premium is approx. Rs 50,000 p.a. for 34 years (till he turns 60 years). In case he alive till maturity, he is entitled to receive approx. 90 lakhs. Sounds exciting right?
      %p Here is an alternative: For a premium of about  Rs 15,000 p.a. he can easily purchase a life insurance policy that meets his criteria. He can use the remaining amount to invest in long term fixed deposits which currently pay almost 9.5% p.a. (he will have to invest in ” a new FD each year).  At this rate he stands to earn a whopping Rs 1.01 crore at the age of 61 which out beats the investment cum insurance policy. Sounds good? The party is not over yet. In the first case, Raj is tied up with a long term commitment of Rs 50,000 p.a for 34 years. In any year in case he fails to pay his premium, he stands the risk of his policy being suspended and eventually lapsing whereas in the second case his premium commitment is much lower. In case in a given year he cannot cough out the amount as per the original plan, he can avoid being penalised by paying only Rs 15,000 instead of Rs 50,000 that he would have to pay in the first case.
      %p In our view, 34 years is a very long term view and ideally Raj should  invest in a diversified portfolio consisting of equal shares of equity, gold and fixed deposits. A diversified portfolio like this one is relatively less risky (more risky than only fixed deposits) but the gains that an investor stands to earn are very high.
      %p
        %b Note:
        In the above case, we have made some very simple assumptions to make it easy for our readers to understand the case. Fixed deposit rates are subject to change with time and investors face the risk of interest rates decreasing.

    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.bonds'), main_app.page_path('investment_education/bonds')
      .article_next
        Next:
        =link_to t('investment_education.sip'), main_app.page_path('investment_education/sip')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li
          Insurance is a form of risk management that allows an insured entity (individual/corporation)
          to protect itself and transfer away its risks to the insurer.
        %li
          The insured has to pay a premium in order to get compensated in case of a loss.
        %li Premium amounts vary depending on the insured’s profile.
        %li
          There are two broad categories of life insurance policies i.e. protection policies
          and investment policies
    .articles
      %h1 Articles
      %ul
        %li
          =link_to "Life Insurance -Wikipedia", "http://en.wikipedia.org/wiki/Life_insurance", html_options = {:target => "_blank"}
        %li
          =link_to "Life Insurance Basics", "http://www.lifeinsuranceindepth.com/basics.html", html_options = {:target => "_blank"}
        %li
          =link_to "Life Insurance as Investment", "http://www.investopedia.com/university/20_investments/9.asp", html_options = {:target => "_blank"}
        %li
          =link_to "Life Insurance -An Intresting Investment Option", "http://www.banknetindia.com/banking/90118.htm", html_options = {:target => "_blank"}
        %li
          =link_to "Types Of Insurance", "http://www.icicilombard.com/app/ilom-en/Learning.aspx", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li
          =link_to "Life Insurance for Beginners", "http://www.youtube.com/watch?v=3PkPGH8uiT4", html_options = {:target => "_blank"}
        %li
          =link_to "How Does Insurance Work?", "http://www.youtube.com/watch?v=nXfGeMNnBsM", html_options = {:target => "_blank"}
        %li
          =link_to "Health Insurance for Beginners", "http://www.youtube.com/watch?v=wi5a7kjDzh4&feature=related", html_options = {:target => "_blank"}
        %li
          =link_to "Life Insurance As An Investment", "http://www.youtube.com/watch?v=mq9iGI1sdFc", html_options = {:target => "_blank"}
        %li
          =link_to "Life Insurance is Safer than Stocks", "http://www.youtube.com/watch?v=2m-AOimDmf8", html_options = {:target => "_blank"}
