.wrapper
  %article
    %h1 Mutual Funds
    %section
      = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 What is a mutual fund?
      %p
        A mutual fund is a pool of money invested by small investors and managed by investment professionals to meet certain investment objectives. Small investors get together and invest in this pool known as a corpus which is then used by professional money managers to invest in a diversified portfolio of investments.
    %section
      %h1 What is a unit or a share of a mutual fund?
      %p
        A unit (sometimes known as a share) of a mutual fund is issued by the fund manager in return for money invested by the small investor. This unit or share of the mutual fund represents a piece of ownership of the entire mutual fund’s investment portfolio. So, if you own 1 unit or 1 share of HDFC Tax Saver Fund (Dividend scheme) and the fund has 100,000 units, you own 1/100,000 i.e. 0.001% of the investment portfolio of the mutual fund.
    %section
      %h1 What is the NAV / Net Asset Value of a mutual fund?
      %p
        As we mentioned above, each unit or share of a mutual fund represents a small piece of ownership of the value of investment portfolio of the fund. The monetary value of this is known as the Net Asset Value i.e. NAV. So, if the investment portfolio of HDFC Tax Saver Fund (Dividend scheme) is worth Rs 50 lakhs and there are 100,000 units or shares of the fund, then the NAV of 1 unit /share of the fund is Rs 50.
    %section
      %h1 What are the types of mutual funds?
      %b
        By structure of the mutual fund:
      %p
        %b
          Closed ended funds:
        A closed ended fund has a fixed maturity and the units are issued only at the time of creating of the fund. Once this window is closed, investors have an option to buy/sell units from each other and not directly from
        the fund. Some funds also give investors the offer to repurchase units on fixed dates. However the number of units issued after the initial offer period cannot be increased.
      %p
        %b
          Open ended fund:
        An open ended fund does not have any fixed maturity period. The fund offers to sell and buyback units directly from investors throughout the year.
      %p
        The key benefit of an open-ended fund is liquidity. If a close ended fund is not performing well, it may not have any takers at its Net Asset Value (NAV). An investor may be forced to sell unit at a discount to its value. However in an open ended fund, the fund offers to buy back the units at a price close to its NAV.
      %h1
        By nature of the mutual fund:
      %p
        %b
          Equity funds:
        These funds allocate most of their corpus in the share/stock markets. These funds can further be classified based on various themes like:
      %ul
        %li Sector agnostic or diversified.
        %li Growth, value, blend etc.
        %li Funds focusing on Large cap stocks or mid-caps stock or small caps or a mix of all 3.
      %p
        %b
          Debt Funds:
        These funds focus on investing most of the corpus in debt instruments issued by government and corporates. These funds are considered risk averse and returns though low, are mostly assured. They are investor’s favourite during turbulent times.
      %p
        %b
          Balanced Funds:
        Balanced funds invest in both equities and debt. The funds have a dual objective of moderate growth and regular income. They are less risky than equity funds but more risky than debt funds.
      %h1
        By investment objective of the mutual fund:
      %p
        %b
          Growth funds:
        Growth funds aim at capital appreciation (growth). These funds usually invest primarily in stocks/shares.
      %p
        %b
          Income funds:
        Income funds aim at investing in such a way that it assures regular income in form of interest and dividends. These funds invest primarily in debt instruments.
    %section
      %h1 What are the types of returns from mutual funds?
      %p
        %b
          Mutual funds offer returns in 2 forms:
      %p
        %b
          Dividend distribution:
        Mutual funds distribute the income that they earn in form of dividends. They have 2 sources of income:
      %p
        Income via interest and dividends: Usually they distribute all the income earned from these sources. Income via capital gains: Funds usually distribute a part of
        their capital gains i.e. they sell some of their investments that have increased in value and distribute these profits as dividends to their investors.
      %p
        %b
          Capital gains:
        When a fund does well, the value of its investments go up which results in an increase in NAV. If an investor chooses, he can opt to sell his units at higher price and book profit on them.
    %section
      %h1 Mutual Fund Fees and Loads
      %p
        Fund managers also charge unitholders a small fee for fund management and administrative expenses. This is typicall between 1-3% p.a. In addition, investors sometimes have to pay entry/exit load(fee) while buying and selling mutual fund units/shares. However, these days, entry loads are usually 0% and exit loads for periods greater than 1 year are also usually 0% in the case of most mutual funds.
    %section
      %h1 What are the returns from mutual fund investments?
      %p
        Returns from mutual funds largely vary depending upon the nature of the scheme. While equity mutual funds return roughly in the range of the index and are subject to volatility, returns from debt schemes are more constant and roughly hover around 10% p.a.  We have classified returns from some of the schemes across various categories to give you a rough idea of how the returns vary (data as on May 11, 2012):
    %section
      .center_align
        %b
          EQUITY
      %table
        %tr
          %th Large Cap
          %th 1 mth (%)
          %th 3 mth (%)
          %th 6 mth (%)
          %th 1 yr (%)
          %th 2 yr (%)
          %th 3 yr (%)
          %th 5yr (%)
        %tr
          %td Category avg
          %td -5.9
          %td -7
          %td -3
          %td -8.2
          %td -1.4
          %td 9.5
          %td 2.4
        %tr
          %td Benchmark returns #
          %td -6.1
          %td -8.1
          %td -4.3
          %td -12.5
          %td -3.7
          %td 13.3
          %td 3.8
        %tr
          %td Best of category
          %td 0.7
          %td 0.2
          %td 3.8
          %td 0.8
          %td 5.8
          %td 19.7
          %td 13.7
        %tr
          %td Worst of category
          %td -11.6
          %td -12.1
          %td -7.8
          %td -20.3
          %td -17.8
          %td 1.8
          %td -1.7
      %small # Benchmark Index: BSE-200
    %section
      %table
        %tr
          %th Small and Mid Cap
          %th 1 mth (%)
          %th 3 mth (%)
          %th 6 mth (%)
          %th 1 yr (%)
          %th 2 yr (%)
          %th 3 yr (%)
          %th 5yr (%)
        %tr
          %td Category average
          %td -4.7
          %td -2.3
          %td 1.1
          %td -4.2
          %td 0.3
          %td 21
          %td 4.1
        %tr
          %td Benchmark returns #
          %td -8
          %td -7.5
          %td -1.9
          %td -12.9
          %td -5.5
          %td 20.4
          %td 5.7
        %tr
          %td Best of category
          %td -1.4
          %td 3.4
          %td 9.9
          %td 12.7
          %td 12.6
          %td 35.9
          %td 16.1
        %tr
          %td Worst of category
          %td -10.7
          %td -7.6
          %td -4.8
          %td -20.6
          %td -13.8
          %td 12
          %td -4.9
      %small # Benchmark Index: CNX Midcap
    %section
      %table
        %tr
          %th Diversified Equity
          %th 1 mth (%)
          %th 3 mth (%)
          %th 6 mth (%)
          %th 1 yr (%)
          %th 2 yr (%)
          %th 3 yr (%)
          %th 5yr (%)
        %tr
          %td Category avg
          %td -5.8
          %td -6
          %td -2.3
          %td -8.7
          %td -1.6
          %td 13.4
          %td 3.5
        %tr
          %td Benchmark returns #
          %td -6
          %td -8.5
          %td -4.6
          %td -12
          %td -3.3
          %td 12.7
          %td 3.9
        %tr
          %td Best of category
          %td 0.2
          %td 3.9
          %td 6.5
          %td 10.5
          %td 13.8
          %td 29.4
          %td 13.3
        %tr
          %td Worst of category
          %td -11.6
          %td -13.5
          %td -12.4
          %td -23.9
          %td -9.8
          %td -17.4
          %td -5.4
      %small # Benchmark Index: BSE-100
    %section
      %table
        %tr
          %th Index
          %th 1 mth (%)
          %th 3 mth (%)
          %th 6 mth (%)
          %th 1 yr (%)
          %th 2 yr (%)
          %th 3 yr (%)
          %th 5yr (%)
        %tr
          %td Category avg
          %td -6.6
          %td -8.5
          %td -4.4
          %td -9.5
          %td -1.7
          %td 6.8
          %td 1.5
        %tr
          %td Benchmark returns #
          %td -5.7
          %td -8.6
          %td -4.6
          %td -11.4
          %td -2
          %td 11.5
          %td 3.9
        %tr
          %td Best of category
          %td -5.9
          %td -6.7
          %td -1.4
          %td -8.4
          %td -0.9
          %td 19.4
          %td 4.6
        %tr
          %td Worst of category
          %td -7.9
          %td -10.2
          %td -6
          %td -12.6
          %td -5.5
          %td 6.8
          %td 1
      %small # Benchmark Index: S&P CNX NIFTY
    %section
      .center_align
        %b
          DEBT
        %table
          %tr
            %th Debt Long Term
            %th 1 mth (%)
            %th 3 mth (%)
            %th 6 mth (%)
            %th 1 yr (%)
            %th 2 yr (%)
            %th 3 yr (%)
            %th 5yr (%)
          %tr
            %td Category avg
            %td 0.5
            %td 1.5
            %td 4.4
            %td 7.3
            %td 5
            %td 4
            %td 3.4
          %tr
            %td Best of category
            %td 0.9
            %td 2.6
            %td 8.9
            %td 13.3
            %td 9.9
            %td 8.9
            %td 11
          %tr
            %td Worst of category
            %td -0.7
            %td 0.1
            %td 2.4
            %td 3.2
            %td -4.2
            %td -0.8
            %td -9.3
    %section
      %table
        %tr
          %th Debt ShortTerm
          %th 1 mth (%)
          %th 3 mth (%)
          %th 6 mth (%)
          %th 1 yr (%)
          %th 2 yr (%)
          %th 3 yr (%)
          %th 5yr (%)
        %tr
          %td Category avg
          %td 0.6
          %td 2.1
          %td 4.3
          %td 8.9
          %td 6.3
          %td 4.5
          %td 3.2
        %tr
          %td Best of category
          %td 1.4
          %td 3.4
          %td 5.7
          %td 14.5
          %td 10.8
          %td 9.2
          %td 9.6
        %tr
          %td Worst of category
          %td 0.2
          %td 0.3
          %td 0.4
          %td 0.2
          %td -1
          %td 0.1
          %td 1
    %section
      %table
        %tr
          %th GILT LONG TERM
          %th 1 mth (%)
          %th 3 mth (%)
          %th 6 mth (%)
          %th 1 yr (%)
          %th 2 yr (%)
          %th 3 yr (%)
          %th 5yr (%)
        %tr
          %td Category avg
          %td 0.3
          %td 0.7
          %td 5.9
          %td 7
          %td 5.2
          %td 3.8
          %td 5.1
        %tr
          %td Best of category
          %td 1.1
          %td 2.6
          %td 10.7
          %td 13.3
          %td 10.7
          %td 11.4
          %td 11.7
        %tr
          %td Worst of category
          %td -0.5
          %td -1.8
          %td 0.2
          %td 0.5
          %td 0.8
          %td 1.2
          %td 3.1
    %section
      .center_align
        %b
          HYBRID
      %table
        %tr
          %th Balanced
          %th 1 mth (%)
          %th 3 mth (%)
          %th 6 mth (%)
          %th 1 yr (%)
          %th 2 yr (%)
          %th 3 yr (%)
          %th 5yr (%)
        %tr
          %td Category avg
          %td -4.3
          %td -4.1
          %td 0.2
          %td -3.7
          %td 1.4
          %td 13.2
          %td 6.2
        %tr
          %td Best of category
          %td 0.3
          %td -0.6
          %td 4.6
          %td 4.9
          %td 8.7
          %td 23.6
          %td 12.6
        %tr
          %td Worst of category
          %td -8.6
          %td -11.1
          %td -5
          %td -13.3
          %td -6.6
          %td 6.6
          %td -2.6
    %section
      %table
        %tr
          %th MIP Aggressive
          %th 1 mth (%)
          %th 3 mth (%)
          %th 6 mth (%)
          %th 1 yr (%)
          %th 2 yr (%)
          %th 3 yr (%)
          %th 5yr (%)
        %tr
          %td Category avg
          %td -0.8
          %td 0.3
          %td 3.3
          %td 4.2
          %td 3.4
          %td 4.7
          %td 4
        %tr
          %td Best of category
          %td 0.9
          %td 2.6
          %td 7.3
          %td 10.2
          %td 8.5
          %td 12.1
          %td 11.3
        %tr
          %td Worst of category
          %td -1.7
          %td -1.4
          %td 0.8
          %td 0.6
          %td 1.3
          %td 3.7
          %td 2.8
    %section
      %table
        %tr
          %th MIP Conservative
          %th 1 mth (%)
          %th 3 mth (%)
          %th 6 mth (%)
          %th 1 yr (%)
          %th 2 yr (%)
          %th 3 yr (%)
          %th 5yr (%)
        %tr
          %td Category avg
          %td --
          %td 1
          %td 3.1
          %td 5
          %td 3.6
          %td 4.2
          %td 3.9
        %tr
          %td Best of category
          %td 0.7
          %td 2
          %td 5.4
          %td 9.3
          %td 7.5
          %td 8.5
          %td 10.3
        %tr
          %td Worst of category
          %td -0.7
          %td -0.2
          %td 2.4
          %td 5.5
          %td 4.3
          %td 4.9
          %td 3.7
    %section
      %h1 How risky are mutual funds?
      %p
        The riskiness of a mutual fund depends on the kind of investments the fund invests in. Equity funds are riskier than debt funds. But on the whole, investing in mutual funds is less risky than investing in equities directly. This is because mutual funds offer the benefit of diversification<Link to diversification> and specialised investing. However due to factors market volatility, mutual funds are ranked higher than fixed deposits in the risk barometer.
    %section
      %h1 What are ETFs?
      %p
        ETFs stand for Exchange Traded Funds. They are mutual funds formed with the intent of closely tracking the returns of a particular asset or an index. In India, there are 2 major types of ETFs for retail investors:
      %p
        %b
          Index ETFs:
        Index ETFs hold securities in their portfolio in a proportion that is very close to that of the constituents of the index it is tracking. They aim to replicate the returns of the index they are tracking. Example: Kotak Nifty ETF tracks the S&P CNX Nifty.
      %p
        %b
          Commodity ETFs:
        Commodity ETFs invest in the commodity they are tracking. Example: ICICI Prudential Gold Exchange Traded Fund tracks gold.
    %section
      %h1 How can one invest in an ETF?
      %p
        ETFs trade on stock exchanges such as the BSE and NSE. They can be traded just like shares via a stock broker. The management fees and administrative expenses of ETFs are generally lower than that of other mutual funds. Entry and Exit loads are also absent in the case of ETFs.
      %h1 Advantages of investing in Mutual funds and ETFs:
      %p The main advantages of investing in mutual funds and ETFs are:
      %p
        %b
          Diversification:
        The biggest advantage of investing in mutual funds and ETFs is that they give you access to a diversified portfolio at a low cost. Can you imagine constructing an own portfolio in exactly the same proportion as the index. For a retail investor not only would this be a mighty expensive task but also a very difficult one.
      %p
        %b
          Professional Management:
        Mutual funds are managed by professionals. By investing in mutual funds not only are relying on professionals expertise but also saving the time and effort of tracking and managing your own portfolio.
      %p
        %b
          Tax saving:
        Some mutual funds offer you the advantage of claiming tax deduction under Section 80C. These are known as ELSS or Equity Linked Saving Schemes. Sometime the tax benefits that you enjoy can outweigh the losses you stand to face in case the NAV of the mutual fund were to fall. Example: For tax purposes, in case your income falls in the 5-8 lakhs slab, you would be subject to 20% tax. Say you invest Rs 1,00,000 in a particular mutual fund that offers you deduction under Sec 80C. You would have 1,00,000 deducted from taxable income under Section 80c and thus have to pay Rs 20,000 less in tax. Now suppose that the fund’s NAV is constant and doesn’t go up, you would still have saved Rs 20,000 in tax.
      %p
        Investing in ETFs also offers certain tax advantages. Example: ETFs are considered market instruments and any holding held for a period greater than a year is considered “long term” for capital gain taxation. Long term capital gains tax is 0%. The period for other form of investments varies. For investment in physical gold, the period is 3 years. Thus if you were to invest in gold ETF instead of physical gold, you could claim long term capital gains after 1 year instead of waiting for 3 years (as in the case of physical gold). Short term capital gain is taxed at 15% of gains.
    %section
      %h1 Editor’s Note:
      %p
        Mutual Funds and ETFs are fantastic for small investors just starting out as they give you diversification benefits at a low cost. We strongly recommend that you try to max out your potential tax deduction under Section 80c by investing in 80c compliant schemes such as ELSSs to save tax.

    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.shares'), main_app.page_path('investment_education/shares')
      .article_next
        Next:
        =link_to t('investment_education.bonds'), main_app.page_path('investment_education/bonds')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li A mutual fund pools money from many investors and invests it in a variety of securities.
        %li Net Asset Value (is marked to market daily) = (Total Market Value of all assets – Total Market Value of all liabilities)/Shares issued.
        %li All orders will transact at the price when the NAV has been calculated at close even though investors trade throughout the day.
        %li The risk-return profile of a mutual fund depends on the securities it invests in.
        %li Although unsystematic risk is close to zero, market risk and manager risk still remain.
        %li Transactions costs (entry and exit loads) must be carefully examined.
    .articles
      %h1 Articles
      %ul
        %li=link_to "Mutual Funds Tutorial", "http://www.investopedia.com/university/mutualfunds/", html_options = {:target => "_blank"}
        %li=link_to "Mutual funds in India", "http://en.wikipedia.org/wiki/Mutual_funds_in_India", html_options = {:target => "_blank"}
    .videos
      %Videos
      %ul
        %li=link_to "Open-Ended Mutual Fund", "http://www.youtube.com/watch?v=DzYwB3uSU-c&feature=player_embedded", html_options = {:target => "_blank"}
        %li=link_to "Closed-End Mutual Funds", "http://www.youtube.com/watch?v=VpVu25KhozQ&feature=player_embedded", html_options = {:target => "_blank"}
