
.wrapper
  %article
    %h1 Overview
    = render :partial => 'layouts/facebook_recommend'
    %section
      %ul
        %li
          %a{:href => "#fixed"} Fixed Deposits
        %li
          %a{:href => "#bonds"} Bonds
        %li
          %a{:href => "#gold"} Gold
        %li
          %a{:href => "#mutual funds"} Mutual Funds
        %li
          %a{:href => "#stocks"} Stocks
    %a{:name => "fixed"}
    %h1 Fixed Deposits
    %section
      %h1 What is a fixed deposit?
      %p
        Investing in fixed deposits is probably the most common form of investment in India. A fixed
        deposit is a deposit made with a bank for a fixed period of time. The investor is usually not allowed
        to withdraw this money till the end of the period (known as term) without paying a penalty. The
        interest rate paid on the deposit is pre decided at the beginning on the period and an investor has
        the option to withdraw interest either at regular periods or take a lump sum at maturity.
    %section
      %h1 How much do fixed deposits return?
      %p
        Fixed deposit returns vary over time. In early 2012, most banks offered between 8-10.5% p.a. for a 1 year term.
      %p
        Unfortunately very few people understand the dynamics of investing in fixed deposits and forget that variables like tax and inflation affect real returns. 
        These underlying hidden costs can virtually erode all the returns you earn from them. The following illustration projects the returns for a 1 year fixed deposit.
    %section
      %h1 Illustration
      %ul
        %li
          The average interest rate on fixed deposit is around 10%.
        %li
          An investor, whose income falls in the 5-8 lakhs bracket, is taxed 20% of his income.
        %li
          Inflation for the year 2011 averaged around 8.83%.
        %li
          Now let’s calculate the returns on an investment of Rs 100.
        %ul
          %li
            Interest earned: Rs 10
          %li
            Tax paid: Rs 2
          %li
            Inflation: Rs 8.826
          %li
            Real return = 100 - 2.00 – 8.826 = -0.17
      %p As you noticed, in real terms the returns were actually negative.
      %p In the long run, fixed deposits usually return less than stocks and more than cash investments.
    %section
      %h1 How risky are fixed deposits?
      %p Fixed deposits tend to be very safe, especially at nationalized banks.
      %h1 How can I invest in fixed deposits?
      %p You can go to any bank and open a fixed deposit at that bank.
      %table
        %tr
          %th Benefits
          %th Drawbacks
        %tr
          %td Safety
          %td Lower rate of return
        %tr
          %td Regular Income in the form of interest
          %td Interest income is taxable
        %tr
          %td Saves tax (deductible under section 80-C)
          %td High inflation can wipe out all the benefits
    %section
      %h1 Editor’s take
      %p
        Co-operative banks often lure investors by offering very high interest rates. There have been cases
        of investors losing a lot of money when such banks closed down. Therefore, we advise you to stick
        to nationalized banks and large private banks.

    %a{:name => "bonds"}
    %h1 Bonds:
    %section
      %h1 What is a bond?
      %p
        A bond is a type of investment that provides a return in the form of fixed regular payments and the
        eventual return of the invested principal at maturity. The periodic payment is called a coupon.
      %p
        Bonds are issued by governments, government agencies and corporations. They issue bonds
        because they need money. You, as a buyer of the bond, are actually lending the money to the issuer
        under specific conditions, written in the prospectus of the bond. Some bonds (mainly government)
        even carry tax benefits along with them. Example: The IDFC Bonds issued in January, 2012 carried
        an exemption of Rs 20,000 from the investor’s taxable income.
    %section
      %h1 How much do bonds return?
      %p
        Historically, bonds have returned more than cash investments but less than stocks. Bond returns
        vary with the interest rate cycle and credit quality. But on an average, they returned 8.5-11% p.a. in
        2011.
    %section
      %h1 How risky are bonds?
      %p
        Bonds in general, are less risky than stocks but more risky than fixed deposits or savings account
        deposits. Bonds issued by the government (central, state and agencies) are for all practical
        purposes, risk free. Bonds issued by private corporations carry some risk of default (not paying
        coupon payments or principal on time). This risk is known as credit risk.
      %p
        Rating agencies such as CRISL and ICRA issue credit ratings for bonds. AAA grade bonds are the
        safest and anything below BBB grade bonds are non-investment grade. We do not recommend that
        you invest in anything below BBB grade-bonds.
    %section
      %h1 How can I invest in bonds?
      %ul
        %li
          Many bonds can be bought online via your demat account, directly by applying to the issuer.
        %li
          Many bonds can be bought from the secondary market via your demat account.
        %li
          Your financial advisor may be able to apply directly to the issuer on your behalf.
      %table
        %tr
          %th Benefits
          %th Drawbacks
        %tr
          %td Capital Preservation- At maturity you get your principal back
          %td Credit Risk- This usually applies to corporations.Some of the corporations may default on their payments.
        %tr
          %td Regular Income- Interest is paid on regular basis and can complement your income
          %td Interest Rate Risk- The price of the bond is based on the market interest rate. Thus if the market interest rate increases, the price of bond may decrease.
        %tr
          %td Tax Exemption- Some bonds provide tax benefits.
          %td Liquidity Risk- Some bonds are illiquid and do not trade actively on exchanges.
    %section
      %h1 Editor’s take
      %p
        As a small investor, we think that you should invest in bonds mainly for tax benefits (infrastructure
        bonds/NHAI bonds etc.) and should avoid investing in bonds below A grade.

    %a{:name => "gold"}
    %h1 Gold:
    %section
      %h1 What is gold?
      %p
        Gold is a precious metal. Millions of people, financial institutions and governments globally, invest
        in gold as a store of value. From gold mutual funds to gold exchange-traded funds (ETFs), from gold
        stocks to physical gold in form of gold coins, gold bars, etc., investors now have several different
        options when it comes to investing in the royal metal.
    %section
      %h1 How much does gold return?
      %p
        Gold, returned X% over the last 5 years. Returns from gold tend to vary over the years and it is
        possible that gold can lose value over certain periods. Gold returns are linked to the performance
        of Indian Rupee v/s the US Dollar since gold prices in international markets are quoted in US$.
        Investments in physical gold don’t pay dividends or interest. Thus, the only return you get from
        investing in gold, is price appreciation. Gold Mutual funds or ETFs may pay dividends.
    %section
      %h1 How risky are gold?
      %p
        Theoretically, gold is just as risky as any other commodity. However, for all practical purposes in
        the Indian context, gold is quite safe. It is riskier than fixed deposits but safer than stocks.
      %p
        Gold prices rise when there is high inflation. Thus, historically, gold has always served as
        an inflation hedge. A large number of investors flock to gold during political and economic
        uncertainties. Thus, it is considered a safe haven. Recently when USA had been downgraded by
        S&P in August 2011, in matter of 2 weeks, gold rallied almost 10% from approx. Rs 25,500 to Rs
        28,000(per 10 grams). Gold is not highly correlated to stocks, bonds or other assets. Hence it serves
        as a classic
        #{link_to 'diversification', page_path('investment_education/diversification')}
        asset.
    %section
      %h1 How can you invest in gold?
      %ul
        %li
          You can buy physical gold in the form of coins or bars from banks/post offices.
        %li
          You can buy gold mutual funds or gold ETFs via your demat account. E.g. Reliance Gold
          Mutual Fund. These investments closely track the price of physical gold.
      %table
        %tr
          %th Benefits
          %th Drawbacks
        %tr
          %td Quite a safe investment in the Indian context
          %td Doesn’t pay dividends or interest
        %tr
          %td Protects against inflation and financial turmoil
          %td Not as safe as fixed deposits
        %tr
          %td Excellent diversification tool
          %td
    %section
      %h1 Editor’s take
      %p
        Gold is a fantastic investment in the Indian context (high inflation) and should be part of every
        serious investor’s portfolio. We advise gold ETFs and gold Mutual funds as opposed to physical gold
        as it is much safer(cannot be stolen).

    %a{:name => "mutual funds"}
    %h1 Mutual Funds:
    %section
      %h1 What is a mutual fund?
      %p
        A mutual fund is a basket of investments (usually stocks) managed by professionals. When you
        invest in a mutual fund, you are investing in that basket of investments indirectly. Each unit of a
        mutual fund represents a piece of that basket of investments. Mutual funds are of several types –
        equity funds that invest in stocks, bond funds that invest in bonds, commodity funds that invest in
        commodities such as gold etc. You even have funds with specific mandates such as growth funds
        that invest in fast growing companies, dividend funds that invest in high-dividend paying stocks
        and so on.
    %section
      %h1 How much do mutual funds return?
      %p
        Mutual funds return as much as their underlying investments. Therefore, equity(stock) mutual
        funds return as much as stocks, bond funds return as much as bonds, etc. Long term funds with a
        minimum lock-in period of 3 years give investors income tax benefits under Section 80c.
    %section
      %h1 How risky are mutual funds?
      %p
        Mutual funds in general are as risky as their underlying investments. However, investing in a
        mutual fund is much safer than investing in a single stock or a single bond. Mutual funds invest in
        a variety of investments and thus spread the risk among them, giving the investor diversification
        benefits and reducing the overall risk. Stock (equity) mutual funds are riskier than fixed deposits
        and can give negative returns when the markets fall.
    %section
      %h1 How can I invest in mutual funds?
      %p You can buy mutual fund units directly from the fund manager or on the secondary market. This can be done via:
      %ul
        %li
          Your demat account.
        %li
          Your financial adviser/approaching the fund management company directly.
      %table
        %tr
          %th Benefits
          %th Drawbacks
        %tr
          %td Professional Management- Funds are managed by professionals
          %td Entry and exit loads, if charged by the fund, reduce fund returns
        %tr
          %td Diversification- Mutual funds provide you an exposure to a diversified set of equities, bonds and commodities
          %td Fund management fees that are charged by the fund, reduce fund returns.
        %tr
          %td Liquidity: Similar to stocks, mutual funds allow investors to liquidate their holdings at will
          %td
        %tr
          %td ELSS funds give investors tax benefits under Section 80c
          %td
    %section
      %h1 Editor’s take
      %p
        Mutual funds are excellent investments for beginners as they give investors
        diversification benefits and good returns. Watch out for hidden charges such as entry/exit loads
        and management fees.

    %a{:name => "stocks"}
    %h1 Stocks(shares):
    %section
      %h1 What is a share / stock?
      %p
        Stocks are extremely popular investments in India and all over the world. A stock of a company
        represents a small piece of ownership of that company. Yes! If you own a share of Infosys, you do
        own a small piece of Infosys (the company). Shares are traded on stock exchanges. In order for a
        company to enable its shares to be traded on an exchange, it has to list its shares on the exchange.
    %section
      %h1 How much do shares / stocks return?
      %p
        Returns on stocks can be earned either via dividends or capital gains. Companies often pay their
        shareholders a part of their income. This is known as a dividend. In the Indian context, dividends
        are usually quite small (usually about 0.5-2% of the market price of the share).Increases in the
        price of shares are called capital gains.
      %p
        Stock returns vary widely. Stocks of different companies return different amounts of money and
        this return is not fixed or known in advance. Stocks in general (Nifty) returned X% over the last 5
        years and Y% over the last 10 years. In general, stocks return more than fixed deposits, bonds and
        real estate.
    %section
      %h1 How risky are shares / stocks ?
      %p
        In general, stocks are much more risky than fixed deposits. Riskiness depends on individual
        companies and stocks. Investing in shares can be a risky proposition due to the high volatility
        in prices. If investors are not cautious about the companies they invest in, they can end up with
        negative returns.
      %p
        This risk can be reduced through diversification, i.e. investing in many stocks instead of just 1 stock,
        to spread the risk. When investing, people often look for a rationale behind the market movements
        but remember, in the short run markets tend to get driven by speculators and act irrationally.
        However in the long run, the irrationality is ironed out and markets tend to trade at fair valuations.
        Example: During the 2008 subprime crisis, the Indian economy was one of the most robust
        economies. Yet the stock markets crashed from 20,800 (in January 2008) to 8,300 (50% decrease
        from highs) in a matter of 14 months. However when the panic settled down, we bounced back to
        17500 (100% increase from lows) by end of the same year.
    %section
      %h1 How can I invest in shares / stocks
      %p Stocks can be bought/sold on stock exchanges via your demat account, though a stock broker.
      %ul
        %li
          Your demat account.
        %li
          Your financial adviser/approaching the fund management company directly.
      %table
        %tr
          %th Benefits
          %th Drawbacks
        %tr
          %td High returns
          %td Hign risk
        %tr
          %td High liquidity
          %td Extremely volatile
    %section
      %h1 Editor’s take
      %p
        Don’t get discouraged by the riskiness of stocks. Over a short period of time you might
        feel that you are a victim of the volatility but if you diversify your portfolio and invest in the right
        companies, you will definitely enjoy high returns.
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.invest_successfully'), page_path('investment_education/invest_successfully')
      .article_next
        Next:-
        =link_to t('investment_education.investment_trading'), page_path('investment_education/investment_trading')
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li Returns can be considered compensation for taking on investment risk.
        %li Investors seeking high returns from investments must be prepared to take on a high amount of risk.
        %li Risk can be classified as Systematic and Unsystematic risk.
        %li Systematic Risk of an investment is associated with market risk that is inherent to all investments. This risk cannot be eliminated. 
        %li Unsystematic Risk is the company or industry specific risk associated with an investment and is unique to it. This risk can be eliminated by diversifying your portfolio.				
    .articles
      %h1 Articles
      %ul
        %li No articles yet.
    .videos
      %h1 Videos
      %ul
        %li No videos yet
