.wrapper
  %article
    %h1 Real Estate Investments
    = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 What is real estate?
      =image_tag  "investment_education/RealEstate1.png"
      %p Real estate consists of pieces of property such as pieces of land, residential pieces of property such as apartments or houses, commercial buildings like factories, warehouses, offices and shopping malls. When an investor buys property, he acquires a set of rights to it such as the rights to possession, control and transfer. A piece of property is a tangible asset, unlike a financial investment such as a stocks/bonds, which are usually certificates of entitlement.
      %p Property is considered one of the most stable forms of investment because their values generally do no fluctuate as wildly as those of financial instruments such as stocks.  However, real estate investment is also something that requires a great deal of ground-work since it is a large and long-term investment that demands substantial time and effort for management.
      %p Also, it is difficult to hedge changes in market values and rental income you can get from your real estate investments. Therefore, it is important that you have an in-depth understanding of the property market, the economy and the particular piece of property that you are investing in.
    %section
      %h1 Generating Income and Returns:
      %p There are a few ways in which investors can generate income or returns:
      %h1 Buy and Hold
      %p The “buy and hold” method of property investing is simply the process of buying property and holding it for long periods of time. Investors generally benefit from capital appreciation of property. This means that the property would have registered an increase in market value, from the time of purchase to the time of sale so that the investor is able to make a profit. Usually, it takes a number of years for a property to substantially increase in value.
      =image_tag  "investment_education/RealEstate2.png"
      %p The value at the point of sale will be determined by a property appraiser, who will take into account factors such as the current physical condition of the property itself, the cost of operations and maintenance, potential rental income, the value of similar types of pieces of property, the value of other property in the surrounding area, etc.
      %p The typical methods of property appraisal include the sales comparison approach, and the discounted cashflow approach.
      %h1 Sales Comparison Approach
      %p The sales comparison approach is simply to value a property based on its location, taking into account the prices at which similar pieces of property are transacting at in the market. The property appraiser will make use of a database that records the transaction volumes and prices of all property in that location to help him value the property.
      %h1 Discounted Cashflow Approach
      %p The discounted cash flow approach is usually used to value income–producing pieces of property, based on their potential cashflows over a fixed period, e.g. 5 years.
      =image_tag  "investment_education/RealEstateGraph.png"
      %p The potential cashflow per year is the sum of the total rental income received for that year, less the yearly costs operations, maintenance, taxes and other costs associated with owning the piece of property. Assuming a required rate of return, discount the yearly cashflows back to present value in order to obtain the current market value of the property, as shown by the following equation:
      =image_tag  "investment_education/RealEstateEquation.png", :height => "50px", :width => "450px"
      %p Note that the total cashflow for year 5 should be Rs. 11,00,000 since the investor is planning to sell the property at the end of year 5 for Rs. 10,00,000 and this is on top of the rental income of Rs.1,00,000 he will receive for that year.
      %h1 Cost Approach (for accounting purposes)
      %p The cost approach is the idea of valuing a piece of property based on its construction costs. This value at cost is also known as the book value. Note that this approach is mainly used for accounting and financial reporting purposes for corporations. The book value does NOT equal the market value so do not expect to sell your property at the price at which you had constructed it. Every year when a company revises its financial statements, it will be necessary to expense an allocated amount of depreciation charges against the book value so as to reflect the yearly decline in the value of the property due to wear and tear, technological obsolescence, etc.
      %h1 Rental
      =image_tag  "investment_education/RealEstate3.png", :height => "150px", :width => "200px"
      %p Property investors can buy a piece of residential property and rent it out to tenants who will then reside at the location. Investors may also choose to buy into a piece of commercial property such as a factory or warehouse and lease it out to tenants who will then use the location for commercial purposes such as goods storage, goods distribution or retailing. Of course, since investors become landlords, they will be responsible for paying the mortgages, taxes, maintenance costs, insurance as well as any other costs associated with owning the pieces of property.
      %p One particular risk faced by a landlord is the inability to find tenants or sufficient rental income. He runs the risk of obtaining negative cashflow  because of the need to continue paying the associated costs as mentioned earlier, (in particular, the regular mortgage payments), even if there is no rental income.
      =image_tag  "investment_education/RealEstate7.png", :height => "150px", :width => "200px"
      %p Your rental income will depend very much on the demand and supply of free rental space in the market. In economics, we know that a high demand for rental space and a lack of supply will mean that a landlord is able to charge high rents. A low demand for rental space and an over-supply will result in declining rental rates.
      %p Thus, it is important that landlords have intimate knowledge of market conditions and how their cashflows will be affected. It will also mean that they should ultimately question the viability of participating in the property rental market in the first place.
      %p Also, investors will need to devote greater time and attention to their property investments, as compared to owning financial investments such as stocks and bonds, since they are the ones managing their own investments. For example, assume that you are the landlord of a house. Suppose that the water stops flowing late in the night, your tenants are likely to approach you directly to fix the problem.
      =image_tag  "investment_education/RealEstate4.png", :height => "150px", :width => "200px"
      %p Of course, as owners, investors will benefit from any capital appreciation, or increase in market value of their pieces of property, enabling them to sell them off at a profit. Vice versa, they will also suffer from capital depreciation should the value of their pieces of property fall when they decide to sell. Since a large proportion of a landlord’s rental income should offset any mortgage payments, it is important that a potential investor consider the present value of the property at purchase, and whether the mortgages are worth paying.
      %h1 Real Estate Flipping/Speculation
      %p There are some investors in the property market who plan to buy and hold their pieces of property for less than a year, and aim to resell them in the secondary market for a quick profit. This is also known as real estate flipping. The main driver of such a market is speculation because investors could be extremely bullish about the market and want to capitalize on the rapidly rising prices (over the coming months) to make a quick buck.
      =image_tag  "investment_education/RealEstate5.png"
      %p These investors will usually aim to purchase undervalued pieces of property or very popular luxurious homes that are very limited and aimed at the high-end segment. Real estate speculators have often been blamed for causing real estate “bubbles” and many-a-times, the government steps in to quell such speculation using policies such as lowering the loan-to-value limit and imposing taxes on residential pieces of property that are sold within one year of purchase. The property market is similar to the stock market in that there is a primary and a secondary market. The primary market is used to describe the market for direct transactions between property developers and first-time buyers. The secondary market refers to the market for transactions between first-time buyers of pieces of property (who become the sellers) and buyers of pieces of property that are resold. The primary market gives a good indication of the conditions in the property market as a whole. The secondary market may reveal some information about the level of speculation due to excessive real estate trading.
      %h1 Real Estate Investment Trusts
      %p A real estate investment trust (REIT) is an investment corporation, much like a mutual fund, except that it invests only in property. The main difference between REITS and typical mutual funds is that REIT managers also double-up as active managers of the property that they acquire. This is in contrast to most mutual funds which are just passive investors. REIT managers will perform asset enhancement projects on their acquired pieces of property, which will subsequently be used to collect rental income from various tenants.
      =image_tag  "investment_education/RealEstate6.png"
      %p REITS can choose to concentrate on commercial pieces of property such as offices, warehouses, factories and even shopping malls.
      %p The widely popular CapitaMalls Asia (CMA) is one such REIT that focuses on shopping malls in Asia. CMA raised almost Rs.2.8 billion in the largest IPO in Singapore since Singapore Telecommunication’s Rs.4 billion IPO in 1993.
      %p REITS are high-yielding investment so investors typically hold REITS for their high dividends rather for capital gains. The main indicator unit that REIT investors should be aware of is the Distribution Per Unit (DPU), which is basically a measure of a REIT’s performance. Higher income for a REIT, whether through sale of enhanced pieces of property or rental income, will result in a higher DPU, which will also mean that investors can expect higher dividend payouts.
      %p REITS are listed on exchanges and can be bought and sold just like regular stocks. In Singapore, REITS are typically known as S-REITS. There are about 20 S-REITS currently trading on the Singapore Exchange.
      %p Further information on REITS will be covered in the article on REITS.
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.insurance_products'), page_path('investment_education/insurance_products')
      .article_next
        Next:
        =link_to t('investment_education.foreign_exchange1'), page_path('investment_education/foreign_exchange1')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li Real estate consists of pieces of property such as pieces of land, residential pieces of property and commercial buildings.
        %li Property returns do not fluctuate as wildly as stocks.
        %li Some of the ways to earn returns in real estate are ‘Buy and Hold’, Rental, Real Estate Flipping (buying and selling frequently), Real Estate Investment Trusts, etc.
    .articles
      %h1 Articles
      %ul
        %li=link_to "Real estate investing -Wikipedia", "http://en.wikipedia.org/wiki/Real_estate_investing", html_options = {:target => "_blank"}
        %li=link_to "Real Estate Investment Trusts in India", "http://www.chillibreeze.com/articles_various/Real-Estate-Investment.asp", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "Indian Real Estate", "http://www.youtube.com/watch?v=gOcp-NB6Atg&feature=related", html_options = {:target => "_blank"}
        %li=link_to "Indian Real Estate Opportunities", "http://video.cnbc.com/gallery/?video=769794029", html_options = {:target => "_blank"}
        %li=link_to "The Right Way To Invest In Real Estate", "http://videos.oneindia.in/watch/38410/right-way-invest-real-estate.html", html_options = {:target => "_blank"}
        %li=link_to "Value of investment grade under-construction real estate", "http://www.youtube.com/watch?v=ZnIOb7cJknI", html_options = {:target => "_blank"}
        %li=link_to "Mistakes Real Estate Investors Make", "http://www.youtube.com/watch?v=XFObHA0Ke7M", html_options = {:target => "_blank"}
