.wrapper
  %article
    %h1 Share market : What drives it?
    %section
      = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 What affects share prices?
      %p
        Market sentiment and other factors such as liquidity, speculation, temporary supply/demand changes affect share prices in the short term. However, in the long term, company shares trade at a more fair value that is determined by fundamental factors such as the growth prospects of the company, profitability and management efficiency.
    %section
      %h1 What is the “long term”?
      %p
        A time period that allows the fundamentals of the company such as profitability, growth prospects and returns on equity to determine the price of the company shares is considered the long term. Though financial analysts usually do not give clear cut answers to questions like this, for practical purposes, you can consider a period of 3+ years as the long term.
    %section
      %h1 What is the “short term”?
      %p
        Markets behave irrationally at times. For all practical purposes, anything less than 1 year is considered short term.
    %section
      %h1 Factors that affect the long term performance of shares (stocks)
      %p
        The price of a company’s shares is determined by fundamental factors in the long term. While most factors relate to the company being analyzed, there are several country-wide/global factors to consider too.  Remember that when you buy a share of a company, you are buying a small piece of the company.
        #{link_to 'Read this article to understand what shares are',main_app.page_path('investment_education/shares')}.
        Therefore, your shares become more valuable as the company becomes more valuable.
    %section
      %h1 Main Macroeconomic factors that affect shares
      %ol
        %li
          %p
            %b
              GDP growth rate (Higher GDP growth is better for the share market):
            GDP or Gross Domestic product is a measure of how much money a country is producing. The exact definition of GDP is not important here. But understand that the higher a country’s GDP growth rate, the more attractive it becomes
            to foreign investors. Foreign investors (FII s) investing directly in Indian shares and tend to pump in more money when the growth rate of the GDP is high.
        %li
          %p
            %b
              Interest Rates (Low interest rates are generally better for the share market):
            Interest rates in this context are the interest rates at which the Reserve Bank of India (RBI) lends money to banks. There are 2 key rates to watch out for – The Repo rate and the Reverse Repo rate. (Yes, banks also borrow money!) The rates of interest charged by banks to companies/customers depend on the rates at which they borrow from RBI. When RBI raises these interest rates, banks raise their interest rates too. When interest rates rise, it becomes harder for companies and consumers to take loans from banks because of the higher interest that they have to pay on the loans. This results in companies having less money to spend on new projects, buying new machinery and hiring. Consumers too have less money to buy goods/services. As a result, company profitability reduces. High interest rates are bad for the share market and generally result in slower economic growth and lower profitability. Therefore, when interest rates are raised, markets generally fall.
          %p
            %b
              Example:
            The Real Estate sector (companies such as DLF, Unitech etc) is sensitive to changes in Interest Rates. This is because in general, realty companies have large debt i.e. they borrow heavily from banks/public to fund their operations. When interest rates are increased, the share prices of reality companies decrease because interest rates have a direct and an indirect effect on operations of the realty companies.
        %li
          %p
            %b
              Inflation (Low inflation is better for the share market):
            Inflation is the rate of increase of prices of commonly used goods. It is measured using something known as a CPI (Consumer Price Index) which takes into account the prices of commonly used goods/essentials such as fuel, food, house rents etc. High inflation is bad for the economy and for the market sentiment. Inflation of 5-6% p.a. is generally considered acceptable in a country like India. If inflation exceeds the target level, the Reserve Bank of India increases interest rates to bring inflation under control. Raising interest rates is bad for the economy and for the share market in general but it brings down inflation over the next few months.
        %li
          %p
            %b
              Strength of the Indian Rupee (Strong rupee is better for the overall share market):
            The exchange rate between the rupee and major currencies such as the US Dollar and Euro influences the share market substantially. A strong rupee is good for importers such as oil companies and a weak rupee is better for exporters such as IT companies (TCS, Infosys etc). A weak rupee is bad for Foreign Institutional Investors as they tend to suffer negative returns in their home currency. This causes them to pull out, leading to a fall in share prices.
          %p
            %b
              Direct Effect:
            An increase in interest rate hampers the ability of the company to raise fresh loans as fresh loans would come at a higher cost (interest rate) which in turn would reduce its profits.
            Sometimes loans are available at such high rates that the project becomes infeasible for the company to pursue and the company decides to forgo the project. Hence, the projected profits of the company take a hit and in return the share price decreases.
          %p
            %b
              Indirect Effect:
            An increase in interest rates also reduces the sales of new homes because customers would have to take loans at a higher rate of interest. Many potential customers postpone their plans to purchase new homes because of this. The decrease in sales has multiple effects on the operations of the company such as a decrease in profitability, decrease in cash flow which in turn translates into a reduced ability to repay loans on time and to pursue new projects. As a result the prices of reality companies decrease.
    %section
      %h1 Other factors that affect the share market
      %p
        There are plenty of other factors that influence share prices that we haven’t discussed in this article. For example, major demographic changes may have a much more permanent effect on a company than let’s say, temporary fluctuations in interest rates. An aging population will create opportunities for some sectors (pharmaceuticals and hospitals) and problems for others (education). 
      %p
        The trick for investors is to understand the effect of different factors on the operations and profitability of the company they are studying.
    %section
      %h1 Factors that affect the short term performance of the share market
    %section
      %h1 What is share market sentiment?
      %p
        Market sentiment is defined as the overall mood of the market. It is determined by news flows, economic & political developments, monetary policy and the general mood of the people trading in the market. For example, when S&P downgraded USA’s sovereign rating in 2011, the Sensex and the  Nifty crashed by over 8% in less than 1 month. Did this have anything to do with the fundamentals of Indian companies? No. This was purely because of poor market sentiment that was hammered by the news of the downgrade.
      %p
        Daily share prices are affected by factors ranging from general market sentiment, simple supply & demand disruptions, unexpected news flows and speculation.
      %ol
        %li
          %p
            %b
              Market Sentiment:
            As we mentioned before, market sentiment is described as the mood or feeling of the markets (I know it sounds absurd but this is how it is). When the market sentiment is positive, the share market rises and so do most of the shares. Similarly when the market sentiment is negative, the share market usually falls and along with it most of the shares. In a market driven by sentiments, news flows are usually ignored. i.e.  in a market marked by positive sentiment, release of minor negative news is usually ignored and similarly when the sentiment is negative, the markets hardly react to small positive news.
          %p
            The most important thing to remember is the switch in the sentiment happens suddenly and can take place overnight or for that matter during a
            trading session itself. The switch is often backed by even more seemingly absurd reasons often. Analysts may say things like - ‘The market were over-heated’, ‘The market were bound to correct’ (when markets switch from positive sentiment to negative) or ‘markets were trading at very attractive levels’, ‘markets had bottomed out’ etc (when markets switch from negative sentiment to positive).
        %li
          %p
            %b
              Demand and Supply forces:
            Supply, in this context is the set of willing sellers of a company share and demand is the set of willing buyers. If the demand for a particular share is greater than its supply then the willing buyers usually try to outbid (offer to pay more) each other and are willing to pay a higher price to acquire the shares. Thus the share price rises. Similarly when the supply is greater than demand, in an attempt to successfully sell his shares, a seller is usually willing to sell his shares at a price less than the prevailing price and thus the share price decreases.
          %p
            %b
              llustration:
            Suppose shares of Reliance Industries open trading at Rs 1000 per share. At that price, there are investors who are willing to sell and buyers who are willing to buy. Under these circumstances, the price will stay close to Rs.1000 per share until the balance between supply and demand changes.
          %p
            What happens if more buyers (demand) enter the market? In order to induce more sellers to sell their shares, the buyers need to offer a higher price and thus the price of the share increases. If there is a sustained demand (more buyers joining the action), the price will continue to rise.
          %p
            As the price rises, it will reach a point when owners become nervous and/or want to cash out their profit. When the supply exceeds the demand, in order to induce other buyers into the market, the sellers are willing to sell their shares at a price cheaper than the prevailing rate and hence the price of the share slowly decreases. The selling persists till shares are trading at a level which is considered cheap by many.
          %p
            The scale then shifts on demand side. When the demand for shares approaches and then exceeds the supply, prices begin to rise and the whole cycle starts over again. The switch in balance between the buyers and sellers may play out over a time frame ranging from days to even seconds depending on how actively a share is traded.
          %p
            Remember in the short term markets are dominated by traders and for reasons mentioned above they often tend to act irrationally at times. However over a long period, the irrationality is slowly ironed out and the share trades at its fair value.
        %li
          %p
            %b
              FII inflows:
            Foreign Institutional Investors (FIIs) bring in a lot of money into the share markets and skew the supply/demand of shares when they participate actively (Refer to point 2). As a rule of thumb, FIIs contribute to over 20% of the volumes traded on the major exchanges – NSE and BSE.
    %section
      %h1 Editor’s Take
      %p
        Investors should invest for the medium to long term and not get overly worried about short term fluctuations. Remember, the market is driven by fundamentals in the long run. Fundamentals are easier to model and understand than therefore profit from, than short term fluctuations which are capricious and very hard to predict/model.
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.life_insurance'), main_app.page_path('investment_education/life-insurance-policies')
      .article_next
        Next:
        =link_to t('investment_education.Fundamental_Analysis'), main_app.page_path('investment_education/fundamental-analysis-shares')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li Share markets are affected by market sentiment.
        %li Macroeconomic factors such as GDP growth, interest rates and inflation affect the share markets.
        %li FII inflows and the strength of the rupee also affect the share markets.
    .articles
      %h1 Articles
      %ul
        %li=link_to "Our Shares page", main_app.stocks_path
        %li=link_to "BSE's website", "http://www.bseindia.com/", html_options = {:target => "_blank"}
        %li=link_to "How the Share market works", "http://money.howstuffworks.com/personal-finance/financial-planning/stocks.htm", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "Cartoon on the share market", "http://www.youtube.com/watch?v=5KD5B7WZthQ", html_options = {:target => "_blank"}

