.wrapper
  %article
    %h1 SIP: How to invest in a systematic investment plan
    %section
      = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 What is a SIP?
      %p
        SIP stands for- Systematic Investment Plan. It is a method of investing small amounts in #{link_to 'mutual funds', main_app.page_path('investment_education/mutual-funds-etf')}  at regular intervals.
      %p
        Note: SIP a method of investing and not an investment avenue in itself.
      %p In SIP, a fixed amount is debited from your bank account on pre specified dates in favour of the mutual fund. The money is then channelized into the scheme/ schemes selected by you for the specified time.
      %p The minimum investment required in a SIP is very small. Though it varies from fund to fund, it can be as little as Rs 500. You can opt to make investments spread over periods ranging from daily to half-yearly.
    %section
      %h1 How can I invest via a SIP?
      %p In a SIP, you have 2 options via which you can make payments to the mutual funds.
      %ul
        %li You can give standing instructions to your bank to debit your account on the pre specified dates in favour of the mutual fund.
        %li You can issue post-dated cheques in favour of the mutual fund.
      %p Contact your financial advisor or the mutual fund house for further details.
    %section
      %h1 Advantages of SIPs
      %ol
        %li
          %b
            SIPs use rupee cost averaging to safeguard your investments when markets are volatile.
          %p In the past 5 years, markets have been extremely volatile. Consider the following scenario during the 2008 sub-prime crises:
          %table
            %tr
              %th.center_align{:colspan => 6} Returns
            %tr
              %td Date
              %td
              %td 1st June 2007
              %td 8th Jan 2008
              %td 27th Oct 2008
              %td 1st June2009
            %tr
              %td
              %td Nifty Levels
              %td 4297.05
              %td 6287.85
              %td 2524.2
              %td 4448.95
            %tr
              %td 1st June 2007
              %td 4297.05
              %td -
              %td 46.33%
              %td -41.26%
              %td 3.53%
            %tr
              %td 8th Jan 2008
              %td 6287.85
              %td -
              %td -
              %td -59.86%
              %td -29.25%
            %tr
              %td 27th Oct 2008
              %td 2524.2
              %td -
              %td -
              %td -
              %td 76.25%
          %p From 1st June 2007 to 1st June 2009 the NIFTY returned a meagre 3.53%. However in this period it traded in a range between 6287.85 (46.33% higher from 1st June, 2007) and 2524.42 (41.26% lower from 1st June, 2009). Also the October, 2008 lows were almost 60% lower than their January, 2008 highs.
          %p What does all this mean you as an investor?
          %ul
            %li Had you invested a lump sum amount, say Rs 10,000 for 2 years on June 1st 2007, at maturity, your investment would be worth only Rs 10,305 today.
            %li Had you invested an amount of Rs 10,000 around the time of the January highs, in a matter of 10 and ½ months your investment would have been depleted by 60% to Rs. 4,000 and had you continued to remain invested till June 2009 (investment horizon = 1.5 years) your investment would be worth Rs 6,975.
            %li Had you invested in Rs 10,000 around October lows you would stand to earn returns of 75%+ in less than a year.
          %p The lesson to be derived from the above points is that during volatile times, the money that an investor stands to gain or lose can be extremely high and one needs to safeguard himself as much as possible from potential losses yet maximise his returns during up-moves.
          %p SIP mode of investing gives an investor an ideal platform to meet the above objectives. By investing via SIP, an investor basically invests a fixed amount at regular intervals regardless of what level the market is trading at. Hence in a falling market, an investor would benefit by purchasing more units for a given amount while in a rising market the investor is rewarded by rising NAVs. Consider the following examples (amount invested is Rs 1000 at every period):
          %table
            %tr
              %th
              %th NAV
              %th Unit Bought
              %th Total Units Owned
              %th Total Investment
              %th Total Value
            %tr
              %td 1st month
              %td 25
              %td 40
              %td 40
              %td 1000
              %td 1000
            %tr
              %td 2nd month
              %td 20
              %td 50
              %td 90
              %td 2000
              %td 1800
            %tr
              %td 3rd month
              %td 15
              %td 67
              %td 157
              %td 3000
              %td 2350
            %tr
              %td 4th month
              %td 20
              %td 50
              %td 207
              %td 4000
              %td 4133
            %tr
              %td 5th month
              %td 25
              %td 40
              %td 247
              %td 5000
              %td 6167
          %p As you notice in the above example, the NAV in 1st and 5th months is the same. Had you invested a lump sum in the 1st month, the value of your investment after 4 months would remain the same. However by investing via SIP, the value of your portfolio would have increased by 23.3%.
        %li
          %b
            Convenience: SIPs allow you to make small and regular investments
          %p In SIPs investments are broken down into small amounts over a period of time, thus making savings more convenient than say investing a lump sum. In a way, SIPs also enforce disciplined investing as making regular investments on specified dates is mandatory. Often when you are trying to save money, part of your saving tends to get spent on frivolous purposes.
        %li
          %b
            SIP take out the guess-work from investing and enable you to avoid trying to predict the market.
          %p
            SIPs entail making small investment at regular intervals spread over a long period of time. Thus an investor need not worry about wild fluctuations in markets amidst high volatility.
    %section
      %h1 Disadvantages of SIPs
      %p As you have seen above, SIP has a fair number of advantages. However there are instances when investments in SIP may not be lucrative.
      %ol
        %li
          %b
            SIPs don’t perform well in rising markets
          %p While SIPs are beneficial in a falling market, in a rising market, they increase your average cost per unit. Thus the returns derived from SIPs in a market that is rising continuously would be lesser than those from investing a lump sum.
        %li
          %b
            An  SIP in a fund performing poorly performs poorly
          %p Returns from SIP are as good as those of the funds in which you opt to invest. In case you end up choosing funds that are badly managed and their performances are very poor, your investment is bound to suffer.
    %section
      %h1 How are SIPs taxed?
      %p
        For #{link_to 'tax purposes', main_app.page_path('investment_education/tax-planning')} and lock-in periods each date of your investment is looked upon as the date when you made your investment. Example: Suppose you have invested in a scheme which has a 3 years lock-in period via a SIP, where by you have to make an investment every 6 months beginning 1st January 2012. The lock in period of your 1st instalment would expire
        on 1st January 2015, 2nd instalment would expire on 1st July 2015 (6 months later) so on and so forth.
      %p Similarly for tax purposes also, each instalment is looked upon as an individual investment and based on the tenure you have been invested for, you are taxed as per long term capital gains tax or short term capital gains tax rates (as is appropriate).
    %section
      %h1 Tips for investing successfully in SIPs:
      %ol
        %li Check the incremental charges that are applicable on each investment. There may be a fee attached to each transaction.
        %li While choosing funds, check the ‘entry load’ that the fund is charging. Entry load can reduce your returns.
        %li If you should fail to pay the SIP amount on the particular day, your previous investment will not be subject to default but your returns will be adjusted against the failure of payment for that day.
      %p
        %b Editor’s Note:
        SIPs in well managed funds tend to work very well, especially for small investors. They also force the investor to be disciplined and save regularly.
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.life_insurance_policies'), main_app.page_path('investment_education/life-insurance-policies')
      .article_next
        Next:
        =link_to t('investment_education.share_market'), main_app.page_path('investment_education/share-market')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li SIP stands for- Systematic Investment Plan.
        %li SIP a method of investing and not an investment avenue in itself.
        %li SIPs use rupee cost averaging to safeguard your investments when markets are volatile.
        %li SIPs allow you to make small and regular investments.
        %li SIPs don’t perform well in rising markets.
        %li SIPs in well managed funds tend to work very well, especially for small investors.
    .articles
      %h1 Articles
      %ul
        %li
          =link_to "SIP-Wikipedia", "http://en.wikipedia.org/wiki/Systematic_Investment_Plan", html_options = {:target => "_blank"}
        %li
          =link_to "Our SIP Calculator", personal_financial_tools.sip_calculator_path
        %li
          =link_to "UTI on SIPs", "http://www.utimf.com/learningcentre/pages/all-about-sip.aspx", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li
          =link_to "BlackRock on SIPs", "http://www.youtube.com/watch?v=uZnXinkypd8", html_options = {:target => "_blank"}
        %li
          =link_to "Funny advertisement of SIPs", "http://www.youtube.com/watch?v=KZFqLKf2DbU", html_options = {:target => "_blank"}
