.wrapper
  %article
    %h1 Making Smart Investments
    %section
      = render :partial => 'layouts/facebook_recommend'
    %section
      %p
        Managing your hard earned money wisely is as tough as earning it and it is something that most investors fail at either because of the lack of knowledge or because of the wrong attitude towards investing. Therefore, a large number of investors in the share markets end up making losses.
      %p Here are some of the basic steps that you, as an investor, should keep in mind to safeguard your investments.
      %h1 Tip number 1: Do not rely solely on advice. Do your own research.
      %p
        The most common mistake made by retail investors is that they tend to make most of their investments based
        on someone else’s advice. The advice could be from a friend, an uncle, a broker or even a “professional expert”.
        It is important that you do your own research on an investment before you invest it in.
      %p
        Here is an analogy- Investing is similar to buying a pair of shoes. Have you ever imagined walking into a store
        and purchasing the first pair of shoes that a sales person shows you? Of course not! Making an investment
        based solely on someone’s advice is like doing just that. Just as you spend time to ensure that the pair of shoes
        that you are about to buy suits your needs and wants- like fit, style, comfort, color etc, it is essential that you do
        enough research on the investment that you are about to make.
      %p
        The investments that you make has to match your investment needs like expected returns, the risk you are
        willing to take, time horizon, cost of liquidity (in case you rely on the investment for emergencies how soon can
        you cash it and at what cost.) etc. For example, premature closures of fixed deposits are subject to penalties.
        Similarly some stocks are heavily traded and provide liquidity without any additional costs while some
        stocks are sparingly traded or do not trade at all. It is tough to sell these stocks in times of immediate need for
        money. So, in general, these stocks make lousy investments for a 65 year old heart patient but could be good
        investments for a 30 year old crorepati who has no immediate liquidity needs.
      %p
        %b Lesson:
        %snap Back your investment with sufficient research and knowledge. Remember it is your hard earned money that is at stake.
    %section
      %h1 Tip number 2: Diversify across shares (stocks) , gold and fixed deposits.
      %p
        Have you ever imagined having a wardrobe of all the same shirts or all the same trousers? I suppose not.
        The reasons are multiple but one of the underlying reasons is also that different types of weather conditions
        demand different type of clothing. In summer, you wear cotton shirts. You surely cannot get away wearing
        a cotton shirt in winter. Similarly in winters we need sweaters which again would be a nightmare to wear in
        summers. Hence your wardrobe is a blend of different kind of clothes to suit your needs based on different
        types of weather conditions.
      %p
        You should consider your portfolio as being similar to your wardrobe. Your portfolio should consist of a mix of
        equities, bonds, mutual funds, commodities (gold), insurance and other assets. Within an asset class too, one
        should look at investing across sectors and companies.
      %p
        In essence, diversification means investing in many different assets/securities instead of just 1 or 2. This
        spreads your risk and reduces the overall risk of your portfolio. Your overall likelihood of losing money on your portfolio reduces if you diversify.
      %p
        Here is an example- Bonds and stocks (shares) usually have a negative correlation, i.e when one goes up the
        other goes down. When stocks (shares) go up, investors usually withdraw their money from bond markets and
        invest it in stocks (shares). Thus due to lack of demand in bond markets, the bond prices go down. Similarly
        when stocks (shares) crash, investors withdraw their money from stock markets and invest in bonds. The
        increased demand for bonds leads to a rally in bond prices. Thus by investing in a portfolio consisting of bonds
        and stocks (shares), what you are essentially doing is safeguarding your portfolio from extreme swings in any
        market and thereby protecting the total value of your investments.
      =image_tag "investment_education/invest_successfully_graphs.png", {:style => "width: 560px;"}
      %small
        Source: WWW.TRADINGECONOMICS.COM
    %section
      %p
        Notice in the above diagram, box numbers 1, 3 and 4 show a sudden rise in stock (shares) markets and a relative
        fall in bond markets. Similarly the phase marked in box 2 is when the stock (shares) markets completely collapsed
        due to the sub-prime crises and the bond markets rallied. Diversification helps you cushion your losses from sudden market movements and enables you to earn more uniform returns.
      %p
        In stock markets no 2 sectors exhibit negative correlation constantly. However some sectors like FMCG & Oil
        and Gas, Realty & I.T. exhibit low correlation towards each other and can provide diversification benefits.
      %p
        Remember in the short term #{link_to 'markets tend to act irrationally',main_app.page_path('investment_education/share-market')} and it is always advisable to safeguard your
        investment.
      %p
        %b Lesson:
        %snap Do not put all your eggs in the same basket. Invest across asset classes, sectors and companies.
    %section
      %h1 Tip number 3: Do not invest everything in one shot. Invest in multiple phases.
      %p
        Can you imagine eating all that you can in one meal and surviving for the next 5 days? Of course not!
        Investments work similarly. To be a successful investor, it is essential that you make your investments in
        phases rather than in one go. This strategy ensures that you protect your downside and do not lose out on
        profits.
      %p
        Example: Suppose you decide to invest Rs 10,000 in stocks of ABC Ltd trading at Rs 100 each, you should break
        your investment into 3 or 4 blocks. In this case you could buy stocks worth Rs 2500 at each stage spread over
        time, perhaps a few weeks or months. While such a strategy would increase your cost of acquiring the shares
        when prices are going up, what it essentially does is protects your losses when the prices are falling. This lesson
        is based on the principle of #{link_to 'dollar cost averaging or rupee cost averaging', 'http://en.wikipedia.org/wiki/Dollar_cost_averaging', html_options = {:target => "_blank"}}.
      %p
        This strategy ensures that the losses that you incur in falling markets are far less than what you would have
        incurred had you bought all shares at once. This of course comes at a cost of reduced profits in a rising market.
        Also #{link_to 'in short term markets are unpredictable and can act irrationally', main_app.page_path('investment_education/share-market')}
      %p
        %b Lesson:
        %snap Break your investment into chunks and invest over a period of time. A bird in hand is worth two in the
        bush.
    %section
      %h1 Tip number 4: Plan your investments and be disciplined.
      %p
        In the world of share markets it is extremely important that you stick to the original investment plan and do not
        get carried away by emotions. The original investment plan should have the following aspects covered.
      %ul
        %li
          %p
            %b Write down the underlying reason for making an investment.
            This will help you refine your investing
            decision making process in the long run.
        %li
          %p
            %b Have specific target prices
            i.e. prices at which you will sell your stocks and book profits.
        %li
          %p
            %b Have a strict stop loss
            i.e. the price at which you will sell your stocks to avoid further losses.
      %p
        %b Write down the underlying reason for making an investment:
        An investor should always write down the reason
        for that investment. For a stock, it may be because the company’s current valuation is very low and its shares
        are available at a very cheap price or maybe the company is undergoing massive expansion and its shares might
        rise in future or maybe you expect the company has bid for a huge order and you expect the company to bag
        it The reason can be anything. You should write it down. Following are the advantages of writing down the
        underlying reason of making an investment:
      %ul
        %li
          %p
            It helps you stay focused and not be driven by temporary fluctuations in markets. Example: You have
            invested in ABC Ltd. expecting the company to announce a buy back in its forth coming meeting at a
            huge premium to the current trading price. After a few days (much before the meeting) the company’s
            share price is trading below your initial purchase price. A sense of panic might set in but if you fall back
            and read your reason, it could be comforting to know that you are anticipating a jump in share price
            only after the announcement is made in the meeting. Since the meeting is yet to take place, you can still
            hold onto the shares.
        %li
          %p
            Review your analysis: When you make a profit/loss from an investment, your reasoning will help you
            figure out if your analysis was right or wrong. In case your investment has back fired and you incurred
            losses, reviewing your decision would be really helpful to understand if your analysis was wrong or
            it was because of some external factor that you did not consider. Periodic reviews would help you to
            improve your analysis over time.
      %p
        A noted investor once mentioned that one of the primary reasons why retail investors fail to make money in
        markets is because they do not write the reason for making an investment and get lost in all the noise and
        frenzy that surrounds the market.
      %p
        %b Maintain strict targets and stop loss:
        When you make an investment (specifically for stocks), you should have an
        idea about the price you are expecting the share to rise to. This price is known as ‘Target’. Similarly you should
        set yourself a limit based on how much loss you can sustain. This is known as ‘stop loss’. Consider the following
        scenarios:
      %p
        %b Scenario 1:
        Based on some research, you have invested in a stock trading at Rs 100 with a view that the stock
        will go to Rs 120 in next 1 month and have set a stop loss at Rs 92. Imagine the stock rallies and reaches Rs
        120 in 1 week. It is highly likely that you might get over powered by greed and tell yourself ‘I had a view that
        it will reach Rs 120 in 1 month but it has reached the level in 1 week. Let me stay invested as the stock might
        go up even more’. This is a gross mistake that many investors make. The ideal way to go about it is to sell your
        stocks and book your profits at target level and evaluate the stock again. Base your revaluation on standalone
        basis and not on the run-up it has witnessed in the recent past. If you feel the stock has further potential, then
        reinvest in the stock with a fresh target and a fresh stop loss.
      %p
        %b Scenario 2:
        Based on some research, you have invested in a stock trading at Rs 100 with a view that the stock
        will go to Rs 120 in next 1 month and have set a stop loss at Rs 92. In the first week the stock went up to Rs
        95 and after that it has rallied to close at Rs 108 in the 2nd week. Based on extreme volatility in the market,
        the stock crashed and breached the stop loss of Rs 92 in 3rd week. As an investor, you should book your losses
        immediately. You might be hopeful and tell yourself ‘this was just a bad week. The stock was trading at Rs 105
        some time back and has now come down to Rs 92. There is a very high likelihood that the stock will recover and
        give me an opportunity to cover my losses’. Hence you do not book your loss. Remember one thing. The level of
        stop loss was set by you and you must have based it on some factor, whatever it may have been. Hence it is good
        to respect your initial research and book your losses immediately.
      %p
        Another common mistake that investors tend to make is when the stock reaches their stop loss level; they
        question themselves on whether their stop loss was set correctly and then revise their stop loss to a lower level,
        hoping that the stock will rise up. More often than not, such an approach is going to hurt you.
      %p
        Similar to scenario 1, once you book your losses, you could reevaluate the stock again and if you are confident,
        repurchase the stock with a fresh target and stop loss.
      %p
        When you reevaluate the stock and decide to take a fresh position again, please do compare the notes of
        this position with that you had taken down when you made your first investment in the same stock. The
        discrepancies in the notes will help you evaluate your final decisions better.
      %p
        %b Lesson:
        %snap Record all your investments and base your decision on rationality and not greed/fear. He who follows his investment plan strictly shall eventually prosper.
    %section
      %h1 Tip number 5: Follow up on your investments
      %p
        While cooking, have you ever noticed anyone mixing all the ingredients at once, leaving it to cook and expecting
        the stove to switch off automatically when the food is prepared? I suppose not. That would be a recipe for
        disaster. Similarly in the stock market world, your investments also need regular follow up and little bit of
        tweaking here and there. Often retail investors make investments and forget about them. After a long time
        when they return to check their portfolio, they find their portfolio to be in a mess (consider it similar to
        burnt food while cooking). As an investor, remember just as food is never ready till it is served, similarly an
        investment is never complete till you have sold it. Till then, you need to track your portfolio on regular basis.
      %p
        %b Lesson :
        %span Follow your portfolio regularly to avoid ending up with a ‘burnt’ portfolio.
    %footer
      .article_next
        Next:-
        =link_to t('investment_education.Types of Investments'), main_app.page_path('investment_education/investment-types')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li Do not rely solely on advice. Do your own research.
        %li Diversify across shares (stocks) , gold and fixed deposits.
        %li Do not invest everything in one shot. Invest in multiple phases.
        %li Plan your investments and be disciplined.
        %li Follow up on your investments.
    .articles
      %h1 Articles
      %ul
        %li=link_to "Wikihow- How To Invest ", "http://www.wikihow.com/Invest", html_options = {:target => "_blank"}
        %li=link_to "How to invest in gold", "http://www.gold.org/investment/why_how_and_where/how_to_invest/", html_options = {:target => "_blank"}
        %li=link_to "Kotak Securities", "http://www.kotaksecurities.com/aboutus/aboutkotak.html", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "Burton Malkiel on investing", "http://www.youtube.com/watch?v=3oACFpS_t1Q", html_options = {:target => "_blank"}
        %li=link_to "Warren Buffet on stocks", "http://www.youtube.com/watch?v=JQPhXFSnocw", html_options = {:target => "_blank"}
        %li=link_to "Warren Buffet on financial planning", "http://www.youtube.com/watch?v=PHzs9keop5A&feature=related", html_options = {:target => "_blank"}
