.wrapper
  %article
    %h1 Stocks I
    = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 Definition:
      =image_tag "investment_education/Stocks4.png"
      %p
        Equity Shares, commonly known as stocks are shares in the ownership of a company
        (corporation). Stocks represent claims on the issuing company’s earnings and assets.
    %section
      %h1 Important Characteristics:
      %ol
        %li Stocks typically entitle the holder to voting rights when major corporate decisions of the issuing company are put to vote.
        %li
          Stockholders have claim on the earnings and assets only after the firm has paid up its debt to creditors (or debtholders) and taxes to the government. In cases
          of bankruptcy however, stockholders usually get nothing. This actually means that the stockholder faces a higher risk of not being to retain their original investments
          when the firm defaults, as compared to debtholders.
        %li Stocks involve limited liability as stockholders can only lose as much as their initial investments.
    %section
      %h1 Rights of the Shareholder:
      %ol
        %li
          Control Rights:
          Shareholders collectively appoint the board of directors
          of the issuing company and typically approve/reject major decisions taken by the
          board such as the issue of new shares, mergers and acquisitions etc.
        %li
          Distribution Rights:
          Shareholders have the right to receive dividends from the issuing company, although this payout is not always guaranteed. (See the section on Dividends)
    %section
      %h1 Fun Facts:
      =image_tag "investment_education/Assets4.png"
      %p
        A bull market is jargon typically used by investors to term an upward market trend. This means that there is increasing investor confidence, resulting in a rise in stock prices all around.
        The opposite of a bull market is a bear market which is a term for a downward market trend. This represents decreasing investor confidence and a general decline in stock prices.
    %section
      %h1 Trading of Shares:
      %p
        Shares
        are most often traded on stock exchanges. In order for a company to enable its shares
        to be traded on an exch ange, it has to list its shares on the exchange. The issuance
        of shares by a company and their subsequent listing on a stock exchange for the
        very first time is termed an Initial Public Offering (IPO). The subsequent issuance
        of shares by a publicly-listed company is known as a Seasonal Equity Offering (SEO).
      %p
        In order to list on these stock exchanges, companies typically have to meet certain
        requirements such as the following:
      %p A minimum total market value of the common stock and net tangible assets.
      %p
        Free float:
        A certain percentage of the entire company’s market value
        must be allowed to be freely traded by the public. Free float ensures the stocks’
        liquidity, especially when a significant portion of the shares are held by major
        shareholders, who do not intend to sell their shares in a long time. Examples of
        major shareholders include the founder of the company, the government or even an
        institution. This is especially important because stock traders need to be able
        to buy and sell their shares easily and quickly in a free market in response to
        changes in current events.
      %p
        Full and timely disclosures:
        In order to create a fair playing field
        in a free market, companies have to make appropriate disclosures that may inevitably
        impact investor decisions.
      %p
        These requirements are non-exhaustive and different exchanges have different requirements
        in order to meet their own objectives and also cater to the majority of the investing
        public that trade on these exchanges.
      %p
        Below are some of the more popular stock exchanges around the world:
    %section
      %table
        %tr
          %td
            %h1
              New York Stock Exchange
            =image_tag "investment_education/NYSE.png", :height => "120px", :weight => "150px"
          %td
            %h1
              Hong Kong Stock Exchange
            =image_tag "investment_education/HKSE.png", :height => "120px", :weight => "150px"
          %td
            %h1
              Bombay Stock Exchange
            =image_tag "investment_education/BSE.png", :height => "120px", :weight => "150px"
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.bonds'), page_path('investment_education/bonds')
      .article_next
        Next:
        =link_to t('investment_education.stocks2'), page_path('investment_education/stocks2')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li Stocks represent claims on the issuing company’s earnings and assets.
        %li This after the company pays their debt holders and taxes, thereby making stock riskier compared to debt instruments.
        %li The stock of a company can be bought at the time of Initial Public Offering or in the secondary market.
    .articles
      %h1 Articles
      %ul
        %li=link_to "Stocks -Wikipedia", "http://en.wikipedia.org/wiki/Stock", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "Introduction to Stocks", "http://www.youtube.com/watch?v=r0k3qmaIW5k", html_options = {:target => "_blank"}
        %li=link_to "What it means to buy a company's stock", "http://www.youtube.com/watch?v=WvITkPn83gc&feature=player_embedded", html_options = {:target => "_blank"}
        %li=link_to "Bonds vs. Stocks", "http://www.youtube.com/watch?v=rs1md3e4aYU", html_options = {:target => "_blank"}
