.wrapper
  %article
    %h1 Tax Planning
    %section
      = render :partial => 'layouts/facebook_recommend'
    %section
      %p
        If you plan well, investments can offer you benefits in the form of tax exemptions and lead to significant savings. At times, the appreciation in certain investments may not be significant but when you factor in the tax benefits you gain from them, they may beat other investments avenues which give you higher absolute returns. Let us have a look at some of tax aspects of various investments.
    %section
      %h1 Investments covered under Section 80C
      %p Investments that fall under Sec 80C of the Income Tax Act can give you an exemption of up to Rs 1,00,000 from taxable income i.e suppose your taxable income is Rs 7.5 lakhs (as per current slabs of 2011-2012, you fall under  the 20% tax rate), the tax payable would be 7.5 lakhs * 20% = Rs 1.5 lakhs. However if you invest Rs 1 lakh in a 5 year fixed deposit which qualifies for deduction under section 80 C, your tax payable is reduced to Rs 1.3 lakhs [(7.5-1)* 20%). Investments that are eligible for deduction under this section include:
      %table
        %tr
          %th Investment
          %th Return
        %tr
          %td Provident fund and voluntary provident fund
          %td 8.5% tax free interest
        %tr
          %td Public provident fund
          %td 8.0% tax free interest
        %tr
          %td Life insurance premiums
          %td No return
        %tr
          %td Equity linked savings scheme (ELSS)
          %td Variable - based on performance of fund manager
        %tr
          %td Home loan principal payments
          %td No return
        %tr
          %td National savings certificate
          %td 8.0% p.a. compounded half yearly (interest is taxable)
        %tr
          %td Infrastructure bonds
          %td 7% -9.15%
        %tr
          %td 5 years fixed deposits
          %td 8% -9.5% (interest is taxable)
        %tr
          %td Senior citizen savings scheme
          %td 9% - payable quarterly - Interest is taxable
        %tr
          %td 5-Yr post office time deposit (POTD) scheme
          %td 7.5% - compounded quarterly but payable annually - Interest is taxable
        %tr
          %td ULIPs
          %td Variable - based on performance of fund manager
    %section
      %p Barring ULIPs and ELSS most of the instruments provide returns of around 8.5%. Let us compare the net returns of investing in these instruments versus investing in equity markets over a period of 5 years. For our computation we are going to consider an investment of Rs 1,00,000 in different portfolios representing the S&P CNX Nifty (equity 1), CNX Mid-cap (equity 2), 8.5% fixed deposit and provident fund.
      %table
        %tr
          %th
          %th S&P CNX Nifty
          %th CNX Mid-cap
          %th 8.5% Fixed Deposit
          %th Provident Fund
          %th ELSS
        %tr
          %td Total Income
          %td 7,50,000
          %td 7,50,000
          %td 7,50,000
          %td 7,50,000
          %td 7,50,000
        %tr
          %td Amount invested
          %td 1,00,000
          %td 1,00,000
          %td 1,00,000
          %td 1,00,000
          %td 1,00,000
        %tr
          %td Taxable Income
          %td 7,50,000
          %td 7,50,000
          %td 6,50,000
          %td 6,50,000
          %td 6,50,000
        %tr
          %td Tax payable@ 20%
          %td 1,50,000
          %td 1,50,000
          %td 1,30,000
          %td 1,30,000
          %td 1,30,000
        %tr
          %td Tax savings
          %td 0
          %td 0
          %td 20,000
          %td 20,000
          %td 20,000
        %tr
          %td Value after 5 years
          %td 1,38,570*
          %td 1,59,000**
          %td 1,34,000***
          %td 1,42,500****
          %td 1,46,932****
        %tr
          %td Net Value after investment
          %td 38,570
          %td 59,000
          %td 54,000
          %td 62,500
          %td 66,932
    %section
      %p
        %small *S&P Nifty returned 38.57% over the past 5 years 
      %p
        %small **CNX Midcap returned 59% over the past 5 years
      %p
        %small *** We have considered simple interest @ 8.5% payable per year for 8.5% Fixed Deposit (interest is taxed at 20% p.a.)
      %p
        %small **** Provident fund returned 8.5% p.a
      %p
        %small ***** We have considered the returns of Franklin India Tax Shield which yielded an annual return of 8.9% p.a.
    %section
      %p As you notice above
      %ul
        %li Even though S&P CNX Nifty returned almost the same as fixed deposit, there is a big difference between the net value of portfolio “Equity 1” and “8.5% Fixed Deposit”. This is because of the tax saved under section 80C (which is invested).
        %li CNX Midcap outperformed provident fund over the past 5 years, yet the net value of portfolio “Equity 2” is less than “Provident fund”. This again is because the tax benefits offered under section 80C.
        %li Fixed deposits and provident fund yielded the same return over 5 years, yet the provident fund portfolio is more than the fixed deposit portfolio. This is because the interest earned in provident is tax free while that under fixed deposit is taxable.
        %li Amongst all the different avenues ELSS has proved to be the best.
      %p As an investor, do not be solely driven by the percentage returns but do factor in benefits of tax exemptions.
    %section
      %h1 Tax on interest
      %p Interest is taxed at the investor’s marginal tax rate i.e. the highest tax rate. So, if you invest in a fixed deposit that gives you 8% p.a. as interest and your income falls in the 20% bracket, you are actually getting only 6.4% interest p.a. after tax (since you pay 8% X 20% = 1.6% as tax)
    %section
      %h1 Tax on dividends
      %p Investors do not have to pay tax on dividends. Companies that distribute dividends pay “Dividend Distribution Tax”.
    %section
      %h1 Tax on Shares
      %p When you invest in shares, you are subject to different taxes at different stages of holding. It is important to keep these taxes in mind and plan accordingly.
    %section
      %h1 Capital gains tax
      %p When you sell shares for a profit, i.e. at a price higher than your purchase price the gains you earn are known as capital gains and are subject to capital gains tax. Based on the time period of holding, capital gains tax is divided into short term capital gains (STCG) tax and long term capital gains (LTCG) tax. Any investment held for a period less than a year is subject to short term capital gain tax at 15% of your profits. If your holding exceeds a period of 12 months, you are taxed at the long term capital gains tax which is zero.
    %section
      %h1 Tips to save tax on capital gains
      %ol
        %li In case you are sitting on a profit that you made on an investment within one year you may consider continuing to hold it to avoid paying 15% short term capital gains tax. However do keep in mind that markets are extremely volatile and you may end up losing more than you save in taxes.
        %li In case you are incurring short term losses and expect a further drop in the prices, sell your stocks, realize your losses and buy those stocks at a cheaper valuation when the prices fall in future. In such a case not only would you pick up stocks at a lower price but also benefit from booking a short term capital loss which can be used to set off any capital gains that might have booked that year (thus reducing your tax payable). Tax loss can be carried forward for next 8 years and set off against futures profits.
    %section
      %b Illustration
      %p You have booked short term capital gains of Rs 12,700 up till 7th December, 2011 and you are currently incurring a loss of Rs 7,200 from your investment in Tata Steel. Since the global market cues are weak, you expect a further correction in price of Tata Steel. What should you do?
      %p In our view, you should book your losses and look forward to reinvesting in Tata Steel at a cheaper price at a later stage. Adopting such a strategy would not only give you the benefit of earning greater profits but also help reduce your taxes. The loss that you book on Tata Steel can be used to offset the short term capital gains that you have earned so far and thus reduce your tax payable from Rs 1,905 (Rs 12,700 * 15%) to Rs 825 [(Rs 12,700 – Rs 7,200) * 20%). In case you are not sitting on any capital gains that you earned this year, you could carry forward the loss up to next 8 assessment years and set them off against capital gains you stand to earn.
    %section
      %h1 Other tax on shares
      %ol
        %li
          %b
            Securities transaction tax (STT):
          Securities Transaction is charged at 0.025% of the transaction value. In case you make a purchase of Rs 10,000, you would pay Rs 2.5 as STT.
        %li
          %b
            Service tax on brokerage:
          A retail investor can purchase and sell share only through a broker and is to pay service tax on the brokerage fees he pays to the broker. At present the service tax is 10.3%. In case you pay 0.5% brokerage and you have just bought shares worth Rs 10,000 then the brokerage payable is Rs 50. You would pay an additional Rs 5.15 (50 *10.3%) as service tax on the brokerage.
    %section
      %h1 Other Investments
      %p The Government of India/Government linked entities keep coming up with special issues like the NHAI Tax-Free bonds, PFC bonds etc which offer reasonable returns that are 100% tax free. Returns from some of these issues are higher than the after tax returns of several bonds and fixed deposits. Investors should certainly evaluate these investments and could invest in them as part of a diversified portfolio.
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.Diversification'),main_app.page_path('investment_education/investment-diversification')
      .article_next
        Next:
        =link_to t('investment_education.fixed_deposits'), main_app.page_path('investment_education/investment-fixed-deposits')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li Tax planning can significantly enhance your investment returns.
        %li Section 80C allows exemptions on various types of investments.
        %li Long term Capital gains are not currently taxed.
    .articles
      %h1 Articles
      %ul
        %li=link_to "5 Tax planning tips for salaried people", "http://www.rediff.com/money/2009/feb/05tax-planning-tips-for-salaried-people.htm", html_options = {:target => "_blank"}
        %li=link_to "ICICI Prudential tax center", "http://www.iciciprulife.com/public/Others/Tax-Center.htm", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "The Importance of Tax Planning", "http://www.youtube.com/watch?v=Yb_6nuI8DQg&feature=relmfu", html_options = {:target => "_blank"}
        %li=link_to "Warren Buffet on Taxes", "http://www.youtube.com/watch?v=1EK7b6C3qyY", html_options = {:target => "_blank"}
