.wrapper
  %article
    %h1 Technical Analysis of shares
    %section
      = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 What is Technical Analysis of shares?
      %p Technical analysis is a method of investment analysis in which future movements in the price of a security are predicted by examining some patterns or trends that are obtained from the analysis of past market data. Technical analysis differs from fundamental analysis in that it does not attempt to analyze companies, industries or economies but simply treats prices and volumes as sets of data with hidden patterns in them. It is concerned with the idea of predicting trends and price movements due to changes in the demand and supply in the market.
    %section
      %h1 Does Technical Analysis work?
      %p Experts are divided over this. Technical analysts swear by technical analysis and claim that it is the most accurate predictor of future prices when applied correctly. Fundamental analysts often criticize technical analysis and call it “pseudoscience”. There is no clear consensus on whether technical analysis helps traders predict future prices or not.  Some experts think that technical analysis should only be treated as one of the several available tools while analyzing investments.
      %p Nonetheless, it is a useful tool to have your arsenal and a serious investor should be familiar with the basics of Technical Analysis whether or not he actually uses it regularly. It definitely gives you a new perspective into your investment portfolio.
    %section
      %h1 What is a trend?
      %p A collection of prices together determines the direction in which a market is moving and it is known as a trend. Trends can be viewed over a period as short as a few minutes to as long as a decade. Technical analysts believe based on a combination of prices and supply and demand factors it is possible to determine the trend and trade on basis of it.
    %section
      %h1 Assumptions in Technical Analysis:
      %ol
        %li
          %b Market Demand and Supply Determine Prices
          %p Technical analysts assume that the market price of a security (usually shares) is determined by the market demand and supply
        %li
          %b History Repeats Itself
          %p Technical analysts assume that the markets are reflections of human psychology, which has remained largely the same throughout the history of mankind. In other words, how people respond to changes around them tend to remain the same throughout history.
          %p In the financial markets, people have different emotions and views. However, all of them are equally motivated by profits and they are likely to react the same way in response to situations. For example, news of an impending recession and falling growth will result in a fall in stock prices worldwide. This is because most people become anxious about their future returns on investments, resulting in a massive sale of securities.
        %li
          %b Prophecies are sometimes self-fulfilling
          %p Sometimes, human psychology may also manifest itself in the form of self-fulfilling prophecies. This means that if there are enough investors and traders who believe that the market will move in a certain direction, they act in a manner that this belief becomes a reality. For example, if enough number of people believe that the stock price of ABC Inc is going to fall, then they will all sell that stock. This leads to an increased supply of ABC stock in the market and cause the price of ABC stock to go down.
          %p Somehow, nobody knows if something will happen. For example, nobody actually knows if a recession is coming but if enough people in a country start believing that a recession is looming, everyone will start to react in a way that reflects their belief. These people may, for instance, delay investments, sell their investment holdings, or reduce domestic and personal spending. When enough people start doing so and continue to do so for a period of time, the economy may actually slide into a recession simply because no one is spending or investing! In this case, people would have caused a recession because there were enough of them acting in a way that a widespread belief actually became a reality.
        %li
          %b The market takes into account everything
          %p Technical analysts assume that the stock price of a company (shown in a stock index) is the true value of the stock because the market has already priced in all factors, as well as the magnitude of impact of these factors on the company’s stock price. Such factors include the fundamentals of the company as well as other economic, social and political factors that may affect the company’s earnings.
    %section
      %h1 Basic Tends
      %p There are three basic trends that analysts try to find when plotting charts. Analysts try to plot trend lines by attempting to identify a pattern in the peaks and troughs of price curves.
      %p A peak is the highest point on a curve before it begins to fall and a trough is simply the lowest point on a curve before it begins to move upwards. The three types of trend lines are the downtrends, uptrends and horizontal/sideways trends. Obviously, a downtrend will indicate a bearish outlook and an uptrend will indicate a bullish outlook. The horizontal trend is ambiguous in that it does not clearly indicate any definite direction, whether up or down.
      %b Downtrend:
      =image_tag  "investment_education/Downtrend_Nifty.png"
      %p A downtrend (shown above) is characterized by a series of falling peaks and falling troughs. The trend line can be plotted joining up the series of falling peaks or troughs as shown by the red arrow. It is obvious that the trend is falling because each successive peak is lower than the previous peak. Similarly, each successive trough is lower than the previous trough.
      %b Uptrend:
      =image_tag  "investment_education/Uptrend_Nifty.png"
      %p In the diagram, we see that an uptrend is characterized by a series of increasing peaks and increasing troughs. The plotted trend line is denoted by the red arrows on top of the peaks and below the troughs.
      %p In an uptrend, we will see that each successive peak is higher than the previous peak, and each successive trough lower than the previous trough.
      %b Horizontal Trend or Sideways Trend:
      =image_tag  "investment_education/Horizontal_Trend_Nifty.png"
      %p The horizontal (or some say “sideways”) trend is characterized by a series of peaks and troughs that do not clearly show any direction, whether up or down. This trend shows ambiguity in the future direction of stock prices. This trend may indicate that the market is jittery, because prices are fluctuating up and down without indicating any particular direction. It may show that traders are currently unsure of the future direction in the economy and financial markets. Most people are probably taking a wait-and-see attitude.
    %section
      %h1 Technical Analysis Tools
      %ol
        %li
          %p
            Technical Indicators: Technical indicators are mathematical values obtained from calculations involving price and volume data. For example, moving averages are weighted averages of security prices across a fixed time period, with weights determined by different weighting methods. Examples of moving averages are – simple moving averages, exponential moving averages etc. The calculation of technical indicators can get quite complex. Some other commonly used technical 1. indicators are: Relative Strength Index, Moving Average Convergence Divergence, Average Directional index etc.
        %li
          %p
            Charts: Technical analysts tend to make heavy use of charts. They believe that visual patterns on charts repeat themselves over time. They attempt to identify such patterns and predict future movement of stock prices.
            Some common chart patterns are – Head and shoulders pattern, ascending triangle pattern, descending triangle pattern etc. 
    %section
      %h1 How do traders use technical analysis?
      %p
        Traders enter the market at the beginning of the trend and attempt to exit before a trend reversal. For example, if a trader predicts a bullish trend, it means that he expects prices to keep increasing. To exploit this trend, he will try to buy into the particular stock at the beginning of the trend, when prices are increasing but not exorbitantly high, and subsequently try to predict when the reversal in the trend will take place and sell his stocks before prices begin to fall.
        In doing so, there is no need for information on the fundamentals of securities, such as the business model, management strategies or financial statements, in order to value these securities. This is one important advantage of technical analysis that makes it more popular than fundamental analysis.

    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.fundamental_analysis'), main_app.page_path('investment_education/fundamental-analysis-shares')
      .article_next
        Next:
        =link_to t('investment_education.Banking_Sector'), main_app.page_path('investment_education/banking-sector-shares')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li Technical analysis consists of forecasting the trend in prices by using past market data.
        %li It does not rely on analyzing the economy, industry or company.
        %li Trends to look for are downward, upward and horizontal.
    .articles
      %h1 Articles
      %ul
        %li=link_to "Technical Analysis -Wikipedia", "http://en.wikipedia.org/wiki/Technical_analysis", html_options = {:target => "_blank"}
        %li=link_to "Technical Analysis: Tutorial", "http://www.investopedia.com/university/technical/", html_options = {:target => "_blank"}
        %li=link_to "Blending Technical And Fundamental Analysis", "http://www.investopedia.com/articles/trading/07/technical-fundamental.asp", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "Basics Of Technical Analysis", "http://www.dailymotion.com/video/x7e1t0_technical-analysis-tutorial-learn-t", html_options = {:target => "_blank"}
        %li=link_to "Reading Stock Charts Using Technical Analysis", "http://www.dailymotion.com/video/x6houy_technical-analysis-stock-picks-lear_news", html_options = {:target => "_blank"}
