.wrapper
  %article
    %h1 Track your Investments
    %section
      = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 Monitoring and Rebalancing
      %h1 Monitoring:
      %p
        Investment performance varies over time. Investment that performed
        well in one year may perform poorly in the following year. This is true especially
        of cyclical stocks and interest rate sensitive #{link_to 'Bonds', page_path('investment_education/bonds')}. Market conditions change over
        time and influence investment returns. Therefore, it is not necessary that a stock/bond
        that is a good investment today will continue to be a good investment two years
        from now.
      %p
        Investors should monitor their portfolios and changing market conditions. The portfolio
        should be regularly valued at prevailing market prices so that its performance can
        be measured. Strict risk limits should be set and appropriate risk management techniques
        should be used to limit exposure to unwanted risks.
      %h1 Rebalancing:
      %p
        is the process of restoring portfolio component weights to their
        target weights when they change significantly.
      %p
        Example: Suppose Rahul decides that his portfolio will comprise 60% of equity
        and 40% of realty. In August 2008, he invests Rs.6000 in a mutual fund tracking
        the BSE Sensex and Rs.4000 in a realty mutual fund tracking
        the BSE Realty index. Suppose in August 2009, he finds that
        his equity mutual fund holdings are valued at Rs.10000 and that his realty mutual
        fund holdings are valued at Rs.4500. His portfolio now consists of 69% equity
        and 31% realty.
      %p
        In order to restore his portfolio to its original asset weights, he would sell Rs.1300
        worth of his equity holdings and invest the returns in a realty mutual fund.
        His new portfolio would consist of Rs.8700 worth of equity and Rs.5800 worth of
        realty.
    %section
      %h1 Portfolio Management Best Practices
      %ul
        %li
          Come up with a
          =link_to ('Written Plan'), page_path('investment_education/investment_plan')
          detailing you investment objectives and constraints.
        %li
          =link_to 'Diversify', page_path('investment_education/diversification')
          across asset classes.
        %li Diversify across different securities within asset classes.
        %li Don’t trade too often as brokerage and transaction costs may reduce your return.
        %li Think long term.
        %li Understand business cycles and their impact on the economy.
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.start_investing'), main_app.page_path('investment_education/start_investing')
      .article_next
        Next:
        =link_to t('investment_education.risk_management'), main_app.page_path('investment_education/risk_management')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li
          Investors should monitor their portfolio to make sure changing market conditions
          do not reduce portfolio returns.
        %li
          Rebalance your portfolio if the asset classes’ proportions have deviated significantly
          from the target asset allocation.
    .articles
      %h1 Articles
      %ul
        %li=link_to "Rebalance Your Portfolio", "http://stocks.about.com/od/investingstrategies/a/Rebal021205.htm", html_options = {:target => "_blank"}
        %li=link_to "Rules for rebalancing your portfolio", "http://www.rediff.com/money/2008/aug/26perfin.htm", html_options = {:target => "_blank"}
        %li=link_to "Portfolio Rebalancing with an example", "http://www.abcsofinvesting.net/portfolio-rebalancing/", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "Why You Should Rebalance Your Portfolio","http://www.youtube.com/watch?v=c0FNaw-gukM", html_options = {:target => "_blank"}
        %li=link_to "How Often Should You Rebalance Your Portfolio?","http://www.youtube.com/watch?v=DTNbLsuFppw", html_options = {:target => "_blank"}
