%h1 Investopresto
%h2 The product
%p
  Investopresto is a web based application that helps small investors in India make smart investment decisions.Investopresto investment management and risk management tools help individual investors.formulate investment strategies, select and track investments based on their individual risk profiles, unique constraints and market conditions. Users will soon be able to use our best in class risk management features to protect their investments from market fluctuations and collaborate with the investment community through our social features.
%h2 The company
%p
  Investopresto was founded in Singapore as Forska LLP by Ashwini Anand. We are currently based in Singapore and Hyderabad(India).Our team consists of Financial Analysts,Software Architects and Designers with experience at startups and large corporations spanning across 3 continents. We are supported by the following funds:
  #{ link_to 'Crystal Horse Investments',  'http://ch-investments.com.sg/portfolio.htm', :target => :blank }(Main Investor)
  #{ link_to 'Thymos Capital', 'http://www.thymoscapital.com/portfolio.html', :target => :blank}
  #{ link_to 'Media Development Authority', 'http://www.mda.gov.sg', :target => :blank } (arm of the Singapore Government)
%h2 The Philosophy
%p
  We believe that there is plenty of data and information out there in the open, that can be used to make intelligent investments. They key is to organize that data and convert it into actionable trade ideas.Most retail investors who lose money do so because they dont understand the priciples of investment management.They tend to rely on friends and market buzz to make investment decisions rather than on sound principles of finance such as diversification,risk management,rebalancing etc. We believe that superior returns are achievable through discipline and appropriate asset allocation.Investopresto's investment process ensures that users follow these principles, thereby increasing their chances of success.
