%h1 Careers
%p
  Investopresto Private Limited is a financial portfolio management and risk management
  startup that provides investment management tools to investors in emerging markets.
  Headquartered in Singapore, it has been funded by institutional investors including
  an arm of the Singapore government. Our flagship application follows a multi-tier,
  extensible architecture that makes extensive use of enterprise level design patterns.
  Built using Ruby on Rails, it is designed using the principles
  of UCD. Investopresto (the product) consists of risk profiling, asset allocation,
  portfolio management and risk management tools that empower these investors to make
  and execute smart investment decisions. These tools are supported by a content-rich
  investor education section.
%h2 Please Read the following before you apply:
%ol
  %li
    You must have a strong interest in technology and the web. Else, this isnt the
    right role for you.
  %li
    Our interviews are technical in nature and programming skills will be tested.
  %li
    Fake CVs will not be tolerated. Stringent action will be taken if you apply to us
    with a fake CV.
  %li
    Only serious applicants need apply. If we make an offer and you accept it, you will
    be expected to honor your side of the commitment.
  %li
    We are a true-blue startup company. If you are not keen on working in a startup
    environment you need not apply
%h2 Compensation
%p
  Our compensation packages involve cash as well Employee Stock Options (ESOPs). We
  pay competitive cash packages and our option packages form a sizeable component
  of the total package.
%h2 To Apply
%p
  Send you cv:
  %a careers at investopresto.com
