%h1
  Contact Us
%h2
  Feedback
%p Have a burning idea? Love something about our site? Want to see something changed? We'd love to hear from you.
%p
  Email us:
  %a contact at investopresto.com
%ul
  %li= link_to 'Twitter', 'http://twitter.com/investopresto', :target => :blank
  %li= link_to 'Facebook', 'http://www.facebook.com/home.php?#!/pages/Investopres/122486667773444?ref=ts', :target => :blank
