%h1 Research Team
%p
  We believe in hiring the best investment professionals to bring you high quality, actionable stock recommendations and market updates. Our research team has a wide range of experienced and is well positioned to help you choose investments that suit your unique needs and fetch you good returns.
%p
  Access to our research team is available to all Investopresto customers who sign up for a #{link_to 'trading account', main_app.page_path('trade')} with Investopresto and Kotak Securities.
%h1 Our Research Analysts
%section
  =image_tag "Ash.png"
  %p
    %span Ashwini Anand, (Ash) CFA®
  %p
    %b Education:
    BEng (Hons), CFA
  %p
    %b Experience:
    Merrill Lynch, Barclays Capital
  %p
    %b Areas of expertise:
    Portfolio management, Algorithmic trading, Banking and IT stocks. 
  %p
    %b Investment philosophy:
    Fundamental Analysis and meticulous research gives you good returns in any market.
  %p
    %b Contact:
    %a ash at investopresto.com
%section
  =image_tag "Aditya.png"
  %p
    %span Aditya Rallabhandi
  %p
    %b Education:
    MS(Electrical Engg) and MS  in Management and Strategy (London School of Economics)
  %p
    %b Areas of expertise:
    Managerial Economics, Corporate Finance, Auto and Infra stocks
  %p
    %b Investment philosophy:
    Trade with the market, not against it. Forget about the long run because, in the long run, we’ll all be dead.
  %p
    %b Contact:
    %a aditya at investopresto.com
%section
  =image_tag "Gupta.png"
  %p
    %span Aditya Gupta
  %p
    %b Experience:
    D.E. Shaw
  %p
    %b Areas of expertise:
    Macroeconomics, Trading, Derivatives (Futures and Options)
  %p
    %b Investment philosophy:
    Ignore market noise and trade only on the basis of fundamentals.
  %p
    %b Contact:
    %a aditya.gupta at investopresto.com

