%section
  %h1 Our Stock Picks
  %p
    Click on a box to read the full report
%section
  .block
    %table
      %tr
        %th.center_align{:colspan => 2} HDFC Bank	
      %tr
        %td Short term rating
        %td Hold
      %tr
        %td Long term rating
        %td Hold
      %tr
        %td Long term target price
        %td 651
      %tr
        %td Current Market Price
        %td 542
  .block
    %table
      %tr
        %th.center_align{:colspan => 2} SBI	
      %tr
        %td Short term rating
        %td Sell
      %tr
        %td Long term rating
        %td Sell
      %tr
        %td Long term target price
        %td 1,789
      %tr
        %td Current Market Price
        %td 2,177

  .block
    %table
      %tr
        %th.center_align{:colspan => 2} ICICI Bank	
      %tr
        %td Short term rating
        %td Hold
      %tr
        %td Long term rating
        %td Hold
      %tr
        %td Long term target price
        %td 1,211
      %tr
        %td Current Market Price
        %td 851

  .block
    %table
      %tr
        %th.center_align{:colspan => 2} Axis Bank	
      %tr
        %td Short term rating
        %td Hold
      %tr
        %td Long term rating
        %td Buy
      %tr
        %td Long term target price
        %td 1,578
      %tr
        %td Current Market Price
        %td 1,026

  .block
    %table
      %tr
        %th.center_align{:colspan => 2} Axis Bank	
      %tr
        %td Short term rating
        %td Hold
      %tr
        %td Long term rating
        %td Buy
      %tr
        %td Long term target price
        %td 447
      %tr
        %td Current Market Price
        %td 342
%section
  %h1 Frequently asked questions
  %ol
    %li
      %p
        %b
          What do your stock recommendations mean?
      %p
        %b
          Buy –
        You may add the stock to your portfolio.
      %p
        %b
          Hold –
        If you already hold the stock in your portfolio, you may continue to hold it. If you do not hold the stock in your portfolio, you are not advised to add it.
      %p
        %b
          Sell –
        You are advised to sell the stock if you currently hold it in your portfolio.
    %li
      %p
        %b Who makes these stock recommendations?
      %p Our highly qualified #{link_to 'research team', main_app.page_path('research-team')} scours company annual reports, financial statements and other research reports to analyze companies, their prices and other market related factors to come up with stock recommendations. Our analysts believe in these recommendations and very often invest their own personal money in these stocks.
    %li
      %p
        %b Are these stock recommendations accurate? Do they work?
      %p
        Share prices are driven by a variety of #{link_to 'factors', main_app.page_path('investment_education/share-market')} such as market sentiment, growth potential of a company, profitability of a company etc. It is impossible to predict the market with full
        accuracy (otherwise, we would be the richest people in the world). However, it is possible to make good estimates after studying companies in great detail. Our stock recommendations are exactly these kinds of educated estimates made after studying companies in detail and doing our own research. While no one can guarantee the accuracy of any stock recommendation, we do state that we trust our recommendations enough to often put our own money on them (by investing in the stocks we recommend).In any case, you are always advised to do your own research before buying/selling stocks.
    %li
      %p
        %b Why don’t I see many “sell” recommendations?
      %p While researching a company, if we find that its stock is not very attractive, we move on to the next company. This way, we don’t waste our time on stocks that we won’t recommend. We consider placing “Sell” ratings on stocks only if we previously covered those stocks with “Buy” or “Hold” ratings.
%section
  %h1 Caution
  %p Investments are subject to market risks. These recommendations are made for your information only. Please consult your financial advisor before making any investment decisions. Investopresto and /or its Research team is not liable for any profit/loss that you make as a direct/indirect result of these recommendations. The use of this site is governed by the #{link_to 'Terms of Use', main_app.page_path('terms_of_use')}.

