%h1 Ashwini Anand(Ash), CEO and Founder
%p
  Ash is a Business Technologist with experience at multi-national investment banks
  as well as with start-up companies in Silicon Valley and Singapore. He has a Bachelor
  of Engineering(Hons) in Computer Engineering with a Minor in High-Technology Entrepreneurship
  (Technopreneurship). Ash studied at National University of Singapore and Stanford University. He has also passed all 3 levels of the Chartered Financial Analyst (CFA) exams and is awaiting
  the completion of the required work experience component to receive the CFA charter.
%p
  Before Investopresto - Barclays Capital, Merrill Lynch, Bank of America.
%h1 Eric Tachibana, Advisor
%p
  Eric Tachibana currently works for a leading multinational investment bank as the
  Business Manager for the Global Markets and Research Technology organizations in
  Asia Pacific and across its Business Technology Centres globally including Chicago,
  Dublin, India, Singapore, and Toronto. Eric was an entrepreneur for over 14 years
  creating, building, and eventually exiting, successful small and mid-sized companies
  in Silicon Valley, Singapore, Malaysia, Thailand, and the U.K. Today he continues
  as an active angel investor regionally.
%p
  Eric is also an author of 8 books on technology development and innovation management
  and continues to earn regional industry recognition as an Adjunct Assistant Professor
  at the National University of Singapore business school.
