%h1 Terms of use
%p
  By accessing Investopresto.com or any of its associate/group sites, you have read, understood and agree to be
  legally bound by the terms of the following disclaimer and end user agreement.
%p
  Investopresto.com has taken due care and caution in compilation of data for its web site. This website will contain
  articles contributed by several individuals. The views are exclusively their own and do not necessarily represent the
  views of the website or its management. The views and investment tips expressed by investment experts and users
  on Investopresto.com are their own, and not that of the website or its management.
%p
  You specifically agree that Investopresto shall not be responsible for unauthorized access to or alteration of your
  transmissions or data, any material or data sent or received or not sent or received, or any transactions entered into
  through an Investopresto site/service. You specifically agree that Investopresto is not responsible or liable for any
  threatening, defamatory, obscene, offensive or illegal content or conduct of any other party or any infringement of
  another's rights, including intellectual property rights. You specifically agree that Investopresto is not responsible for
  any content sent using and/or included in an Investopresto site/service by any third party.
%p
  Investopresto.com advises users to check with certified experts before taking any investment decision.
  However, Investopresto.com does not guarantee the accuracy, adequacy or completeness of any
  information and is not responsible for any errors or omissions or for the results obtained from the use of such
  information. Investopresto.com especially states that it has no financial liability whatsoever to any user on account of
  the use of information provided on its website.
%p
  Investopresto.com is not responsible for any errors, omissions or representations on any of our pages or on any links
  on any of our pages. Investopresto.com does not endorse in anyway any advertisers on our web pages. Please verify
  the veracity of all information on your own before undertaking any transaction.
%p
  The information on this website is updated from time to time. Investopresto.com however excludes any warranties
  (whether expressed or implied), as to the quality, accuracy, efficacy, completeness, performance, fitness or any of the
  contents of the website, including (but not limited) to any comments, feedback and advertisements contained within
  the site.
%p
  This website contains material in the form of inputs submitted by users and Investopresto.com accepts no
  responsibility for the content or accuracy of such content nor does Investopresto.com make any representations by
  virtue of the contents of this website in respect of the existence or availability of any goods and services advertised
  in the contributory sections. Investopresto.com makes no warranty that the contents of the website are free from
  infection by viruses or anything else which has contaminating or destructive properties and shall have no liability in
  respect thereof.
%p
  Investopresto.com hereby expressly disclaims any implied warranties imputed by the laws of any jurisdiction. We
  consider ourselves and intend to be subject to the jurisdiction only of the courts of the Hyderabad, Andhra Pradesh in
  India. If you don't agree with any of our disclaimers above please do not read the material on any of our pages. This
  agreement is governed by the law of Republic Of India. You hereby irrevocably consent to the exclusive jurisdiction
  and venue of courts of Hyderabad, Andhra Pradesh- India in all disputes arising out of or relating to the use of the
  Investopresto sites/ services. Use of the Investopresto site/services is unauthorised in any jurisdiction that does
  not give effect to all the provisions of these terms and conditions, including without limitation to this paragraph. You
  agree to indemnify and hold Investopresto, its subsidiaries, owners, affiliates, officers and employees, harmless
  from any claim, demand, or damage, including reasonable attorney’s fees, asserted by any third party due to or
  arising out of your use or conduct on Investopresto sites/services. Investopresto reserves the right to disclose any
  personal information about you or your use of the Investopresto sites/ services, including contents, without your prior
  permission if Investopresto gas a good faith belief that such action is necessary to: 1) Conform to legal requirements
  or comply with legal process; 2) Protect and defend the rights or property of Investopresto or its affiliated companies;
  3) enforce the terms or use; 4) act to protect the interest of its members or other. Investopresto performance of this
  agreement is subject to existing laws and legal process and nothing contained in this agreement is in derogation of
  Investopresto’s rights to comply with governmental, court and law enforcement requests or requirements relating
  to your use of the Investopresto’s site/services or information provided to or gathered by Investopresto with to such
  use. If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including,
  but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable
  provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the
  original provision and the remainder of the agreement shall continue in effect. Unless otherwise specified herein, this
  agreement constitutes the entire agreement between the user and Investopresto with respect to the Investopresto’s
  sites/ services and it supersedes all prior or contemporaneous communications and proposal, whether electronic, oral
  or written, between the user and Investopresto with respect to the Investopresto’s sites/ services.
%p
  Although the access to users outside India is not denied, Investopresto.com shall have no legal liabilities
  whatsoever in any laws of any jurisdiction other than India. We reserve the right to make changes to our site and
  these disclaimers, terms, and conditions at any time.
%p
  Stock trading is inherently risky and you agree to assume complete and full responsibility for the outcomes of all
  trading decisions that you make, including but not limited to loss of capital. None of the stock trading calls made
  by Investopresto and companies associated with it should be construed as an offer to buy or sell securities, nor
  advice to do so. All comments and posts made by Invesotpresto, companies associated with it and employees/
  owners are for information purposes only and under no circumstances should be used for actual trading. Under
  no circumstances should any person at this site make trading decisions based solely on the information discussed
  herein. We are not a qualified financial advisor and you should not construe any information discussed herein to
  constitute investment advice. It is informational in nature.
%p
  You should consult a qualified broker or other financial advisor prior to making any actual investment or trading
  decisions. You agree to not make actual stock trades based on comments on the site, nor on any techniques
  presented nor discussed in this site or any other form of information presentation. All information is for educational
  and informational use only. You agree to consult with a registered investment advisor, which we are not, prior
  to making any trading decision of any kind. Hypothetical or simulated performance results have certain inherent
  limitations. Unlike an actual performance record, simulated results do not represent actual trading. No representation
  is being made that any account will or is likely to achieve profits or losses similar to those shown.
%p
  You agree, by accessing this or any associated site, that Investopresto.com bears no liability for any postings on the
  website or actions of associate site. We reserve the right to deny service to anyone. You, and not Investopresto.com,
  assume the entire cost and risk of any trading you choose to undertake. You are solely responsible for making
  your own investment decisions. If you choose to engage in such transactions with or without seeking advice from a
  licensed and qualified financial advisor or entity, then such decision and any consequences flowing therefrom are
  your sole responsibility. The information and commentaries are not meant to be an endorsement or offering of any
  stock purchase. They are meant to be a guide only, which must be tempered by the investment experience and
  independent decision making process of the subscriber. Investopresto.com or any employees are in no way liable
  for the use of the information by others in investing or trading in investment vehicles utilizing the principles disclosed
  herein. Investopresto.com or any of its employees do not represent themselves as acting in the position of an
  investment advisor or investment manager for the use of the information in this service. The materials and information
  in, and provided by, this site are not, and should not be construed as an offer to buy or sell any of the securities
  named in materials, services, or on-line postings.
%p
  We encourage all investors to use the information on the site as a resource only to further their own research on all
  featured companies, stocks, mutual funds, sectors, markets and information presented on the site. Nothing published
  on this site should be considered as investment advice.
%p
  Investopresto, its management, its associate companies and/or their employees take no responsibility for the
  veracity, validity and the correctness of the expert recommendations or other information or research. Although we
  attempt to research thoroughly on information provided herein, there are no guarantees in accuracy. The information
  presented on the site has been gathered from various sources believed to be providing correct information.
  Investopresto, group, companies, associates and/or employees are not responsible for errors, inaccuracies if any
  in the content provided on the site. Any prediction made on the direction of the stock market or on the direction of
  individual stocks may prove to be incorrect. Users/visitors are expected to refer to other investment resources to
  verify the accuracy of the data posted on this site on their own.
%p
  Investopresto.com does not represent or endorse the accuracy or reliability of any of the information, conversation,
  or content contained on, distributed through, or linked, downloaded or accessed from any of the services contained
  on this website (hereinafter, the "Service"), nor the quality of any products, information or other materials displayed,
  purchased, or obtained by you as a result of any other information or offer by or in connection with the Service.
%p
  Neither Investopresto nor its principals, agents, associates or employees, are licensed to provide investment
  advice. No materials in Investopresto.com , either on behalf of Investopresto.com or any site host, or any participant
  in Investopresto.com or any of its associated sites should be taken as investment advice directly, indirectly, implicitly,
  or in any manner whatsoever, including but not limited to trading of stocks or investing in mutual funds on a short
  term or long term basis, or trading of any financial instruments whatsoever. Past Performance Is Not Indicative of
  Future Returns. All analyst commentary, mutual fund ratings and rankings provided on Investopresto.com is provided
  for information purposes only. This information is NOT a recommendation or solicitation to buy or sell any securities
  or mutual funds. Your use of this and all information contained on Investopresto.com is governed by this Terms and
  Conditions of Use. This material is based upon information that we consider reliable, but we do not represent that
  it is accurate or complete, and that it should be relied upon, as such. You should not rely solely on the Information
  in making any investment. Rather, you should use the Information only as a starting point for doing additional
  independent research in order to allow you to form your own opinion regarding investments.
%p
  By using Investopresto.com including any software and content contained therein, you agree that use of the Service
  is entirely at your own risk. Investopresto.com is not a registered investment advisor or a broker dealer. You
  understand and acknowledge that there is a very high degree of risk involved in trading securities. Past results
  of any trader published on this website are not indicative of future returns by that trader, and are not indicative
  of future returns which be realized by you. Any information, opinions, advice or offers posted by any person
  or entity logged in toInvestopresto.com or any of its associated sites is to be construed as public conversation
  only. Investopresto.com makes no warranties and gives no assurances regarding the truth, timeliness, reliability, or
  good faith of any material posted at Investopresto.com. Investopresto.com does not warrant that trading methods or
  systems presented in their services or the information herein, or obtained from advertisers or members will result in
  profits or losses.
%p
  In this agreement the singular includes the plural and the masculine includes the feminine and neuter and vice
  versa unless the context otherwise requires. If any provision or part of any provision in this Agreement is avoid
  for any reason, it shall be severed without affecting the validity of the balance of the Agreement. There are no
  representations, warranties, conditions, terms or collateral contracts affecting the transaction contemplated in this
  Agreement except as set out in this Agreement. This Agreement binds and benefits the parties and their respective
  heirs, executors, administrators, personal representatives, successors and assigns.
