%section
  %h1 Trade with Kotak and Investopresto
  %p
    Investopresto has teamed up with India’s best online broker #{link_to 'Kotak Securities', 'http://www.kotaksecurities.com', html_options = {:target => "_blank"}}
    to offer our users a smooth trading experience at the lowest rates. What’s even better is that you will deal directly only with Kotak Securities and their executives.

%section
  %h1 Special introductory rates and account opening fee waivers.
  %p
    Investopresto is offering rock-bottom rates for a limited period of time as a way of saying thanks for your support. What’s more? We will also waive account opening fees for the first 100 customers who sign up for brokerage accounts to encourage you to take advantage of these special deals. These are rates that you can only dream of and will not find outside. Don’t believe us? Check out the websites of leading brokerage houses in India and you will find that the typical brokerage on equities(for delivery) is about 0.5% of the trade value.

%section
  %table
    %caption
      %b Our special brokerage rates for a limited period
    %tr
      %th Segment
      %th Brokerage
      %th Minimum Brokerage
    %tr
      %td Equity (delivery)
      %td 0.20%
      %td 2 paisa per share
    %tr
      %td Equity(Intra-Day)
      %td 0.02%
      %td 2 paisa per share
    %tr
      %td Futures
      %td 0.02%
      %td 2 paisa per share
    %tr
      %td Options
      %td Rs 40 per lot
      %td
    %tr
      %td Currencies
      %td 0.02%
      %td 10 Rs per lot
%section
  <iframe src="https://docs.google.com/a/investopresto.com/spreadsheet/embeddedform?formkey=dDRPbkJpdXlJV09kaFFNaXA1YnlFZlE6MQ" width="760" height="973" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

%section
  %h1 Why choose Investopresto and Kotak?
  %ol
    %li
      %b Free stock recommendations and research reports:
      You will get free stock recommendations from the Investopresto #{link_to 'research team', main_app.page_path('research-team')} as well as top tier research reports from the Kotak Research team.
    %li
      %b Free personalized investment advice from the Investopresto research team:
      You will get free access to Investopresto’ top tier research team. They will be available to answer all you investment queries and give you personalized investment advice over email and phone.
    %li
      %b Rock bottom brokerage rates:
      Investopresto is offering rock-bottom rates for a limited period of time as a way of saying thanks for your support.
    %li
      %b Waiver of account opening charges:
      What’s more? We will also waive account opening fees for the first 100 customers who sign up for a trading account with us.
  %p So, you see you get a lot of benefits by signing up for a trading account with Investopresto and Kotak Securities, that you will not get by signing up directly with Kotak or another brokerage firm.

