%section
  %h1 Trading
  %p
    Investopresto has teamed up with India’s best online broker
    =link_to 'Kotak Securities', 'http://www.kotaksecurities.com', html_options = {:target => "_blank"}
    to offer our users a smooth trading experience at the lowest rates. What’s even better is that you will deal directly only with Kotak Securities and their executives.

%section
  %h1 Special introductory rates and account opening fee waivers.
  %p
    Investopresto is offering rock-bottom rates for a limited period of time as a way of saying thanks for your support. Whats more? We will also waive account opening fees for the first 100 customers who sign up for brokerage accounts to encourage you to take advantage of these special deals.

%section
  %table
    %caption
      %b Our special brokerage rates for a limited period
    %tr
      %th Segment
      %th Brokerage
      %th Minimum Brokerage
    %tr
      %td Equity (delivery)
      %td 0.20%
      %td 2 paisa per share
    %tr
      %td Equity(Intra-Day)
      %td 0.02%
      %td 2 paisa per share
    %tr
      %td Future
      %td 0.02%
      %td 2 paisa per share
    %tr
      %td Options
      %td Rs 40 per lot
      %td
    %tr
      %td Currencies
      %td 0.02%
      %td 10 Rs per lot
%section
  <iframe src="https://docs.google.com/a/investopresto.com/spreadsheet/embeddedform?formkey=dDRPbkJpdXlJV09kaFFNaXA1YnlFZlE6MQ" width="760" height="973" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
