<!DOCTYPE html>
<html>
<head>
  <title>JekyllPipeline</title>
  <%= stylesheet_link_tag    "jekyll_pipeline/application", :media => "all" %>
  <%= javascript_include_tag "jekyll_pipeline/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
